<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">选择零配件</span>
            <span class="Dingdan-right" style="color:#9953F0" @click="gotoLingpeijian">确定</span>
        </div>
        <div class="ChooseLingpeijianCenter">
            <div class="ChooseLingpeijainOne">
                <div class="ChooseLingpeijianHeader">
                    <img src="" class="ChooseLingpeijianIcon">
                    <input type="text" placeholder="搜索图纸对应零配件（请输入完整图纸名称）" v-model="WantLingpeijian" class="ChooselingpeijianInput">
                </div>
                <div class="ChooseLingpeijianTwo">
                    <span class="ChooseLingpeijianTwoSpan" @click="RemoveLingpeijian(index)" v-for="(item,index) in ChooseLingpeijianList" :key="index">{{item.name}}</span>
                </div>
            </div>
            <p class="ChooseLingpeijianText">选择零配件（图纸名称 序号 零配件名称 数量）</p>
            <div class="ChooseLingpeijianTwo" style="border-bottom:none">
                <span class="ChooseLingpeijianList" v-for="(item,index) in LingPeijianList" :class="item.check?'Chooseed':''" :key="index" @click="PushLingPeijian(index)">{{item.name}}</span>
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import {mapMutations,mapGetters} from 'vuex'
export default {
    name:'ChooseLingpeijian',
    data(){
        return {
            Newplace:false,
            OldPlace:[
                {
                    name:'老耿',
                    num:'13167781055',
                    place:'上海市浦东新区野生动物园'
                }
            ],
            LingPeijianList:[],
            ChooseLingpeijianList:[],
            WantLingpeijian:'',
            ProductId:''
        }
    },
    watch:{
        WantLingpeijian(n,o){
            this.$axios.get(API+'/api/v1/i/components',{params:{
                'product_id':this.ProductId,
                'keyword':n
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                var arr = []
                response.data.data.map(item=>{
                    arr.push({...item,check:false})
                })
                this.LingPeijianList = arr
                
                this.ChooseLingpeijianList = this.LingpeijianList

                this.LingPeijianList.map(ITEM=>{
                    this.ChooseLingpeijianList.map(ITEMS=>{
                        if(ITEMS.name == ITEM.name){
                            ITEM.check=true
                        }
                    })
                })
            }).catch((error)=>{
                
            })
        }
    },
    created(){
        this.getAllLingpeijian()
    },
    computed:{
        ...mapGetters([
            "LingpeijianList"
        ])
    },
    methods:{
        ...mapMutations({
            setLingpeijianList:'SET_LINGPEIJIANLIST'
        }),
        goBack(){
            this.$router.go(-1)
        },
        goNewPlace(){
            this.$router.push('/NewPlace/')
        },
        //获取零配件
        getAllLingpeijian(){
            if(sessionStorage.getItem('product_id')){
                this.ProductId = JSON.parse(sessionStorage.getItem('product_id'))
            }else{
                this.ProductId = JSON.parse(localStorage.getItem('product_id'))
            }
            this.$axios.get(API+'/api/v1/i/components',{params:{
                'product_id':this.ProductId
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                var arr = []
                response.data.data.map(item=>{
                    arr.push({...item,check:false})
                })
                this.LingPeijianList = arr
                
                this.ChooseLingpeijianList = this.LingpeijianList

                this.LingPeijianList.map(ITEM=>{
                    this.ChooseLingpeijianList.map(ITEMS=>{
                        if(ITEMS.name == ITEM.name){
                            ITEM.check=true
                        }
                    })
                })
            })
        },
        //添加零配件
        PushLingPeijian(index){
            this.LingPeijianList[index].check = !this.LingPeijianList[index].check
            console.log(this.LingPeijianList[index].check)
            if(!this.LingPeijianList[index].check){
                this.ChooseLingpeijianList.map((item,Index)=>{
                    console.log(item,Index)
                    if(item.name == this.LingPeijianList[index].name){
                        this.ChooseLingpeijianList.splice(Index,1)
                    }
                })
            } else {
                if(this.ChooseLingpeijianList.length ===0){
                    this.ChooseLingpeijianList.push(this.LingPeijianList[index])
                }else{
                    for(var i=0;i<this.ChooseLingpeijianList.length;i++){
                        if(this.ChooseLingpeijianList[i].name == this.LingPeijianList[index].name){
                            return 
                        }
                    }
                    this.ChooseLingpeijianList.push(this.LingPeijianList[index])
                }
            }
            console.log(this.ChooseLingpeijianList)
            // if(this.ChooseLingpeijianList.length ===0){
            //     this.ChooseLingpeijianList.push(this.LingPeijianList[index])
            // }else{
            //     for(var i=0;i<this.ChooseLingpeijianList.length;i++){
            //         if(this.ChooseLingpeijianList[i].name == this.LingPeijianList[index].name){
            //             return 
            //         }
            //     }
            //     this.ChooseLingpeijianList.push(this.LingPeijianList[index])
            // }
        },
        //移除零配件
        RemoveLingpeijian(index){
            console.log(this.ChooseLingpeijianList)
            for(var i=0;i<this.LingPeijianList.length;i++){
                if(this.ChooseLingpeijianList[index].name ==this.LingPeijianList[i].name){
                    this.LingPeijianList[i].check = false
                }
            }
            this.ChooseLingpeijianList.splice(index,1)
        },
        gotoLingpeijian(){
            var MyLingpeijian = this.LingpeijianList
            // if(MyLingpeijian.length>0){
            //     this.ChooseLingpeijianList.push(MyLingpeijian)
            // }
            this.setLingpeijianList(this.ChooseLingpeijianList)
            this.$router.push('/Lingpeijian/')
        }
    }
}
</script>

<style>

.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.Chooseplace-icon1{
    margin-right: 1.2rem
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.Dingdan-right{
    float: right;
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold
}
.ChooseLingpeijianCenter{
    padding: 0 0.3rem
}
.ChooseLingpeijainOne{
    /* position: fixed;
    top: 1.6rem */
}
.ChooseLingpeijianHeader{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    width: 100%;
    padding: 0.3rem 0.4rem;
    border-radius: 0.46rem;
    margin-bottom: 0.4rem
}
.ChooseLingpeijianTwo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: #F1F1F1 solid 1px;
    padding-bottom: 0.2rem
}
.ChooseLingpeijianTwoSpan{
    padding: 0.1rem 0.3rem;
    border-radius: 0.26rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem
}
.ChooseLingpeijianText{
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem
}
.ChooseLingpeijianList{
    padding: 0.1rem 0.3rem;
    border-radius: 0.26rem;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    color: #666666;
    background: #F1F1F1
}
.Chooseed{
    border: #9953F0 1px solid;
    background: #fff;
    border-radius: 1rem
}
.ChooselingpeijianInput{
    color: #101012;
    font-size: 14px;
    width: 90%
}
</style>
