<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1 Chooseplace-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1 Chooseplace-icon1">
            </div>
            <span class="Dingdan-title">地址选择</span>
            <span class="Dingdan-right" @click="goNewPlace">添加新地址</span>
        </div>
        <p class="Chooseplaceone">当前使用地址</p>
        <div class="LingpeijianPlace" >
            <img src="../../assets/icon-position.png" class="Lingpeijianicon" v-if="OldPlace.length>0">
            <span class="ChoosePlaces" :class="OldPlace.length>0 ? 'OLDplace':'Newplace'">请添加新收获地址</span>
            <span class="ChoosePlaces" :class="OldPlace.length>0 ? 'Newplace':'OLDplace'">{{MOrenPlace}}</span>
        </div>
        <div v-if="OldPlace.length>0">
            <p class="Chooseplaceone">最近使用地址</p>
            <div class="LingpeijianOldplace" v-if="OldPlace.length>0" v-for="(item,index) in OldPlace" :key="index" @click="gotoLingpeijian(item.id)">
                <span class="LingpeijianOldplaceName">{{item.contact}}</span>
                <span class="LingpeijianOldplaceNum">{{item.tel}}</span>
                <p class="LingpeijianOldplaceP">{{item.province_name+item.city_name+item.district_name+item.address}}</p>
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'Chooseplace',
    data(){
        return {
            Newplace:false,
            OldPlace:[],
            MOrenPlace:''
        }
    },
    created(){
        this.getAllAddresses()
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        goNewPlace(){
            this.$router.push('/NewPlace/')
        },
        //获取收货地址列表
        getAllAddresses(){
            this.$axios.get(API+'/api/v1/i/addresses',{
                "page": 1,
                "per": 10
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                // console.log(response)
                this.OldPlace=response.data.data
                // this.MOrenPlace = this.OldPlace[0].address

                var ADD = response.data.data
                    console.log(ADD)
                    for(var i =0;i<ADD.length;i++){
                        if(ADD[i].id==JSON.parse(localStorage.getItem("DefaultAddress"))){
                            this.MOrenPlace = ADD[i].province_name+ADD[i].city_name+ADD[i].district_name+ADD[i].address
                        }
                    }
            })
        },
        gotoLingpeijian(ID){
            localStorage.setItem("DefaultAddress",JSON.parse(ID))
            this.$router.push('/Lingpeijian')
        }
    }
}
</script>

<style>

.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.Chooseplace-icon1{
    margin-right: 1.2rem
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.Dingdan-right{
    float: right;
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold
}
.LingpeijianPlace{
    margin: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    padding: 0.36rem 0.2rem;
}
.ChoosePlaces{
    font-size: 14px;
    color: #101012
}
.Lingpeijianicon{
    width: 0.3rem;
    height: 0.3rem;
    overflow: hidden;
    margin-right: 0.1rem
}
.Newplace{
    color: #101012;
    font-size: 14px;
}
.LingpeijianOldplace{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin: 0.3rem 0.3rem;
    padding: 0.4rem 0.2rem;
    padding-top: 0.2rem;
}
.LingpeijianOldplaceName{
    color: #666666;
    font-size: 14px;
    margin-right: 0.6rem;
    line-height: 0.74rem
}
.LingpeijianOldplaceNum{
    color: #666666;
    font-size: 14px;
    margin-right: 0.6rem;
    line-height: 0.74rem
}
.LingpeijianOldplaceP{
    color: #101012;
    font-size: 12px;
    font-weight: 500
}
.Chooseplaceone{
    color: #CCCCCC;
    font-size: 12px;
    margin-left: 0.3rem
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.OLDplace{
    display: none
}
</style>
