<template>
    <div style="padding-top:1.6rem;padding-bottom:0.8rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">零配件</span>
            <img src="../../assets/icon-notes-2.png" class="MacInfo-icon2" @click="gotoPhotos">
        </div>
        <mu-col>
            <!-- <mu-select filterable v-model="filterable.value1" full-width> -->
            <mu-select filterable v-model="value2" full-width @change="LingpeijianChanges">
                <mu-option v-for="(item,index) in Lingpeijain" :key="index" :label="item.name" :value="item.name" ></mu-option>
            </mu-select>
        </mu-col>
        <div class="LingpeijianCenter" @click="gotoChooseLingpeijian">
            <span class="LingPeijianTexts">选择您需要购买的零配件</span>
             <img src="../../assets/icon-more3.png" class="LingpeijianMore" >
        </div>

        <div class="LingpeijianCenterNum" v-if="LingpeijianList.length>0">
            <p class="LingpeijianCenterNumHeader">购买零配件的数量</p>
            <div v-for="(item,index) in LingpeijianList" :key="index" class="LingpeijianCenterNumCenter">
                <span class="LingpeijianCenterNumName">{{item.name}}</span>
                <div class="LingpeijianCenterNumRight">
                    <img src="../../assets/icon-num2.png" class="LingpeijianCenterNumAdd" @click="add(index)">
                    <span class="LingpeijianCenterNums">{{item.qty}}</span>
                    <img src="../../assets/icon-num1.png" class="LingpeijianCenterNumAdd" @click="remove(index)">
                </div>
            </div>
        </div>

        <div class="LingpeijianPlace" @click="changePlace">
            <img src="../../assets/icon-position.png" class="Lingpeijianicon">
            <span class="LingpeijianPlaces" v-if="addresses">{{addresses}}</span>
            <span class="LingpeijianPlaces" v-if="!addresses">请选择收获地址</span>
        </div>
        <div class="LingpeijianInfo">
            <textarea class="LingpeijianText" placeholder="备注信息" v-model="LingpeijianBeizhu"></textarea>

            <div style="padding-top:0.2rem;overflow:hidden">
                <!-- <img v-bind:src="item.url" class="MacChangeImages" @click="BigImage(index)" v-for="(item,index) in MacChangeImagesList" :key="index"> -->
                <div v-for="(item,index) in MacChangeImagesList" :key="index" class="MacChangeImages ImagesBox">
                    <img src="../../assets/closeion.png" @click="Remove(index)" class="CloseBut">
                    <img v-bind:src="item.url" class="MacChangeImages" @click="BigImage(index)" >
                </div>
                <!-- <video width="320" height="240" controls class="MacChangeImages" v-for="(item,index) in MacChangeVideosList" :key="index" >
                    <source v-bind:src="item.url" type="video/mp4">
                </video> -->
                <div v-for="(item,index) in MacChangeVideosList" :key="index" class="MacChangeImages ImagesBox">
                    <img src="../../assets/closeion.png" @click="RemoveVideo(index)" class="CloseBut">
                    <video width="320" height="240" controls class="MacChangeImages"  >
                        <source v-bind:src="item.url" type="video/mp4">
                    </video>
                </div>
                <img src="../../assets/icon-img.png" class="MacChangeImages" @click="takePhoto">
            </div>
        </div>
        <div class="LingpeijianSend" @click="FabuLingpeijian">发布</div>
        <XinxiQueren v-if="XinxiQuerenOpen" :XinxiQuerenOpen='XinxiQuerenOpen' v-on:changeXinxiQueren='changeXinxiQueren'></XinxiQueren>
        
        <!-- <PhotoView v-if="ShowPhotoView" :ShowPhotoView='ShowPhotoView' v-on:ClosePhotoView="ClosePhotoView" ></PhotoView> -->
        <PhotoView3 v-if="ShowPhotoView" :ShowPhotoView='ShowPhotoView' v-on:ClosePhotoView="ClosePhotoView" ></PhotoView3>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import Toast from 'muse-ui-toast';
import {mapGetters,mapMutations} from 'vuex'
import PhotoView from '../../common/PhotoView'
import BigImage from '../../common/BigImage'
import PhotoView3 from '../../common/PhotoView3'
import XinxiQueren from '../../common/XinxiQueren'
export default {
    name:'Lingpeijian',
    computed:{
        ...mapGetters(["LingpeijianList","LingpeijianOrder","WhichLingpeijian","ProplemComponentsList",'CeramPhoto',"LingpeijianOrderInfo"])
    },
    components:{
        XinxiQueren,PhotoView,BigImage,PhotoView3
    },
    data(){
        return {
            BigImageOpen:false,
            Lingpeijain:[],
            filterable: {
                value1: '',
                id:''
            },
            value2:'',
            addresses:'',
            LingpeijianBeizhu:'',
            LingpeijianorderInfo:{},
            XinxiQuerenOpen:false,
            ShowPhotoView:false,
            MacChangeImagesList:[],
            MacChangeVideosList:[],
            MacChangeImageListKeys:[],
            MacChangeVideoListKeys:[]
        }
    },
    created(){   
        console.log(this.LingpeijianList)
        this.getAllAddresses()
        this.getAllMyMac()
        if(sessionStorage.getItem('LingpeijianOrderB')){
            this.LingpeijianBeizhu = JSON.parse(sessionStorage.getItem('LingpeijianOrderB'))
        }
        if(sessionStorage.getItem('LingpeijianOrderI')){
            this.MacChangeImagesList = JSON.parse(sessionStorage.getItem('LingpeijianOrderI'))
        }
        if(sessionStorage.getItem('LingpeijianOrderV')){
            this.MacChangeVideosList = JSON.parse(sessionStorage.getItem('LingpeijianOrderV'))
        }
    },
    watch:{
        value2:function(){
            // this.setLingpeijianList([])
            for(var i=0;i<this.Lingpeijain.length;i++){
                if(this.value2 == this.Lingpeijain[i].name){
                    this.setWhichLingpeijian(this.Lingpeijain[i].id)
                    return
                }
            }
        },
        LingpeijianBeizhu(){
            sessionStorage.setItem('LingpeijianOrderB',JSON.stringify(this.LingpeijianBeizhu))
        },
        MacChangeImagesList(){
            sessionStorage.setItem('LingpeijianOrderI',JSON.stringify(this.MacChangeImagesList))
        },
        MacChangeVideosList(){
            sessionStorage.setItem('LingpeijianOrderV',JSON.stringify(this.MacChangeVideosList))
        }
    },
    methods:{
        ...mapMutations({
            setLingpeijianOrder:'SET_LINGPEIJIANORDER',
            setWhichLingpeijian:'SET_WHICHLINGPEIJIAN',
            setLingpeijiandingdanPhotoKeys:'SET_LINGPEIJIANDINGDANPHOTOSKEYS',
            setLingpeijiandingdanVideoKeys:'SET_LINGPEIJIANDINGDANVIDEOKEYS',
            setLingpeijianList:'SET_LINGPEIJIANLIST',
            setLingpeijianOrderInfo:'SET_LINGPEIJIANORDERINFO'
        }),
        gotoPhotos(){
            sessionStorage.setItem('MinePhoto',JSON.stringify('LPJ'))
            this.$router.push('/MacPhotos')
        },
        Remove(index){
            this.MacChangeImagesList.splice(index,1)
        },
        RemoveVideo(index){
            this.MacChangeVideosList.splice(index,1)
        },
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.MacChangeImagesList[index].url))
            this.BigImageOpen = true
            console.log(index)
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        LingpeijianChanges(){
            this.Lingpeijain.map(item=>{
                console.log(item)
                if(item.name == this.value2){
                    sessionStorage.setItem('product_id',JSON.stringify(item.id))
                    return
                }
            })
        },
        MAcLIngpeijianProductId(id){
            for(var i=0;i<this.Lingpeijain.length;i++){
                if(id == this.Lingpeijain[i].name){
                    this.WhichLingpeijian = this.Lingpeijain[i].id
                    this.setWhichLingpeijian(this.Lingpeijain[i].id)
                    return
                }
            }
        },
        goBack(){
            this.setLingpeijianList([])
            this.$router.push('/MyMac/MacInfo/')
        },
        changePlace(){
            this.$router.push('/Chooseplace/')
        },
        gotoChooseLingpeijian(){
            this.$router.push('/ChooseLingpeijian/')
        },
        takePhoto(){
            this.ShowPhotoView = true
        },
        ClosePhotoView(PhotoViewBoxShow){
            if(PhotoViewBoxShow.type == 'image'){
                if(PhotoViewBoxShow.CemaraPhoto.length!==0 ){
                    this.MacChangeImagesList.push(PhotoViewBoxShow.CemaraPhoto)
                }
            }else if(PhotoViewBoxShow.type == 'video'){
                if(PhotoViewBoxShow.CemaraPhoto.length!==0 ){
                    this.MacChangeVideosList.push(PhotoViewBoxShow.CemaraPhoto)
                }
            }
            this.ShowPhotoView = PhotoViewBoxShow.PhotoViewBoxShow
        },
        //获取关联设备
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/i/products',{
                "page": 1,
                "per": 6
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.Lingpeijain = response.data.data
                console.log(this.Lingpeijain)
                if(this.WhichLingpeijian){
                    console.log(this.WhichLingpeijian)
                    for(var i=0;i<this.Lingpeijain.length;i++){
                        if(this.Lingpeijain[i].id == this.WhichLingpeijian){
                            this.value2 = this.Lingpeijain[i].name
                        }
                    }
                }else{
                    var PRODUCT_ID = JSON.parse(localStorage.getItem('product_id'))
                    for(var i=0;i<this.Lingpeijain.length;i++){
                        if(this.Lingpeijain[i].id == PRODUCT_ID){
                            this.value2 = this.Lingpeijain[i].name
                        }
                    }
                }
            })
        },
        getAllAddresses(){
            if(localStorage.getItem("DefaultAddress")){
                this.$axios.get(API+'/api/v1/i/addresses',{
                    "page": 1,
                    "per": 10
                },{
                    headers:{
                        'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                    }
                }).then((response)=>{
                    var ADD = response.data.data
                    console.log(ADD)
                    for(var i =0;i<ADD.length;i++){
                        if(ADD[i].id==JSON.parse(localStorage.getItem("DefaultAddress"))){
                            this.addresses = ADD[i].province_name+ADD[i].city_name+ADD[i].district_name+ADD[i].address
                        }
                    }
                })
                
            }else{
                this.addresses = '请添加收货地址'
            }
        },
        add(index){
            this.LingpeijianList[index].qty ++
        },
        remove(index){
            if(this.LingpeijianList[index].qty==1){
                this.LingpeijianList.splice(index,1)
                console.log(this.LingpeijianList)
                return
            }else{
                this.LingpeijianList[index].qty --
            }
        },
        FabuLingpeijian(){
            // this.LingpeijianorderInfo.product_id = this.filterable.value1,
            if(!this.WhichLingpeijian){
                // alert("请选择设备")
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.error('请选择设备');
                return
            }
            this.LingpeijianorderInfo.product_id = this.WhichLingpeijian
            console.log(this.LingpeijianList.length==0)
            if(this.LingpeijianList.length == 0){
                // alert("请选择需要的零配件")
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.error('请选择需要的零配件');
                return
            }
            if(this.addresses == ''){
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.error('请选择收货地址');
                return
            }
            this.LingpeijianorderInfo.items = this.LingpeijianList,
            this.LingpeijianorderInfo.address_id = JSON.parse(localStorage.getItem("DefaultAddress")),
            this.LingpeijianorderInfo.address = this.addresses,
            this.LingpeijianorderInfo.desc = this.LingpeijianBeizhu,
            this.LingpeijianorderInfo.type = 'buy'
            for(var i=0;i<this.MacChangeImagesList.length;i++){
                this.MacChangeImageListKeys.push(this.MacChangeImagesList[i].key)
            }
            this.MacChangeVideosList.map(item => {
                this.MacChangeVideoListKeys.push(item.key)
                this.MacChangeImageListKeys.push(item.key)
            })
            this.setLingpeijiandingdanPhotoKeys(this.MacChangeImageListKeys)
            this.setLingpeijiandingdanVideoKeys(this.MacChangeVideoListKeys)
            this.setLingpeijianOrder(this.LingpeijianorderInfo)
            console.log(this.LingpeijianOrder)
            console.log(this.LingpeijianorderInfo)
            this.XinxiQuerenOpen = true
        },
        changeXinxiQueren(value){
            this.XinxiQuerenOpen = value
        }
    }
}
</script>

<style>
.CloseBut{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: -0.2rem;
    right: -0.2rem
}
.MacInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.06rem;
}
.ImagesBox{
    float: left;
    position: relative;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.LingPeijianTexts{
    color: #101012;
    font-size: 14px;
    /* font-weight: 400; */

}
.col{
    padding: 0
}
.mu-input-focus-line{
    display: none;
}
.mu-input-line{
    display: none
}
.mu-select{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    color: #E0E0E0;
    margin: 0 0.3rem ;
    width: 6.9rem;
    padding: 0.2rem 0
}
.mu-select-input{
    color: #101012;
    font-size: 14px;
    padding-left: 0.2rem;
}
.mu-option.is-selected .mu-item{
    color: #101012;
}
.LingpeijianCenter{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin:0 0.3rem;
    padding: 0.3rem 0.2rem
}
.Lingpeijianicon{
    width: 0.3rem;
    height: 0.3rem;
    overflow: hidden;
    margin-right: 0.1rem
}
.LingpeijianPlace{
    margin: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    padding: 0.36rem 0.2rem;
}
.LingpeijianPlaces{
    font-size: 14px;
    color: #101012
}
.LingpeijianText{
    outline: none;
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: #F1F1F1 solid 1px;
    /* margin-bottom: 0.3rem */
}
.LingpeijianInfo{
    margin: 0 0.3rem;
    padding: 0 0.2rem;
    background: #fff;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    font-size: 14px;
    font-weight: normal;
    padding-top: 0.3rem;
    margin-bottom: 2rem
}
.LingpeijianSend{
    margin-left: 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 0.46rem;
}
.LingpeijianCenterNum{
    margin: 0 0.3rem;
    padding: 0.2rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin-top: 0.3rem
}
.LingpeijianCenterNumHeader{
    color: #999999;
    font-size: 14px;
    /* font-weight: bold; */
    margin-bottom: 0.3rem
}
.LingpeijianCenterNumCenter{
    overflow: hidden;
    margin-bottom: 0.5rem
}
.LingpeijianCenterNumName{
    color: #101012;
    font-size: 14px;
    width: 70%;
    display: inline-block;
}
.LingpeijianCenterNumRight{
    float: right;
    overflow: hidden;
}
.LingpeijianCenterNumAdd{
    width: 0.5rem;
    height: 0.5rem;
    float: right;
}
.LingpeijianCenterNums{
    color: #101012;
    font-size: 14px;
    float: right;
    margin: 0 0.26rem
}
.mu-option.is-focused{
    background: none
}
.LingpeijianMore{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.08rem;
    margin-left: 0.2rem;
}
.MacChangeImages{
    width: 2.48rem;
    height: 2.48rem;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem
}
.MacChangeImage{
    margin-right: 0.3rem;
    margin-bottom: 0.2rem
}
</style>
