<template>
	<div class="ntabberWarps">
		<div class="nwarp">
			<Item v-for='(item,index) in tabbarDes' :key="index" :txt="item.txt" :page='item.page' @change='getVal' :sel='selected'></Item>
		</div>
	</div>
</template>

<script >
	import Item from './Item.vue'
	export default{
		components:{
			Item
		},
		name:'ChooseMacNavbar',
		created(){
			console.log(this.$route.path)
			console.log(this.$route.path.slice(15).indexOf('/') < 0 ? this.$route.path.slice(15) : this.$route.path.slice(16).slice(0,15))
		},
		data:function(){
			return{
				selected:this.$route.path.slice(15).indexOf('/') < 0 ? this.$route.path.slice(15) : this.$route.path.slice(16).slice(0,15),
				tabbarDes:[
					{
						txt:'标准部分',
						page:'standard',
						
					},								
					{
						txt:'客户部分',
						page:'customer',
					}
				]
			}
		},
		methods:{
			getVal:function(res){
				this.selected = res;
			}
		}
	}
</script>

<style >
	.nwarp{
		width: 100%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 0;
	}
	.nwarp img{
		width: 20px;
		height: 20px;
	}
	.ntabberWarps img{
		width: 0.4rem;
    	height: 0.4rem;
    	background: red
 
	}
	.ntabberWarps span{
		font-size: 15px;
    	color: #999999;
		font-weight: bold
	}
	.ntabberWarps{
		width: 100%;
		overflow: hidden;
		padding:0.1rem 0;
		background: #fff;
		z-index: 100;
		/* margin-bottom: 0.5rem; */
		/* position: fixed; */
	}
</style>
