<template>
	<div class="tabberWarp" >
		<div class="warp">
			<Item v-for='(item,index) in tabbarDes' :key="index" :txt="item.txt" :page='item.page' @change='getVal' :sel='selected'>
				<img :src="item.normalImg" slot='normalImg'>
				<img :src="item.activeImg" slot='activeImg'>
			</Item>
		</div>
		
	</div>
</template>

<script >
	import Item from './Item.vue'
	export default{
		components:{
			Item
		},
		
		name:'Tabbar',
		data:function(){
			return{
				// nowpages:this.$router.path,
				selected: this.$route.path.slice(7).indexOf('/') < 0 ? this.$route.path.slice(7) : this.$route.path.slice(7).slice(0,7),
				tabbarDes:[
					{
						txt:'首页',
						page:'MacInfo',
						normalImg:require('../../assets/icon-1.png'),
						activeImg:require('../../assets/icon-1-on.png')
						
					},				
					{
						txt:'订单',
						page:'Dingdan',
						normalImg:require('../../assets/icon-2.png'),
						activeImg:require('../../assets/icon-2-on.png')
					},
					{
						txt:'',
						page:'',
						// normalImg:require(''),
						// activeImg:require('')
						normalImg:'',
						activeImg:''
					},
					{
						txt:'消息',
						page:'Xiaoxi',
						normalImg:require('../../assets/icon-3.png'),
						activeImg:require('../../assets/icon-3-on.png')
					},
					{
						txt:'我的',
						page:'My',
						normalImg:require('../../assets/icon-4.png'),
						activeImg:require('../../assets/icon-4-on.png')
					}
				],
				NewMsgs:false
			}
		},
		methods:{
			getVal:function(res){
				this.selected = res;
			}
		}
	}
</script>

<style >
	.warp{
		width: 100%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 0;
	}
	.warp img{
		width: 20px;
		height: 20px;
	}
	.tabberWarp img{
		width: 0.4rem;
    	height: 0.4rem;
	}
	.tabberWarp span{
		font-size: 11px;
    	color: rgba(153, 83, 240, 0.4)
 
	}
	.tabberWarp{
		position: fixed;
		bottom: 0;
		width: 100%;
		overflow: hidden;
		box-shadow:1px 1px 15px rgba(34,24,21,0.08);
		padding:0.1rem 0;
		background: #fff;
		z-index: 100;
	}
	
</style>
