<template>
    <div style="position:relative;">
        <div class="MyOne">
            <span class="MyWorkInfor" @click="gotoMyInformation">账户信息</span>
        </div>
        <div class="MyTwo">
            <div class="MyTwoHeader">
                <!-- <img src="../../assets/221543839474_.pic.jpg" class="MyTwoImg"> -->
                <img v-bind:src="MineTouxiang" class="MyTwoImg" @click="changeTouxiang" v-if="MineTouxiang">
                <img src="../../assets/221543839474_.pic.jpg" class="MyTwoImg" @click="changeTouxiang" v-if="!MineTouxiang">
            </div>
            <p class="MyTwoName" @click="gotoChangeName">{{MyInfo.name}}</p>
            <p class="MyTwoCompany">{{MyInfo.company_name}}</p>
            <div class="MyTwoCenter">
                <div class="MyTwoCenters" @click="gotopendingDingdan">
                    <p class="MyTwoCentersHeader">待处理</p>
                    <p class="MyTwoCentersFoot">{{MyInfo.pending_count}}</p>
                </div>
                <div class="MyTwoCenters" @click="gototouchingDingdan">
                    <p class="MyTwoCentersHeader">沟通中</p>
                    <p class="MyTwoCentersFoot">{{MyInfo.touching_count}}</p>
                </div>
                <div class="MyTwoCenters" @click="gotofinishedDingdan">
                    <p class="MyTwoCentersHeader">已结束</p>
                    <p class="MyTwoCentersFoot">{{MyInfo.finished_count}}</p>
                </div>
            </div>
        </div>
        <div class="MyThree">
            <div class="MyThreeCenter" @click="gotoMyLingpeijian">
                <img src="../../assets/icon-person1.png" class="MyThreeIcon">
                <span class="MyThreeName">零配件订单</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
            </div>
            <div class="MyThreeCenter" @click="gotoMyAboutMac">
                <img src="../../assets/icon-person2.png" class="MyThreeIcon">
                <span class="MyThreeName">关联设备</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
            </div>
            <div class="MyThreeCenter" @click="gotoMyPinglun">
                <img src="../../assets/icon-person3.png" class="MyThreeIcon">
                <span class="MyThreeName">我的评论</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
            </div>
            <div class="MyThreeCenter" @click="gotoMyPlace">
                <img src="../../assets/icon-person4.png" class="MyThreeIcon">
                <span class="MyThreeName">我的地址</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
            </div>
            <div class="MyThreeCenter" @click="gotoAboutLongTeng">
                <img src="../../assets/icon-person5.png" class="MyThreeIcon">
                <span class="MyThreeName">关于我们</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
            </div>
            <div class="MyThreeCenter" @click="gotoMyProblem">
                <img src="../../assets/icon-person6.png" class="MyThreeIcon">
                <span class="MyThreeName">帮助与反馈</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
            </div>
            <div class="MyThreeCenter" @click="gotoMySet">
                <img src="../../assets/icon-person7.png" class="MyThreeIcon">
                <span class="MyThreeName">设置</span>
                <img src="../../assets/icon-more3.png" class="LingpeijianMore">
            </div>
        </div>
        <div style="height:10.5rem;"></div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import Toast from 'muse-ui-toast';
export default {
    name:'My',
    data(){
        return {
            MyInfo:{},
            MineTouxiang:'',
            ImgKey:'',
            ImgUrl:''
        }
    },
    created(){
        this.getAllMyInfo()
    },
    methods:{
        gotoMyInformation(){
            this.$router.push('/MyInformation/')
        },
        gotoMyLingpeijian(){
            this.$router.push('/MyLingpeijian/')
        },
        gotoMyAboutMac(){
            this.$router.push('/MyAboutMac/')
        },
        gotoMyPinglun(){
            this.$router.push('/MyPinglun/')
        },
        gotoMyPlace(){
            this.$router.push('/MyPlace/')
        },
        gotoAboutLongTeng(){
            this.$router.push('/AboutLongTeng/')
        },
        gotoMyProblem(){
            this.$router.push('/MyProblem/')
        },
        gotoMySet(){
            this.$router.push('/MySet/')
        },
        gotopendingDingdan(){
            sessionStorage.setItem("DingdanType",JSON.stringify('pending'))
            this.$router.push('/MyMac/Dingdan/All')
        },
        gototouchingDingdan(){
            sessionStorage.setItem("DingdanType",JSON.stringify('touching'))
            this.$router.push('/MyMac/Dingdan/All')
        },
        gotofinishedDingdan(){
            sessionStorage.setItem("DingdanType",JSON.stringify('finished'))
            this.$router.push('/MyMac/Dingdan/All')
        },
        gotoChangeName(){
            this.$router.push('/ChangeName/')
        },
        //获得所有信息
        getAllMyInfo(){
            this.$axios.get(API+'/api/v1/i/profile',{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.MyInfo = response.data.data
                this.MineTouxiang = response.data.data.avatar_url
                console.log(this.MyInfo)
            })
        },
        changeTouxiang(e){
            var that = this;
            navigator.camera.getPicture(onSuccess, onFail, {
                quality: 50,
                sourceType : Camera.PictureSourceType.PHOTOLIBRARY,
                mediaType: Camera.MediaType.PICTURE,
                destinationType: Camera.DestinationType.DATA_URL
            });
            function onSuccess(imageData) {
                var file = that.dataURLtoFile('data:image/jpeg;base64,' + imageData, 'img');
                var formData = new FormData()
                formData.append("file", file)
                that.$axios.post(API+'/api/v1/common/upload_file',formData,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((response)=>{
                    console.log(response)
                    console.log(response.data)
                    console.log(response.data.url)
                    localStorage.setItem('MineTouxiang',JSON.stringify(response.data.url))
                    that.ImgKey = response.data.key
                    that.ImgUrl = response.data.url
                    that.$axios.post(API+'/api/v1/i/set_profile',{
                        "avatar_key":that.ImgKey
                    },{
                        headers:{
                            'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                        }
                    }).then((res)=>{
                        console.log(res)
                        if(res.data.code == 0){
                            console.log(that.ImgUrl)
                            that.MineTouxiang = that.ImgUrl
                        }else{
                            // alert(res.data.msg)
                            Toast.config({
                                position:'top',
                                time: 1000,
                                close:false,
                            })
                            Toast.error(res.data.msg);
                        }
                    }).catch(error=>{
                        console.log(error)
                    })
                }).catch((error)=>{
                    console.log(error)
                    // alert(error)
                    // alert('上传失败，请检查网络')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('上传失败,请检查网络设置');
                })
            }
            function onFail(message) {}
            return false
        },
        dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(',')
            var mime = arr[0].match(/:(.*?);/)[1]
            var bstr = window.atob(arr[1])
            var n = bstr.length
            var u8arr = new Uint8Array(n)
            while (n--) {
            u8arr[n] = bstr.charCodeAt(n)
            }
            var blob = new Blob([u8arr], {
            type: mime
            })
            blob.lastModifiedDate = new Date()
            blob.name = filename
            return blob
        },
    }
}
</script>

<style>
.MyOne{
    width: 100%;
    height: 3.6rem;;
    background: linear-gradient(to right, #9953F0 , #7465E9);
}
.MyTwo{
    position: absolute;
    width: 6.9rem;
    height: 3.2rem;
    border-radius: 0.1rem;
    top:1.6rem;
    left: 0.3rem;
    background: #fff;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    padding-top: 0.8rem
}
.MyTwoHeader{

}
.MyTwoImg{
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    left: 2.9rem;
    top: -0.7rem;
    border: 5px solid #fff
}
.MyTwoName{
    color: #101012;
    text-align: center;
    font-size: 18px;
    font-weight: bold
}
.MyTwoCompany{
    color: #CCCCCC;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0.4rem
}
.MyTwoCenter{
    display: flex;
    justify-content:space-around;
}
.MyTwoCenters{
    text-align: center;
}
.MyTwoCentersHeader{
    color: #666666;
    font-size: 12px;
}
.MyTwoCentersFoot{
    font-size: 22px;
    color: #101012;
    font-weight: bold
}
.MyThree{
    position: absolute;
    left: 0.3rem;
    /* height:7.2rem; */
    width: 6.9rem;
    top: 5.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
}
.MyThreeCenter{
    padding: 0.3rem;
    overflow: hidden
}
.MyThreeName{
    color: #101012;
    font-size: 15px;
    float: left;
}
.MyThreeIcon{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    margin-right: 0.3rem
}
.LingpeijianMore{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.08rem;
    margin-left: 0.2rem;
}
.MyWorkInfor{
    position: absolute;
    float: right;
    right: 0.3rem;
    top: 0.5rem;
    color: #fff;
    font-size: 14px;
}
</style>
