<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">设备整改记录</span>
            <!-- <img src="../../assets/icon-nav-share.png" class="DingdanInfo-icon2"> -->
        </div>
        <div class="MyAboutMacInfoCenter" v-if="HelpList.length !==0">
            <p class="MyAboutMacInfoName">{{MacInfo.name}}</p>
            <div class="MyAboutMacTwo MyAboutMacInfos">
                <img src="../../assets/icon-notes-1.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">{{MacInfo.model}}</span>
                <img src="../../assets/icon-notes-4.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName" v-if="MacInfo.volume">{{MacInfo.volume}}</span>
                <span class="MyAboutMacTwoName" v-if="!MacInfo.volume">未填写</span>
                <img src="../../assets/icon-notes-5.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName" v-if="MacInfo.weight">{{MacInfo.weight}}</span>
                <span class="MyAboutMacTwoName" v-if="!MacInfo.weight">未填写</span>
            </div>
            <p class="MyAboutMacInfoTime">关联时间：{{MacInfo.associated_at}}</p>
            <p class="MyAboutMacInfoBaoyang">求助记录</p>
            <div v-if="HelpList.length>0">
                <div class="MyAboutMacInfoBaoyangCenter" v-for="(item,index) in HelpList" :key="index" >
                    <div class="MyAboutMacInfoCenterHeader">
                        <img src="../../assets/icon-notes-time.png" class="MyAboutMacInfoIcon1">
                        <span class="MyAboutMacInfoCenterTime">{{item.order_at}}</span>
                        <span class="MyAboutMacInfoCenterTime">{{item.type_name}}</span>
                    </div>
                    <div class="MyAboutMacInfoCenters">
                        <p class="MyAboutMacInfoCenterProduc">{{item.remark}}</p>
                        <div class="MyAboutMacInfoImages" >
                            <img v-bind:src="Item.url" class="MyAboutMacInfoImage" v-if="Item.type == 'image'" v-for="(Item,Index) in item.pics" :key="Index">
                            <video width="320" height="240" controls v-bind:poster="Item.thumb_url" class="MyAboutMacInfoVideo" v-if="Item.type == 'video'" v-for="(Item,Index) in item.pics" :key="Index">
                                <source v-bind:src="Item.url" type="video/mp4">
                            </video>
                        </div>
                        <p class="MyAboutMacInfoCenterPeople">处理师傅：{{item.staff_name}}</p>
                        <p class="MyAboutMacInfoCenterReason">{{item.staff_remark}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="HelpList.length ==0">
            <img src="../../assets/icon-blank-zhenggai.png" class="WithoutPhoto">
            <p class="WithoutMyAboutMac">暂无设备整改记录</p>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'MyAboutMacInfo',
    data(){
        return {
            HelpList:[],
            MacInfo:{}
        }
    },
    created(){
        this.getAllInspects()
        this.getMacInfo()
    },
    methods:{
        goBack(){
            // this.$router.push('/MyMac/My')
            this.$router.go(-1)
        },
        //获取整改记录
        getAllInspects(){
            this.$axios.get(API+'/api/v1/i/product_order_histories',{params:{
                "product_id": this.$route.params.id,
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                console.log(response.data.data)
                this.HelpList = response.data.data
            })
        },
        //获取设备信息
        getMacInfo(){
            this.$axios.get(API+'/api/v1/i/product_info',{params:{
                "product_id": this.$route.params.id,
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                console.log(response.data.data)
                this.MacInfo = response.data.data
            })
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.MyAboutMacTwo{
    overflow: hidden;
    margin-bottom: 0.16rem
}
.MyAboutMacIcon2{
    width: 0.24rem;
    height: 0.24rem;
    float: left;
    margin-right: 0.1rem;
    margin-top: 0.06rem
}
.MyAboutMacTwoName{
    color: #CCCCCC;
    font-size: 11px;
    margin-right: 0.3rem;
    float: left;
}
.MyAboutMacInfoCenter{
    margin: 0 0.3rem
}
.MyAboutMacInfoName{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.1rem
}
.MyAboutMacInfoTime{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.4rem
}
.MyAboutMacInfoBaoyang{
    color: #999999;
    font-size: 12px;
    font-weight: bold
}
.MyAboutMacInfoBaoyangCenter{
    margin-top: 0.1rem;
    padding-top: 0.4rem;
    border-top: #F1F1F1 1px solid;
}
.MyAboutMacInfoCenterHeader{
    overflow: hidden;
    margin-bottom: 0.1rem
}
.MyAboutMacInfoIcon1{
    width: 0.24rem;
    height: 0.24rem;
    float: left;
    margin-right: 0.2rem;
    margin-top: 0.04rem
}
.MyAboutMacInfoCenterTime{
    color: #101012;
    /* font-weight: bold; */
    font-size: 12px;
    float: left;
    margin-right: 0.3rem
}
.MyAboutMacInfoCenterProduc{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.1rem
}
.MyAboutMacInfoImages{
    position: flex;
    flex-wrap:wrap;
    margin-bottom: 0.2rem
}
.MyAboutMacInfoImage{
    width: 1.46rem;
    height: 1.46rem;
}
.MyAboutMacInfoVideo{
    width: 3.46rem;
    height: 3.46rem;
}
.MyAboutMacInfoCenterPeople{
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0.1rem
}
.MyAboutMacInfoCenterReason{
    color: #666666;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0.6rem
}
.MyAboutMacInfoCenters{
    margin-left: 0.42rem
}
.MyAboutMacInfos{
    padding: 0.1rem 0;
    border: none
}
.WithoutMyAboutMac{
    text-align: center;
    margin-top: 0.6rem;
    font-size: 16px;
    color: #BBB;
    /* font-weight: bold */
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
</style>
