<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">关联设备</span>
            <span class="MyAboutMactianjia" @click="gotoWriter">添加设备</span>
        </div>
        <div class="MyAboutMacCneter"  v-for="(item,index) in AllMyMac" :key="index">
            <div class="MyAboutMacHeader" @click="gotoMyAboutMacInfo(index)">
                <img src="../../assets/icon-equip.png" class="MyAboutMacIcon1">
                <span class="MyAboutMacHeaderName">{{item.name}}</span>
            </div>
            <div class="MyAboutMacTwo" >
                <img src="../../assets/icon-notes-1.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">{{item.model}}</span>
                <img src="../../assets/icon-notes-6.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">{{item.created_at}}</span>
                <!-- <img src="../../assets/icon-notes-5.png" class="MyAboutMacIcon2">
                <span class="MyAboutMacTwoName">250kg</span> -->
            </div>
            <div class="MyAboutMacFoot">
                <span class="MyAboutMacTime" >关联时间：<span style="font-weight: bold;">{{item.created_at}}</span></span>
                <span class="MyAboutMacDelet" @click="macDeletOpen(index)">解除关联</span>
            </div>
        </div>

        <div v-if="AllMyMac.length == 0">
            <img src="../../assets/icon-blank-shebei.png" class="WithoutPhoto">
            <p class="WithoutMyAboutMac">暂无关联设备，请添加</p>
        </div>
        <MacDelet v-if="MacDeletOpen" :MacDeletOpen='MacDeletOpen' :MacID='MacID' :MacName='MacName' v-on:changeDeletPopup='changeDeletPopup'></MacDelet>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import MacDelet from '../../common/MacDelet'
export default {
    name:'MyAboutMac',
    components:{
        MacDelet
    },
    data(){
        return {
            AllMyMac:[],
            MacDeletOpen:false,
            MacID:'',
            MacName:''
        }
    },
    created(){
        this.getAllMyMac()
    },
    methods:{
        macDeletOpen(value){
            this.MacID = this.AllMyMac[value].id
            this.MacName = this.AllMyMac[value].name
            this.MacDeletOpen = true
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.MacDeletOpen = Props
            this.getAllMyMac()
        },
        goBack(){
            this.$router.go(-1)
        },
        gotoWriter(){
            this.$router.push('/xilieChoose/')
        },
        gotoMyAboutMacInfo(value){
            var ID = this.AllMyMac[value].id
            this.$router.push('/MyAboutMacInfo/'+ID)
        },
        //获取关联设备
        getAllMyMac(){
            this.$axios.get(API+'/api/v1/i/products',{
                "page": 1,
                "per": 6
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.AllMyMac = response.data.data
                console.log(this.AllMyMac)
            })
        },
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.MyAboutMactianjia{
    float: right;
    color: #9953F0;
    font-size: 14px;
    /* font-weight: bold */
}
.MyAboutMacCneter{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin-bottom: 0.3rem
}
.MyAboutMacHeader{
    padding: 0.3rem;
    padding-bottom: 0.2rem;
    overflow: hidden;
}
.MyAboutMacIcon1{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.2rem;
    float: left;
    margin-top: 0.08rem
}
.MyAboutMacHeaderName{
    color: #101012;
    font-size: 15px;
    float: left;
}
.MyAboutMacTwo{
    padding: 0.3rem;
    padding-top: 0rem;
    overflow: hidden;
    border-bottom: rgba(34, 24, 21, 0.08) 1px solid
}
.MyAboutMacIcon2{
    width: 0.24rem;
    height: 0.24rem;
    float: left;
    margin-right: 0.1rem;
    margin-top: 0.06rem
}
.MyAboutMacTwoName{
    color: #CCCCCC;
    font-size: 11px;
    margin-right: 0.3rem;
    float: left;
}
.MyAboutMacFoot{
    overflow: hidden;
    padding: 0.2rem
}
.MyAboutMacTime{
    color: #999999;
    font-size: 12px;
    /* font-weight: bold; */
    float: left;
    line-height: 0.6rem
}
.MyAboutMacDelet{
    display: inline-block;
    padding: 0.05rem 0.3rem;
    text-align: center;
    color: #CCCCCC;
    border-radius: 0.26rem;
    border:1px solid #ECECEC;
    font-weight: bold;
    float: right;
    margin-top: 0.05rem
}
.WithoutMyAboutMac{
    text-align: center;
    margin-top: 0.6rem;
    font-size: 16px;
    color: #BBB;
    /* font-weight: bold */
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
</style>
