<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">零配件订单</span>
        </div>

        <div class="MyLingpeijianBox" v-for="(item,index) in AllMyLingpeijian" :key="index" @click="gotoDIngdanInfo(index)">
            <div class="MyLingpeijianHeader" >
                <img src="../../assets/icon-equip.png" class="MyLingpeijianHeaderIcon">
                <span class="MyLingpeijianHeaderName">{{item.product_name}}</span>
                <span class="MyLingpeijianHeaderType">{{item.state_name}}</span>
            </div>
            <div class="MyLingpeijianCenter">
                <div class="MyLingpeijianCenters" v-for="(Item,Index) in item.items" :key="Index" >
                    <span class="MyLingpeijianCenterName">{{Item.name}}</span>
                    <span class="MyLingpeijianCenterPrice">¥{{Item.price}}</span>
                    <span class="MyLingpeijianCenterNum">{{Item.qty}}</span>
                </div>
            </div>
            <div class="MyLingpeijianFoot" v-if="item.state=='finished'" >
                <span class="MyLingpeijianFootType">{{item.logistic_company}} {{item.logistic_num}}</span>
                <span class="MyLingpeijianFootPingjia MyLingpeijianFootPingjiaed" v-if="item.has_comment">已评价</span>
                <span class="MyLingpeijianFootPingjia" @click="PopupOpen(index)" v-if="!item.has_comment">评价</span>
                <span class="MyLingpeijianFootDelet" @click="dingdanDeletOpen">删除</span>
            </div>
        </div>
        <div v-if="AllMyLingpeijian.length == 0">
            <img src="../../assets/icon-blank-pinglun.png" class="WithoutPhoto">
            <p class="WithoutPinglun">暂时没有零配件订单</p>
        </div>
        <DingdanDelet v-if="DingdanDeletOpen" :DingdanDeletOpen='DingdanDeletOpen' v-on:changeDeletPopup='changeDeletPopup'></DingdanDelet>
        <popup v-on:changePopup="changePopup" v-if="popupopen" :PopupClose='popupopen'></popup>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import DingdanDelet from '../../common/DingdanDelet'
import popup from "../../common/Popup";
export default {
    name:'MyLingpeijian',
    components:{
        DingdanDelet,popup
    },
    data(){
        return {
            DingdanDeletOpen:false,
            popupopen:false,
            AllMyLingpeijian:[],
            LingpeijianList:[]
        }
    },
    created(){
        this.getAllOrders()
    },
    methods:{
        goBack(){
            this.$router.push('/MyMac/My')
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.DingdanDeletOpen = Props
        },  
        dingdanDeletOpen(){
            this.DingdanDeletOpen = true
            console.log(this.DingdanDeletOpen)
        },
        changePopup(Props){
            // this.$router.go(0)
            this.popupopen = Props
        },
        PopupOpen(value){
            var ID = this.AllMyLingpeijian[value].id
            sessionStorage.setItem('OrderId',JSON.stringify(ID))
            this.popupopen = true
        },
        getAllOrders(){
            this.$axios.get(API+'/api/v1/i/orders',{params:{
                "page": 1,
                "per": 10,
                "state": 'all',
                "type": 'buy'
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.AllMyLingpeijian = response.data.data
                console.log(this.AllMyLingpeijian)
            })
        },
        gotoDIngdanInfo(value){
            var ID = this.AllMyLingpeijian[value].id
            this.$router.push('/LingpeijianDingdanInfo/'+ID)
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.MyLingpeijianBox{
    margin:0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin-bottom: 0.3rem
}
.MyLingpeijianHeader{
    overflow: hidden;
    border-bottom: rgba(34, 24, 21, 0.08) 1px solid;
    padding: 0.36rem 0.3rem;
    padding-bottom: 0.2rem
}
.MyLingpeijianHeaderIcon{
    width: 0.3rem;
    height: 0.3rem;
    float: left;
    margin-right: 0.2rem;
    margin-top: 0.06rem
}
.MyLingpeijianHeaderName{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
    float: left;
}
.MyLingpeijianHeaderType{
    color: #101012;
    font-size: 12px;
    /* font-weight: bold; */
    float: right;
    line-height: 0.5rem
}
.MyLingpeijianCenter{
    border-bottom: rgba(34, 24, 21, 0.08) 1px solid;
    padding: 0.36rem 0.3rem;
    padding-bottom: 0.2rem
}
.MyLingpeijianCenters{
    overflow: hidden;
    margin-bottom: 0.2rem
}
.MyLingpeijianCenterName{
    color: #101012;
    font-size: 12px;
    font-weight: bold;
    float: left;
}
.MyLingpeijianCenterNum{
    color: #101012;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-right: 0.6rem
}
.MyLingpeijianCenterPrice{
    color: #F0895E;
    font-size: 12px;
    font-weight: bold;
    float: right;
    width: 15%
}
.MyLingpeijianFoot{
    padding: 0.3rem;
    overflow: hidden
}
.MyLingpeijianFootType{
    color: #CCCCCC;
    font-size: 12px;
    font-weight: bold;
    float: left;
    line-height: 0.6rem
}
.MyLingpeijianFootDelet{
    display: inline-block;
    float: right;
    color: #999999;
    padding: 0.1rem 0.36rem;
    border: #CCCCCC 1px solid;
    border-radius: 1rem;
    font-weight: bold;
    margin-right: 0.3rem
}
.MyLingpeijianFootPingjia{
    display: inline-block;
    float: right;
    color: #FFFFFF;
    padding: 0.1rem 0.36rem;
    /* border: #CCCCCC 1px solid; */
    border-radius: 0.26rem;
    font-weight: bold;
    background: linear-gradient(to right, #9953F0 , #7465E9);
}
.MyLingpeijianFootPingjiaed{
    background: #F1F1F1;
    color: #CCCCCC;
    border: none
}
.WithoutPinglun{
    text-align: center;
    color: #BBB;
    font-size: 16px;
    margin-top: 0.6rem
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
</style>
