<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">修改手机号 </span>
        </div>
        <div class="NewPlacePeople">
            <span class="NewPlacePeoples">新手机号：</span>
            <input type="text" class="NewPlaceName" v-model="contact" placeholder="请输入新手机号">
        </div>
        <div class="NewPlacePeople">
            <span class="NewPlacePeoples">验证码：</span>
            <input type="text" class="NewPlaceName1" v-model="contact1" placeholder="请输入验证码">
            <span class="MyPhoneNextYan" v-show="ShowYanZhengMa" @click="GetCaptcha">获取验证码</span>
            <span class="MyPhoneNextYan" v-show="!ShowYanZhengMa" >{{count}}S</span>
        </div>
        <div class="MySetCenterFoot" @click="gotoMyInformation">确认更改</div>
        <div class="MyPhoneNextZhu">没收到验证码？等待{{count}}S后重新获取</div>
    </div>
</template>
<script>
const TIME_COUNT = 60
import {API} from '../../api/config.js'
import {mapMutations, mapGetters} from 'vuex'
import Toast from 'muse-ui-toast';
export default {
    name:'MyPhoneNext',
    computed:{
        ...mapGetters(["userInfo"])
    },
    data(){
        return {
            contact:'',
            contact1:'',
            ShowYanZhengMa:true,
            count:'',
            timer:null
        }
    },
    methods:{
        ...mapMutations({
            setUserinfo: 'SET_USERINFO',
        }),
        goBack(){
            this.$router.push('/MyInformation/')
        },
        gotoMyInformation(){
            if(this.contact1==''||this.contact1==null){
            //   alert("验证码不能为空！")
            Toast.config({
                position:'top',
                time: 1000,
                close:false,
            })
            Toast.warning('验证码不能为空！');
              return false
          }
            this.$axios.post(API + '/api/v1/i/change_tel',{
                "tel":this.contact,
                "captcha":this.contact1
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((res)=>{
                console.log(res)
                if(res.data.code == 0){
                    // alert('更换成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('更换成功');
                    localStorage.setItem("userInfo",JSON.stringify(res.data))
                    this.setUserinfo(res.data)
                    this.$router.push('/MyInformation/')
                }else{
                    // alert(res.data.msg)
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(res.data.msg);
                }
            }).catch((res)=>{
                // alert("更换失败，请检查网络")
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.error('更换失败，请检查网络');
            })
        },
        GetCaptcha(){
          let that = this
          if(that.contact==""||that.contact==null){
            //   alert("手机号不能为空！")
            Toast.config({
                position:'top',
                time: 1000,
                close:false,
            })
            Toast.warning('手机号不能为空！');
              return false
          }
        //   var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
        var phoneReg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
          var phone = $.trim(that.contact);
          if(!phoneReg.test(phone)){
            //   alert("请输入正确的手机号！")
            Toast.config({
                position:'top',
                time: 1000,
                close:false,
            })
            Toast.warning('请输入正确的手机号！');
              return false
          }
          that.$axios.post(API + '/api/v1/i/send_captcha',{
              "tel":that.contact,
          },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
              if(response.data.code == -1){
                //   alert(response.data.msg)
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.error(response.data.msg);
                  return
              } else {
                  if(!this.timer){
                      this.count =  TIME_COUNT;
                      this.ShowYanZhengMa = false;
                      this.timer = setInterval(()=>{
                          if(this.count>0&&this.count<=TIME_COUNT){
                              this.count --;
                          }else{
                              this.ShowYanZhengMa = true;
                              clearInterval(this.timer);
                              this.timer = null
                          }
                      },1000)
                  }
                  return
              }
            }).catch((error)=>{
                // alert("获取出错了,请检查网络设置")
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.error('获取出错了,请检查网络设置');
            })
      },
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.NewPlacePeople{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin: 0 0.3rem;
    margin-bottom: 0.3rem;
    padding: 0.3rem 0.2rem;
    border-radius: 0.1rem;
    position: relative;
}
.NewPlacePeoples{
    color: rgba(102, 102, 102, 0.8);
    font-size: 15px;
    font-weight: bold
}
.NewPlaceName{
    color: #101012;
    font-size: 14px;
    outline: none;
    width: 70%
}
.NewPlaceName1{
    outline: none;
    color: #101012;
    width: 45%;
    font-size: 14px;
}
.MySetCenterFoot{
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.46rem;
    position: absolute;
    left: 0.3rem;
    bottom: 6.4rem
}
.MyPhoneZhu{
    font-size:12px;
    color: #999;
    margin-left: 0.3rem;
}
.MyPhoneNextYan{
    float: right;
    color: #9953F0;
    font-size: 14px;
}
.MyPhoneNextZhu{
    font-size: 12px;
    color: #ccc;
    padding-left: 0.3rem;
}
</style>
