<template>
    <div style="padding-top:1.4rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="MyPlaceicon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="MyPlacetitle">地址选择</span>
            <span class="ChoosePlace-right" @click="goNewPlace">添加新地址</span>
        </div>
        <div class="LingpeijianOldplace" v-if="OldPlace.length>0" v-for="(item,index) in OldPlace" :key="index" @click="gotoMyPlaceChange(index)">
            <div style="overflow:hidden">
                <div style="float:left">
                    <span class="LingpeijianOldplaceName">{{item.contact}}</span>
                    <span class="LingpeijianOldplaceNum">{{item.tel}}</span>
                </div>
                <img src="../../assets/icon-nav-edit.png" class="MyPlaceIcon1">
            </div>
            <div style="overflow:hidden">
                <p class="LingpeijianOldplaceP" style="float:left">{{item.province_name+item.city_name+item.district_name+item.address}}</p>
                <span v-if="item.is_default" class="SetMoren">默认</span>
            </div>
        </div>
        <div v-if="OldPlace.length == 0">
            <img src="../../assets/icon-blank-dizhi.png" class="WithoutPhoto">
            <p  class="WithoutPinglun" >暂无收获地址</p>
        </div>
        
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'Chooseplace',
    data(){
        return {
            Newplace:false,
            OldPlace:[]
        }
    },
    created(){
        this.getAllOldPlace()
    },
    methods:{
        goBack(){
            this.$router.push('/MyMac/My')
        },
        goNewPlace(){
            this.$router.push('/NewPlace/')
        },
        gotoMyPlaceChange(value){
            var ID = this.OldPlace[value].id
            this.$router.push('/MyPlaceChange/'+ID)
        },
        //获取地址
        getAllOldPlace(){
            this.$axios.get(API+'/api/v1/i/addresses',{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.OldPlace = response.data.data
                console.log(this.OldPlace)
            })
        }
    }
}
</script>

<style>

.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}

.MyPlaceicon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
    margin-right: 2.54rem
}
.MyPlacetitle{
    font-size: 18px;
    color: #101012;
    /* float: left; */
    text-align: center
}

.LingpeijianPlace{
    margin: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    padding: 0.36rem 0.2rem;
}
.LingpeijianPlaces{
    font-size: 14px;
    color: #101012
}
.Lingpeijianicon{
    width: 0.25rem;
    height: 0.3rem;
    overflow: hidden;
    margin-right: 0.1rem
}
.Newplace{
    color: #CCCCCC;
    font-size: 14px;
}
.LingpeijianOldplace{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    margin: 0.3rem 0.3rem;
    padding: 0.4rem 0.2rem;
    padding-top: 0.2rem;
}
.LingpeijianOldplaceName{
    color: #666666;
    font-size: 14px;
    margin-right: 0.6rem;
    line-height: 0.74rem
}
.LingpeijianOldplaceNum{
    color: #666666;
    font-size: 14px;
    margin-right: 0.6rem;
    line-height: 0.74rem
}
.LingpeijianOldplaceP{
    color: #101012;
    font-size: 12px;
    font-weight: 500
}
.Chooseplaceone{
    color: #CCCCCC;
    font-size: 12px;
    margin-left: 0.3rem
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.MyPlaceIcon1{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.1rem
}
.SetMoren{
    float: right;
    background: #F1F1F1;
    color: #999999;
    padding:  0.02rem 0.2rem;
    border-radius: 0.26rem
}
.WithoutPinglun{
    text-align: center;
    color: #BBB;
    font-size: 16px;
    margin-top: 0.6rem
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
</style>
