<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">帮助与反馈</span>
        </div>
        <div class="MyProblemOne">
            <p class="MyProblemOneTitle">分类标签</p>
            <div class="MyProblemOneCenter">
                <span class="MyProblemOneCenters">功能建议</span>
            </div>
        </div>
        <div class="MyProblemOne">
            <p class="MyProblemOneTitle">我要反馈</p>
            <textarea class="MyProblemTwoText" placeholder="写下您对我们的意见，我们更好的为你服务"></textarea>
        </div>
        <div class="MyProblemOne">
            <p class="MyProblemOneTitle">联系方式</p>
            <input type="text" placeholder="请输入你的联系方式" class="MyProblemThreeText">
        </div>
        <div class="MyProblemFour" @click="UploadProblem">提交</div>
    </div>
</template>

<script>
export default {
    name:'MyProblem',
    data(){
        return {}
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        UploadProblem(){
            this.$router.push('/MyMac/My')
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.MyProblemOne{
    margin: 0 0.3rem;
    margin-bottom: 0.4rem
}
.MyProblemOneTitle{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.3rem
}
.MyProblemOneCenter{
    display: flex;
}
.MyProblemOneCenters{
    display: inline-block;
    color: #101012;
    font-size: 12px;
    font-weight: 500;
    padding: 0.1rem 0.5rem;
    border: #CCCCCC 1px solid;
    border-radius: 0.3rem
}
.MyProblemTwoText{
    outline: none;
    width: 100%;
    height: 2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    color: #CCCCCC;
    font-size: 12px;
    border: none;
    padding: 0.2rem 0.2rem
}
.MyProblemThreeText{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    outline: none;
    color: #CCCCCC;
    font-size: 12px;
    border: none;
    width: 100%;
    padding: 0.3rem 0.2rem
}
.MyProblemFour{
    position: absolute;
    left: 0.3rem;
    bottom: 1.84rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0.48rem
}
</style>
