<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">设置</span>
        </div>
        <div class="MySetCenter">
            <div class="MySetCenters" @click="gotoBanbenInfo">
                <span class="MySetCenterName">版本信息</span>
                <img src="../../assets/icon-more3.png" class="MySetCenterImg">
            </div>
            <!-- <div class="MySetCenters">
                <span class="MySetCenterName">清除缓存</span>
                <span class="MySetCenterNum">136.42MB</span>
            </div> -->
        </div>
        <div class="MySetCenterFoot" @click="gotoLogin">退出</div>
    </div>
</template>
<script>
export default {
    name:'MySet',
    data(){
        return {}
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        gotoBanbenInfo(){
            this.$router.push('/BanbenInfo/')
        },
        gotoLogin(){
            localStorage.removeItem('userInfo');
            localStorage.removeItem('product_id');
            this.$router.push('/')
        }
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.MySetCenter{
    margin: 0 0.3rem;
}
.MySetCenters{
    overflow: hidden;
    border-bottom: #F1F1F1 1px solid;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem
}
.MySetCenterName{
    float: left;
    color: #101012;
    font-size: 14px;
    font-weight: bold
}
.MySetCenterNum{
    float: right;
    color: #666666;
    font-size: 14px;
    font-weight: bold
}
.MySetCenterFoot{
    width: 6.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-weight: bold;
    color: #101012;
    font-size: 15px;
    background: #F1F1F1;
    border-radius: 0.46rem;
    position: absolute;
    left: 0.3rem;
    bottom: 6.4rem
}
.MySetCenterImg{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.06rem
}
</style>
