<template>
	<div class="nitemWarp flex_mid" @click='changePage'>
		<span :class="!bol ? '' : 'active'" v-text='txt'></span>
		<span class="zise" :class="!bol ? 'Zise' : ''" ></span>
	</div>
</template>
<script >
	export default{
		name: 'Item',
		props:{
			txt:{
				type:String
			},
			page:{
				type:String
			},
			sel:{
				type:String
			}
		},
		computed:{
			bol: function(){
				if(this.sel == this.page){
					return true;
				}
				return false;
			}
		},
		methods:{
			changePage:function(){
				//点击跳转对应的页面
				this.$router.push('/MyMac/Dingdan/'+this.page);
				this.$emit('change',this.page)
			}
		}
	}
</script>
<style >
	.nitemWarp{
		text-align: center;
		width: 20%;
		float: left;
		/* align-items: center;
		justify-content: center;
		flex-direction: column; */
	}
	.nitemWarp span{
		font-size: 15px;
	}
	.nitemWarp .active{
		color: #101012;
		font-weight: bold;
		position: relative;
	}
	.zise{
		width: 0.2rem;
		height: 2px;
		background: #9953F0;
		display: block;
		position: relative;
		left: 42%;
		top: 0.1rem
	}
	.Zise{
		display: none
	}
</style>
