<template>
    <div style="padding-top:0.2rem">
        <div class="inform">
            <div class="centers">
                <p class="centers-input customers">零配件：</p>
                <input class="customerscenter" v-model="customerLingpeijian"/>
            </div>
            <div class="centers">
                <p class="centers-inputs customerss">规格型号：</p>
                <input class="customerscenter" v-model="customerlingpeijianType"/>
            </div>
            <div class="standardFoot">
                <p class="standardFootTitle">零配件图片</p>
                <div class="AuditedPass-imgs" >
                    <div v-for="(item,index) in MacChangeImagesListOne" :key="index" class="AuditedPass-img ImagesBox" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                        <img src="../assets/closeion.png" @click="Remove(index)" class="CloseButs">
                        <img v-bind:src="item.url" class="AuditedPass-img" @click="BigImage(index)" >
                    </div>
                    <!-- <img v-for="(item,index) in MacChangeImagesListOne" :key="index" v-bind:src="item.url" class="AuditedPass-img" @click="BigImage(index)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''"> -->
                    <img src="../assets/icon-img.png" class="AuditedPass-img" @click="takePhoto">
                </div>
            </div>
            <div class="standardFoot">
                <p class="standardFootTitle">零配件图纸</p>
                <div class="AuditedPass-imgs" >
                    <div v-for="(item,index) in MacChangeImagesListTwo" :key="index" class="AuditedPass-img ImagesBox" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                        <img src="../assets/closeion.png" @click="Removes(index)" class="CloseButs">
                        <img v-bind:src="item.url" class="AuditedPass-img" @click="BigImage(index)" >
                    </div>
                    <!-- <img v-for="(item,index) in MacChangeImagesListTwo" :key="index" v-bind:src="item.url" class="AuditedPass-img" @click="BigImage(index)" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''"> -->
                    <img src="../assets/icon-img.png" class="AuditedPass-img" @click="takePhotos">
                </div>
            </div>
        </div>
        <MacPhotoViewOne v-if="ShowMacPhotoViewOne" :ShowMacPhotoViewOne='ShowMacPhotoViewOne' v-on:CloseMacPhotoViewOne="CloseMacPhotoViewOne" ></MacPhotoViewOne>
        <MacPhotoViewTwo v-if="ShowMacPhotoViewTwo" :ShowMacPhotoViewTwo='ShowMacPhotoViewTwo' v-on:CloseMacPhotoViewTwo="CloseMacPhotoViewTwo" ></MacPhotoViewTwo>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {mapGetters,mapMutations} from 'vuex'
import Toast from 'muse-ui-toast';
import {API} from '../api/config.js'
import MacPhotoViewOne from '../common/MacPhotoViewOne'
import MacPhotoViewTwo from '../common/MacPhotoViewTwo'
import BigImage from '../common/BigImage'
export default {
    name:'customer',
    computed:{
        ...mapGetters(['companyInfo'])
    },
    components:{
        MacPhotoViewOne,BigImage,MacPhotoViewTwo
    },
    data(){
        return {
            num:'',
            company_name:'',
            address:'',
            contact:'',
            tel:'',
            product_id:'',
            MAC:{},
            COMPANYINFO:{},
            // One:true,
            // Two:true,
            // Three:true,
            // Four:true,
            // category_id:'',
            DingdanImgs:[],
            ShowMacPhotoViewOne:false,
            ShowMacPhotoViewTwo:false,
            MacChangeImagesList:[],
            MacChangeImagesListOne:[],
            MacChangeImagesListTwo:[],
            MacChangeImageListKeys:[],
            BigImageOpen:false,
            customerlingpeijianType:'',
            customerLingpeijian:'',
        }
    },
    watch:{
        customerLingpeijian(N,O){
            sessionStorage.setItem('customerLingpeijian',JSON.stringify(N))
        },
        customerlingpeijianType(n,o){
            sessionStorage.setItem('customerlingpeijianType',JSON.stringify(n))
        }
    },
    created(){
        if(sessionStorage.getItem('customerTwo')){
            this.MacChangeImagesListTwo = JSON.parse(sessionStorage.getItem('customerTwo'))
        }
        if(sessionStorage.getItem('customerOne')){
            this.MacChangeImagesListOne = JSON.parse(sessionStorage.getItem('customerOne'))
        }
        if(sessionStorage.getItem('customerLingpeijian')){
            this.customerLingpeijian = JSON.parse(sessionStorage.getItem('customerLingpeijian'))
        }
        if(sessionStorage.getItem('customerlingpeijianType')){
            this.customerlingpeijianType = JSON.parse(sessionStorage.getItem('customerlingpeijianType'))
        }
        this.getAllMac()
    },
    methods:{
        ...mapMutations({
            setCompanyInfo : 'SET_COMPANYINFO'
        }),
        Remove(index){
            this.MacChangeImagesListOne.splice(index,1)
        },
        Removes(index){
            this.MacChangeImagesListTwo.splice(index,1)
        },
        CloseMacPhotoViewOne(MacPhotoViewOneBoxShow){
            console.log(MacPhotoViewOneBoxShow)
            if(MacPhotoViewOneBoxShow.CemaraPhoto.length!==0 ){
                this.MacChangeImagesListOne.push(MacPhotoViewOneBoxShow.CemaraPhoto)
                // this.items[0].pic_keys = this.MacChangeImagesListOne
            }
            sessionStorage.setItem('customerOne',JSON.stringify(this.MacChangeImagesListOne))
            this.ShowMacPhotoViewOne = MacPhotoViewOneBoxShow.MacPhotoViewOneBoxShow
        },
        CloseMacPhotoViewTwo(MacPhotoViewTwoBoxShow){
            console.log(MacPhotoViewTwoBoxShow)
            if(MacPhotoViewTwoBoxShow.CemaraPhoto.length!==0 ){
                this.MacChangeImagesListTwo.push(MacPhotoViewTwoBoxShow.CemaraPhoto)
                // this.items[0].pic_keys = this.MacChangeImagesListTwo
            }
            sessionStorage.setItem('customerTwo',JSON.stringify(this.MacChangeImagesListTwo))
            this.ShowMacPhotoViewTwo = MacPhotoViewTwoBoxShow.MacPhotoViewTwoBoxShow
        },
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.MacChangeImagesListTwo[index].url))
            this.BigImageOpen = true
            console.log(index)
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        takePhoto(){
            this.ShowMacPhotoViewOne = true
        },
        takePhotos(){
            this.ShowMacPhotoViewTwo = true
        },
        goBack(){
            this.$router.go(-1)
        },
        gotoMyMac(){
            console.log(this.COMPANYINFO)
            this.$axios.post(API+'/api/v1/i/request_associate',this.COMPANYINFO,{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response) => {
                console.log(response)
                if(response.data.msg == 'ok'){
                    // alert("关联成功")
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('关联成功');
                    // if(localStorage.getItem('CompanyInfos')){
                    //     var CompanyInfo = JSON.parse(localStorage.getItem('CompanyInfos'))
                    //     CompanyInfo.push(this.COMPANYINFO)
                        
                    //     localStorage.setItem('CompanyInfos',JSON.stringify(CompanyInfo))
                    // } else {
                    //     var CompanyInfos = [];
                    //     CompanyInfos.push(this.COMPANYINFO);
                    //     localStorage.setItem('CompanyInfos',JSON.stringify(CompanyInfos))
                    // }
                    // localStorage.setItem('product_id',JSON.stringify(this.COMPANYINFO.product_id))
                    localStorage.setItem('COMPANYINFO',JSON.stringify(this.COMPANYINFO))
                    this.setCompanyInfo(this.COMPANYINFO)
                    this.$router.push("/MyMac/MacInfo/")
                } else if(response.data.msg == '已关联该设备'){
                    // alert("以关联该设备")
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.info('以关联该设备');
                } else {
                    // alert("未找到该设备")
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.warning('未找到该设备');
                }
            }).catch()
        },
        //获取资料
        getAllMac(){
            this.$axios.get(API+'/api/v1/common/products',{params:{
                page:1,
                per:200,
                category_id:this.category_id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                for(var i=0;i<response.data.data.length;i++){
                        if(response.data.data[i].id == this.COMPANYINFO.product_id){
                            this.MAC=response.data.data[i]
                        }
                    }



                // console.log(response)
                // this.MAC= response.data.data[this.companyInfo.product_id-1]
            })
        },
        //跳过
        WithoutMac(){
            this.$axios.get(API+'/api/v1/i/products',{params:{
                "page": 1,
                "per": 10
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo')).token
                }
            }).then((response)=>{
                // if(response.data.data.length == 0){
                //     this.$router.push('/WithoutMac/')
                // } else {
                //     this.$router.push("/MyMac/MacInfo/")
                // }
                this.$router.push("/MyMac/MacInfo/")
            })
        }
    }
}
</script>

<style scoped>
.AuditedPass-imgs{
    padding-top:0.2rem;
    overflow:hidden
}
.CloseButs{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: -0.2rem;
    right: -0.2rem
}
.ImagesBox{
    float: left;
    position: relative;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.center{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #727EFF , #A065FA);
    height: 2.8rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem ;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem
}
.inform{
    margin: 0 0.3rem;

}
.centers{
    overflow: hidden;
    border-bottom: #F1F1F1 solid 1px;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem
}
.centerss{
    margin-bottom: 0.9rem
}
.centers-input{
    float: left;
    color: #101012;
    font-size: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 80%
}
.centers-inputs{
    float: left;
    color: #101012;
    font-size: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon1{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin-top: 0.1rem
}
.header1{
    line-height: 0.5rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold
}
.foot1{
    font-size: 12px;
    color: #fff
}
.queren{
    margin: 1.6rem 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    border-radius: 23px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 0.9rem;
    margin-bottom: 1rem
}
.WriterMacQueren{
    text-align: center;
    padding-top: 3rem
}
.WriterMacIcon1{
    width: 0.7rem;
    height: 0.7rem;
    margin-bottom: 1rem
}
.WriterMacButton{
    color: #CCCCCC;
    font-size: 15px
}
.customers{
    width: 22%;
    color: #999999;
    font-size: 15px;
    /* font-weight: bold */
}
.customerss{
    color: #999999;
    font-size: 15px;
    /* font-weight: bold */
}
.customerscenter{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
    width: 66%
}
.standardFoot{
    margin-top: 0.5rem;
}
.standardFootTitle{
    margin-bottom: 0.3rem;
    color: #999999;
    font-size: 12px
}
.AuditedPass-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
</style>
