<template>
  <div class="login">
    <div class="header">
        <div class="Header">输入手机号，完成登陆验证吧！</div>
    </div>
    <div class="phoneNum" style="margin-bottom:0.3rem">
      <span class="Num">手机号码</span>
      <input type="num" v-model="PHONENUM" style="outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);" >
    </div>
    <div class="phoneNum" style="margin-bottom:5rem">
      <span class="Num Nums">验证码</span>
      <input type="num" v-model="CAPTCHA" style="outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);width:30%" >
      <span class="GETYanzheng" v-show="ShowYanZhengMa" @click="GetCaptcha">获取验证码</span>
      <span class="GETYanzhengNum" v-show="!ShowYanZhengMa" >{{count}}S</span>
      <p class="loginP" v-show="!ShowYanZhengMa">验证码已发送至{{PHONENUM}}</p>
    </div>
    <!-- <div class="yanzhengma" @click="GetCaptcha" v-if="CheckCaptcha">获取验证码</div> -->
    <!-- <div class="yanzhengma" @click="CHeckCaptcha" v-if="!CheckCaptcha">验证验证码</div> -->
    <div class="YanZhengMa" @click="CHeckCaptcha" v-if="!CheckCaptcha">立即登陆</div>
  </div>
</template>

<script>
const TIME_COUNT = 60
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
import {mapMutations, mapGetters} from 'vuex'
export default {
  name: 'login',
  computed:{
      ...mapGetters(["userInfo"])
  },
  data () {
    return {
        PHONENUM:'',
        CAPTCHA:'',
        CheckCaptcha:false,
        ShowYanZhengMa:true,
        count:'',
        timer:null
    }
  },
  created(){
    if(localStorage.getItem('userInfo')){
        this.setUserinfo(JSON.parse(localStorage.getItem('userInfo')))
        this.$router.push('/MyMac/MacInfo/')
    }else {
        this.$router.push('/')
    }
  },
  methods:{
      ...mapMutations({
          setUserinfo: 'SET_USERINFO',
      }),
      GetCaptcha(){
          let that = this
          if(that.PHONENUM==""||that.PHONENUM==null){
            //   alert("手机号不能为空！")
            Toast.config({
                position:'top',
                time: 1000,
                close:false,
            })
            Toast.warning('手机号不能为空！');
              return false
          }
        //   var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
        var phoneReg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
          var phone = $.trim(that.PHONENUM);
          if(!phoneReg.test(phone)){
            //   alert("请输入正确的手机号！")
             Toast.config({
                position:'top',
                time: 1000,
                close:false,
            })
            Toast.warning('请输入正确的手机号！');
              return false
          }
          that.$axios.post(API + '/api/v1/captcha/send',{
              "tel":that.PHONENUM,
              "type":"user"
          }).then((response)=>{
              if(response.data.msg == '验证码发送失败'){
                //   alert('验证码发送失败，请重新获取')
                 Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.warning('验证码发送失败，请重新获取');
              } else {
                  if(!this.timer){
                      this.count =  TIME_COUNT;
                      this.ShowYanZhengMa = false;
                    //   alert("获取验证码成功！")
                     Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('获取验证码成功！');
                      this.timer = setInterval(()=>{
                          if(this.count>0&&this.count<=TIME_COUNT){
                              this.count --;
                          }else{
                              this.ShowYanZhengMa = true;
                              clearInterval(this.timer);
                              this.timer = null
                          }
                      },1000)
                  }

                  that.CheckCaptcha = false
              }
          }).catch((error)=>{
              console.log(error)
            //   alert("请检查网络设置")
             Toast.config({
                position:'top',
                time: 1000,
                close:false,
            })
            Toast.error('请检查网络设置');
          })
      },
      CHeckCaptcha(){
          if(this.CAPTCHA==''||this.CAPTCHA==null){
            //   alert("验证码不能为空！")
            Toast.config({
                position:'top',
                time: 1000,
                close:false,
            })
            Toast.warning('验证码不能为空！');
              return false
          }
          if(999<parseInt(this.CAPTCHA)<10000){
              this.$axios.post(API+'/api/v1/captcha/verify',{
                    "tel":this.PHONENUM,
                    "type":"user",
                    "captcha":this.CAPTCHA
              }).then((response)=>{
                  if(response.data.code == 0){
                    localStorage.setItem("userInfo",JSON.stringify(response.data))
                    this.setUserinfo(response.data)
                    this.$axios.get(API+'/api/v1/i/profile',{
                        headers:{
                            'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                        }
                    }).then((res)=>{
                        if(res.data.code == 0){
                            console.log(res.data.data)
                            localStorage.setItem('IM_Appkey',JSON.stringify(res.data.data.im_ak))
                            localStorage.setItem('IM_Account',JSON.stringify(res.data.data.im_accid))
                            localStorage.setItem('IM_Token',JSON.stringify(res.data.data.im_token))
                            localStorage.setItem('MineTouxiang',JSON.stringify(res.data.data.avatar_url))
                            this.$axios.get(API+'/api/v1/i/products',{params:{
                                "page": 1,
                                "per": 10
                            }},{
                                headers:{
                                    'Authorization':JSON.parse(localStorage.getItem('userInfo')).token
                                }
                            }).then((response)=>{
                                console.log(response.data.data)
                                if(response.data.data.length == 0){
                                    this.$router.push('/xilieChoose')
                                } else {
                                    this.$router.push("/MyMac/MacInfo/")
                                }
                            })
                        }else{
                            // alert(res.data.msg)
                            Toast.config({
                                position:'top',
                                time: 1000,
                                close:false,
                            })
                            Toast.error(res.data.msg);
                        }
                    })
                  } else {
                    //   alert(response.data.msg)
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(res.data.msg);
                  }  
              }).catch(function(error) {
                //   alert("验证失败，请重新登陆")
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.error('验证失败，请重新登陆');
                  this.CheckCaptcha = true
              })
          } else {
            //   alert("输入正确验证码")
            Toast.config({
                position:'top',
                time: 1000,
                close:false,
            })
            Toast.warning('输入正确验证码');
          }
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login{
    padding:0 0.3rem;
    padding-top: 1.8rem;
}
.header{
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.Header{
    font-size: 22px;
    color:#101012;
    text-align: left;
    line-height: 0.8rem;
    float: left;
    width: 10rem
}
.phoneNum{
    font-size: 15px;
    color: #101012;
    width: 100%;
    border-radius: 0.46rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    height: 0.9rem;
}
.Num{
    line-height: 0.9rem;
    margin-left: 0.4rem;
    padding-right: 0.3rem;
    border-right: 1px solid #101012;
    margin-right: 0.3rem
}
.Nums{
    margin-left: 0.7rem
}
.yanzhengma{
    font-size: 15px;
    width: 6.9rem;
    position: fixed;
    bottom: 1rem;
    height: 0.9rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border:none;
    border-radius: 0.45rem;
    color: #fff;
    text-align: center;
    line-height: 0.9rem;
}
.GETYanzheng{
    color: #9953F0;
    font-size: 12px;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.3rem
}
.GETYanzhengNum{
    color: #CCCCCC;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.3rem
}
.YanZhengMa{
    font-size: 15px;
    width: 6.9rem;
    height: 0.9rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border:none;
    border-radius: 0.45rem;
    color: #fff;
    text-align: center;
    line-height: 0.9rem;
}
.loginP{
    margin-top: 0.2rem;
    color: #999;
    font-size: 12px;
    margin-left: 0.2rem
}
</style>
