<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">{{MacBaoyangName}}</span>
        </div>
        <div v-if="MacBaoyangList.length>0">
            <div class="MacBaoyangcheck" v-for="(item,index) in MacBaoyangList" :key="index" @click="gotoBaoyangInfo(item.id)">
                <div class="MacBaoyangchecks">
                    <div class="MacBaoyangLeft">
                        <p class="MacBaoyangcheckName">{{item.date}}</p>
                        <p class="MacBaoyangcheckchange" >{{item.title}}</p>
                    </div>
                    <img src="../assets/icon-more3.png" class="MacBaoyangMore">
                    <span class="MacBaoyangcheckNum">{{item.percentage}}%</span>
                </div>
            </div>
        </div>
        <div v-if="MacBaoyangList.length ==0">
            <img src="../assets/icon-blank-baoyang.png" class="WithoutPhoto">
            <p class="MacBaoYangText">还没有为该设备进行过保养</p>
        </div>
    </div>
</template>

<script>
import {API} from '../api/config.js'
export default {
    name:"MacBaoyang",
    data(){
        return {
            product_id:JSON.parse(localStorage.getItem('product_id')),
            MacBaoyangList:[],
            MacBaoyangName:''
        }
    },
    created(){
        // if(JSON.parse(localStorage.getItem('COMPANYINFO')).name){
        //     this.MacBaoyangName = JSON.parse(localStorage.getItem('COMPANYINFO')).name
        // }else{
        //     this.MacBaoyangName = JSON.parse(localStorage.getItem('COMPANYINFO')).product_name
        // }
        this.MacBaoyangName = JSON.parse(sessionStorage.getItem('product_name'))
        
        this.getBaoyang()
    },
    methods:{
         goBack(){
            this.$router.push('/MyMac/MacInfo')
        },
        //获取保养记录
        getBaoyang(){
            this.$axios.get(API+'/api/v1/i/product_inspects',{params:{
                "product_id": this.product_id,
                "page": 1,
                "per": 10
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.MacBaoyangList = response.data.data
                console.log(response)
                console.log(this.MacBaoyangList)
            })
        },
        //前往保养页
        gotoBaoyangInfo(Id){
            this.$router.push('/MacBaoyangInfo/'+Id)
        }
    }
}
</script>

<style>
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.MacBaoyangcheck{
    margin: 0 0.3rem;
    padding:0.3rem 0.2rem;
    margin-bottom: 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
}
.MacBaoyangchecks{
    overflow: hidden;
}
.MacBaoyangLeft{
    float: left;
}
.MacBaoyangcheckName{
    color: #666666;
    font-size: 14px;
    font-weight: bold
}
.MacBaoyangcheckchange{
    color: #101012;
    font-size: 14px
}
.MacBaoyangcheckNum{
    float: right;
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.2rem
}
.MacBaoYangText{
    text-align: center;
    color: #BBBBBB;
    /* font-weight: bold; */
    font-size: 14px;
    margin-top: 0.6rem
}
.MacBaoyangMore{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.32rem;
    margin-left: 0.2rem;
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
</style>
