<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">设备保养记录详情</span>
        </div>
        <div>
            <div class="MacBaoyangInfocheck" v-for="(item,index) in MacBaoyangInfoList" :key="index">
                <div class="MacBaoyangInfochecks">
                    <span class="MacBaoyangInfocheckName">{{item.title}}</span>
                    <span class="MacBaoyangInfocheckchange" v-if="item.result==null">未检测</span>
                    <span class="MacBaoyangInfocheckchange" v-if="item.result!==null">{{item.result}}</span>
                    <span class="MacBaoyangInfocheckNum">{{index+1}}/{{MacBaoyangInfoList.length}}</span>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import {API} from '../api/config.js'
export default {
    name:"MacBaoyangInfo",
    data(){
        return {
            product_id:JSON.parse(localStorage.getItem('product_id')),
            inspect_id:this.$route.params.id,
            MacBaoyangInfoList:[]
        }
    },
    created(){
        // console.log(this.$route.params.id)
        this.getBaoyang()
    },
    methods:{
         goBack(){
            this.$router.go(-1)
        },
        //获取保养记录
        getBaoyang(){
            this.$axios.get(API+'/api/v1/i/product_inspect_steps',{params:{
                "product_id": this.product_id,
                "inspect_id": this.inspect_id,
                "page": 1,
                "per": 25
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.MacBaoyangInfoList = response.data.data
                console.log(response)
            })
        },
        //前往保养页
        gotoBaoyangInfo(Id){
            
        }
    }
}
</script>

<style>
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.MacBaoyangInfocheck{
    margin: 0 0.3rem;
    padding-top:0.4rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
}
.MacBaoyangInfochecks{
    overflow: hidden;
}
.MacBaoyangInfocheckName{
    font-size: 14px;
    color: #101012;
    width: 60%;
    white-space:nowrap; 
    text-overflow:ellipsis;     
    overflow: hidden;
    display: inline-block 
}
.MacBaoyangInfocheckNum{
    font-size: 14px;
    color: #999999;
    float: right;
    margin-right: 0.4rem
}
.MacBaoyangInfocheckchange{
    font-size: 14px;
    color: #999999;
    float: right;

}

</style>
