<template>
    <div style="padding-top:0.2rem;padding-bottom:1rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">填写购买设备信息</span>
            <span class="ChoosePlace-right" @click="WithoutMac">跳过</span>
        </div>
        <div class="center">
            <p class="header1">{{this.MAC.name}}</p>
            <p class="foot1">CM400 High Interlinent Carton Package Machine</p>
        </div>
        <ChooseMacNavbar></ChooseMacNavbar>
        <!-- <router-view></router-view> -->
        <transition name="fade">
            <router-view></router-view>
        </transition>
        <div class="queren" @click="gotoMyMac">提交认证资料</div>
    </div>
</template>

<script>
import {mapGetters,mapMutations} from 'vuex'
import Toast from 'muse-ui-toast';
import ChooseMacNavbar from './ChooseMacNavbar/Navbar'
import {API} from '../api/config.js'
export default {
    name:'MacInfoQueren',
    components:{
        ChooseMacNavbar
    },
    computed:{
        ...mapGetters(['companyInfo'])
    },
    data(){
        return {
            num:'',
            company_name:'',
            address:'',
            contact:'',
            tel:'',
            product_id:'',
            MAC:{},
            COMPANYINFO:{},
            One:true,
            Two:true,
            Three:true,
            Four:true,
            category_id:''
        }
    },
    created(){
        console.log(this.companyInfo)
        this.category_id = JSON.parse(localStorage.getItem('Category_id'))
        // if(this.company_name==''){
        //     this.One = false
        // }
        // if(this.address==''){
        //     this.Two = false
        // }
        // if(this.contact==''){
        //     this.Three = false
        // }
        // if(this.tel==''){
        //     this.Four = false
        // }
        // this.num = this.companyInfo.num;
        // this.company_name = this.companyInfo.company_name;
        // this.address = this.companyInfo.address;
        // this.contact = this.companyInfo.contact;
        // this.tel = this.companyInfo.tel;
        // this.COMPANYINFO.num = this.companyInfo.num;
        // this.COMPANYINFO.company_id = this.companyInfo.company_id;
        // this.COMPANYINFO.company_name = this.companyInfo.company_name;
        // this.COMPANYINFO.address = this.companyInfo.address;
        // this.COMPANYINFO.contact = this.companyInfo.contact;
        // this.COMPANYINFO.tel = this.companyInfo.tel;
        this.COMPANYINFO.product_id = JSON.parse(sessionStorage.getItem('SID'))
        // console.log(this.COMPANYINFO)
        this.getAllMac()
    },
    methods:{
        ...mapMutations({
            setCompanyInfo : 'SET_COMPANYINFO'
        }),
        goBack(){
            // this.$router.go(-1)
            sessionStorage.clear()
            sessionStorage.setItem("SID",JSON.stringify(this.COMPANYINFO.product_id))
            this.$router.push('/WriterMac/'+JSON.parse(sessionStorage.getItem('SID')))
        },
        gotoMyMac(){
            this.COMPANYINFO.num = this.companyInfo.num;
            this.COMPANYINFO.company_id = this.companyInfo.company_id;
            this.COMPANYINFO.company_name = this.companyInfo.company_name;
            if(this.companyInfo.address){
                this.COMPANYINFO.address = this.companyInfo.address;
            }else{
                this.COMPANYINFO.address = JSON.parse(sessionStorage.getItem('standardaddress'))
            }
            if(this.companyInfo.contact){
                this.COMPANYINFO.contact = this.companyInfo.contact;
            }else{
                this.COMPANYINFO.contact = JSON.parse(sessionStorage.getItem('standardcontact'))
            }
            if(this.companyInfo.tel){
                this.COMPANYINFO.tel = this.companyInfo.tel;
            }else{
                this.COMPANYINFO.tel = JSON.parse(sessionStorage.getItem('standardtel'))
            }
            this.COMPANYINFO.product_id = JSON.parse(sessionStorage.getItem('SID'))
            var Pic_keys = []
            if(JSON.parse(sessionStorage.getItem('standardImgs'))){
                JSON.parse(sessionStorage.getItem('standardImgs')).map(item=>{
                    Pic_keys.push(item.key)
                })
            }
            
            this.COMPANYINFO.pic_keys = Pic_keys

            var items = [{}]
            items[0].name = JSON.parse(sessionStorage.getItem('customerLingpeijian'))
            items[0].model = JSON.parse(sessionStorage.getItem('customerlingpeijianType'))
            var CuPic_keys = []
            if(JSON.parse(sessionStorage.getItem('customerOne'))){
                JSON.parse(sessionStorage.getItem('customerOne')).map(item=>{
                    CuPic_keys.push(item.key)
                })
            }
            
            items[0].pic_keys = CuPic_keys
            var CuDraw_keys = []
            if(JSON.parse(sessionStorage.getItem('customerTwo'))){
                JSON.parse(sessionStorage.getItem('customerTwo')).map(item=>{
                    CuDraw_keys.push(item.key)
                })
            }
            
            items[0].draw_keys = CuDraw_keys
            this.COMPANYINFO.items = items
            console.log(this.COMPANYINFO)
            this.$axios.post(API+'/api/v1/i/request_associate',this.COMPANYINFO,{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response) => {
                console.log(response)
                if(response.data.code == 0){
                    // alert(response.data.msg)
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success(response.data.msg);
                    localStorage.setItem('COMPANYINFO',JSON.stringify(this.COMPANYINFO))
                    this.setCompanyInfo(this.COMPANYINFO)
                    sessionStorage.clear()
                    sessionStorage.setItem("SID",JSON.stringify(this.COMPANYINFO.product_id))
                    this.$router.push("/MyMac/MacInfo/")
                } else {
                    sessionStorage.clear()
                    sessionStorage.setItem("SID",JSON.stringify(this.COMPANYINFO.product_id))
                    // alert(response.data.msg)
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(response.data.msg);
                }
            }).catch()
        },
        //获取设备名字
        getAllMac(){
            this.$axios.get(API+'/api/v1/common/products',{params:{
                page:1,
                per:200,
                category_id:this.category_id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                for(var i=0;i<response.data.data.length;i++){
                        if(response.data.data[i].id == this.COMPANYINFO.product_id){
                            this.MAC=response.data.data[i]
                        }
                    }
            })
        },
        //跳过
        WithoutMac(){
            this.$axios.get(API+'/api/v1/i/products',{params:{
                "page": 1,
                "per": 10
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo')).token
                }
            }).then((response)=>{
                sessionStorage.clear()
                sessionStorage.setItem("SID",JSON.stringify(this.COMPANYINFO.product_id))
                // if(response.data.data.length == 0){
                //     this.$router.push('/WithoutMac/')
                // } else {
                //     this.$router.push("/MyMac/MacInfo/")
                // }
                this.$router.push("/MyMac/MacInfo/")
            })
        }
    }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.center{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #727EFF , #A065FA);
    height: 2.8rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem ;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem
}
.inform{
    margin: 0 0.3rem;

}
.centers{
    overflow: hidden;
    border-bottom: #F1F1F1 solid 1px;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem
}
.centerss{
    margin-bottom: 0.9rem
}
.centers-input{
    float: left;
    color: #101012;
    font-size: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 80%
}
.icon1{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin-top: 0.1rem
}
.header1{
    line-height: 0.5rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold
}
.foot1{
    font-size: 12px;
    color: #fff
}
.queren{
    margin: 1.6rem 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    border-radius: 23px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 0.9rem;
    margin-bottom: 0
}
.WriterMacQueren{
    text-align: center;
    padding-top: 3rem
}
.WriterMacIcon1{
    width: 0.7rem;
    height: 0.7rem;
    margin-bottom: 1rem
}
.WriterMacButton{
    color: #CCCCCC;
    font-size: 15px
}
</style>
