<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">{{PageTitle}}</span>
        </div>
        <div v-if="isMine">
            <div v-if="MacPhotoList.length>0">
                <div class="MacBaoyangcheck" v-for="(item,index) in MacPhotoList" :key="index" @click="BigImage(index)">
                    <img :src="item.url" class="MacPhotosSize">
                    <div class="MacPhotosName">
                        <p>{{item.title}}</p>
                    </div>
                </div>
            </div>
            <div v-if="MacPhotoList.length == 0">
                <img src="../assets/icon-blank-pic.png" class="WithoutPhoto">
                <p class="MacBaoYangText">此设备暂无图片</p>
            </div>
        </div>
        <div v-if="!isMine">
            <div v-if="DrawPhoto.length > 0 || commonPhote.length > 0">
                <p style="text-align: center;font-size: 14px;margin-bottom: 0.4rem;">公共图纸</p>
                <div v-if="commonPhote.length > 0">
                    <div class="MacBaoyangcheck" v-for="(item,index) in commonPhote" :key="index" @click="BigImage(index)">
                        <img :src="item.url" class="MacPhotosSize">
                        <div class="MacPhotosName">
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                </div>
                <p style="text-align: center;font-size: 14px;margin-bottom: 0.4rem;">定制图纸</p>
                <div v-if="DrawPhoto.length > 0">
                    <div class="MacBaoyangcheck" v-for="(item,index) in DrawPhoto" :key="index" @click="BigImage(index)">
                        <img :src="item.url" class="MacPhotosSize">
                        <div class="MacPhotosName">
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="DrawPhoto.length == 0 && commonPhote.length == 0">
                <img src="../assets/icon-blank-pic.png" class="WithoutPhoto">
                <p class="MacBaoYangText">此设备暂无图片</p>
            </div>
        </div>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../api/config.js'
import BigImage from '../common/BigImage'
export default {
    name:"MacPhotos",
    components:{
        BigImage
    },
    data(){
        return {
            BigImageOpen:false,
            product_id:JSON.parse(localStorage.getItem('product_id')),
            MacPhotoList:[],
            MacPhotoUrlList:[],
            PageTitle:'',
            commonPhote:[],
            DrawPhoto:[],
            commonPhoteUrl:[],
            DrawPhotoUrl:[],
            isMine:false
        }
    },
    created(){
        if(JSON.parse(sessionStorage.getItem('MinePhoto')) == 'YES'){
            this.getMinePhoto()
            this.isMine = true
            this.PageTitle = '客户图片'
        }else if(JSON.parse(sessionStorage.getItem('MinePhoto')) == 'LPJ'){
            // this.getMacPhoto()
            this.getCommonPhoto()
            this.getDrawings()
            this.isMine = false
            this.PageTitle = '零配件图片'
        }else{
            // this.getMacPhoto()
            this.getCommonPhoto()
            this.getDrawings()
            this.isMine = false
            this.PageTitle = '设备图片'
        }
    },
    methods:{
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        BigImage(index){
            this.MacPhotoList.map(item=>{
                this.MacPhotoUrlList.push(item.url)
            })
            this.commonPhote.map(item=>{
                this.MacPhotoUrlList.push(item.url)
            })
            this.DrawPhoto.map(item=>{
                this.MacPhotoUrlList.push(item.url)
            })
            sessionStorage.setItem('MacPhotoUrlList',JSON.stringify(this.MacPhotoUrlList))
            this.BigImageOpen = true
            console.log(index)
        },
         goBack(){
             sessionStorage.setItem('MinePhoto',JSON.stringify('NO'))
            this.$router.go(-1)
        },
        //获取设备图片
        getMacPhoto(){
            this.$axios.get(API+'/api/v1/i/product_serial_images',{params:{
                "product_id": this.product_id,
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                this.MacPhotoList = response.data.data
            })
        },
        //公共图片
        getCommonPhoto(){
            this.$axios.get(API+'/api/v1/i/product_common_drawings',{params:{
                "product_id": this.product_id,
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                // this.MacPhotoList = response.data.data
                this.commonPhote = response.data.data
            })
        },
        //私有图片
        getDrawings(){
             this.$axios.get(API+'/api/v1/i/product_drawings',{params:{
                "product_id": this.product_id,
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                // this.MacPhotoList = response.data.data
                this.DrawPhoto = response.data.data
            })
        },
        getMinePhoto(){
            this.$axios.get(API+'/api/v1/i/product_images',{params:{
                "product_id": this.product_id,
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                this.MacPhotoList = response.data.data
            })
        },
    }
}
</script>

<style>
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.MacBaoyangcheck{
    margin: 0 0.3rem;
    padding:0.3rem 0.2rem;
    margin-bottom: 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
}
.MacBaoyangchecks{
    overflow: hidden;
}
.MacBaoyangLeft{
    float: left;
}
.MacBaoyangcheckName{
    color: #666666;
    font-size: 14px;
    font-weight: bold
}
.MacBaoyangcheckchange{
    color: #101012;
    font-size: 14px
}
.MacBaoyangcheckNum{
    float: right;
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.2rem
}
.MacBaoYangText{
    text-align: center;
    color: #BBBBBB;
    /* font-weight: bold; */
    font-size: 14px;
    margin-top: 0.6rem
}
.MacBaoyangMore{
    width: 0.24rem;
    height: 0.24rem;
    float: right;
    margin-top: 0.32rem;
    margin-left: 0.2rem;
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.MacPhotosSize{
    width: 100%
}
.MacPhotosName{
    font-size: 15px;
    text-align: center;
    color: #101012;
    background: #F7F7F7;
    padding: 0.16rem 0
}
</style>
