<template>
    <div style="padding-top:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">{{this.MacName}}</span>
        </div>
        <div>
            <div class="MacZhenduancheck" @click="gotoProplem(issusesList[index].id)" v-for="(item,index) in issusesList" :key="index">
                <div class="MacZhenduanchecks">
                    <p class="MacZhenduancheckName">{{item.title}}</p>
                    <span class="MacZhenduancheckchange" >龙腾机械提供 {{item.created_at}}</span>
                    <span class="MacZhenduancheckNum checkNums">检测步骤：{{item.step_count}}</span>
                </div>
                <img src="../assets/icon-more3.png" class="MacZhenduanMore">
            </div>
        </div>
    </div>
</template>

<script>
import {API} from '../api/config.js'
import {mapMutations} from 'vuex'
export default {
    name:"MacZhenduan",
    components:{
        API
    },
    data(){
        return {
            product_id:'',
            issusesList:[],
            MacName:''
        }
    },
    created(){
         if(JSON.parse(localStorage.getItem('COMPANYINFO')).name){
            this.MacName = JSON.parse(localStorage.getItem('COMPANYINFO')).name
        }else{
            this.MacName = JSON.parse(localStorage.getItem('COMPANYINFO')).product_name
        }
        console.log(JSON.parse(localStorage.getItem('COMPANYINFO')))
        this.product_id = JSON.parse(localStorage.getItem('product_id'))
        this.getIssues()
    },
    methods:{
        ...mapMutations({
            setIssue_id:'SET_ISSUE_ID'
        }),
         goBack(){
            this.$router.push('/MyMac/MacInfo/')
        },
        gotoProplem(ID){
            console.log(ID)
            this.setIssue_id(ID)
            this.$router.push('/Proplem/'+ID)
        },
        //获取常见问题
        getIssues(){
            this.product_id = JSON.parse(localStorage.getItem('product_id'))
            console.log(this.product_id)
             this.$axios.get(API+'/api/v1/common/issues',{
                params:{"product_id": this.product_id}
            }).then((response) => {
                console.log(response)
                this.issusesList = response.data.data
            })
        },
    }
}
</script>

<style>
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.MacZhenduancheck{
    margin: 0 0.3rem;
    padding: 0.3rem 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    position: relative;
}
.MacZhenduanchecks{
    overflow: hidden;
}
.MacZhenduancheckName{
    font-size: 14px;
    color: #101012;
    margin-bottom: 0.1rem
}
.MacZhenduancheckNum{
    font-size: 12px;
    color: #999999;
    float: left;
}
.MacZhenduancheckchange{
    font-size: 12px;
    color: RGBA(16, 16, 18, 0.3);
    margin-right: 0.3rem;
    float: left;
}
.checkNums{
    margin-right: 0.4rem;
    color: #999999;
    font-weight: bold
}
.Good{
    border-top: #F1F1F1 solid 1px;
    padding-top: 0.4rem;
    margin-top: 0.4rem
}
.zheng{
    font-size: 14px;
    color: #101012;
    display: inline-block;
    width: 1.8rem;
    height: 0.6rem;
    background: #F1F1F1;
    border-radius: 15px;
    text-align: center;
    line-height: 0.6rem;
    margin-left: 1.2rem;
    margin-right: 0.6rem
}
.nzheng{
    font-size: 14px;
    color: #101012;
    display: inline-block;
    width: 1.8rem;
    height: 0.6rem;
    background: #F1F1F1;
    border-radius: 15px;
    text-align: center;
    line-height: 0.6rem;
}
.MacZhenduanMore{
    position: absolute;
    width: 0.24rem;
    height: 0.24rem;
    right: 0.2rem;
    top: 0.6rem
}
</style>
