<template>
    <div style="padding-top:0.2rem">
        <div class="inform">
            <div class="centers">
                <p class="centers-input">{{this.num}}</p>
                <img src="../assets/icon-equip1.png" class="icon1">
            </div>
            <div class="centers" v-if="One">
                <p class="centers-input">{{companyInfo.access_no}}</p>
                <img src="../assets/icon-equip6.png" class="icon1">
            </div>
            <div class="centers" >
                <p class="centers-input">{{this.company_name}}</p>
                <img src="../assets/icon-equip2.png" class="icon1">
            </div>
            <div class="centers" v-if="!One">
                <input class="centers-input" v-model="company_name" placeholder="请输入公司名称"/>
                <img src="../assets/icon-equip2.png" class="icon1">
            </div>

            <div class="centers" v-if="Two">
                <p class="centers-input">{{this.address}}</p>
                <img src="../assets/icon-equip3.png" class="icon1">
            </div>
            <div class="centers" v-if="!Two">
                <input class="centers-input" v-model="address" placeholder="请输入公司地址" />
                <img src="../assets/icon-equip3.png" class="icon1">
            </div>

            <div class="centers" v-if="this.Three">
                <p class="centers-input">{{this.contact}}</p>
                <img src="../assets/icon-equip4.png" class="icon1">
            </div>
            <div class="centers" v-if="!this.Three">
                <input class="centers-input" v-model="contact" placeholder="请输入联系人姓名" />
                <img src="../assets/icon-equip4.png" class="icon1">
            </div>

            <!-- <div class="centers centerss" v-if="Four">
                <p class="centers-input">{{this.tel}}</p>
                <img src="../assets/icon-equip5.png" class="icon1">
            </div> -->
            <div class="centers" >
                <input class="centers-input" v-model="tel" placeholder="请输入联系人方式" />
                <img src="../assets/icon-equip5.png" class="icon1">
            </div>
            <div class="standardFoot">
                <p class="standardFootTitle">上传图片和图纸</p>
                <div style="padding-top:0.2rem;overflow:hidden">
                    <div v-for="(item,index) in MacChangeImagesList" :key="index" class="AuditedPass-img ImagesBox" :class="(index+1)%4 == 0 ? 'Dingdan-imgNone':''">
                        <img src="../assets/closeion.png" @click="Remove(index)" class="CloseButs">
                        <img v-bind:src="item.url" class="AuditedPass-img" @click="BigImage(index)" >
                    </div>
                    <img src="../assets/icon-img.png" class="AuditedPass-img" @click="takePhoto">
                </div>
            </div>
        </div>

        <PhotoView v-if="ShowPhotoView" :ShowPhotoView='ShowPhotoView' v-on:ClosePhotoView="ClosePhotoView" ></PhotoView>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {mapGetters,mapMutations} from 'vuex'
import {API} from '../api/config.js'
import PhotoView from '../common/PhotoView'
import BigImage from '../common/BigImage'
export default {
    name:'standard',
    computed:{
        ...mapGetters(['companyInfo'])
    },
    components:{
        PhotoView,BigImage
    },
    data(){
        return {
            num:'',
            company_name:'',
            address:'',
            contact:'',
            tel:'',
            product_id:'',
            MAC:{},
            COMPANYINFO:{},
            One:true,
            Two:true,
            Three:true,
            Four:true,
            category_id:'',
            DingdanImgs:[],
            ShowPhotoView:false,
            MacChangeImagesList:[],
            BigImageOpen:false
        }
    },
    created(){
        this.category_id = JSON.parse(localStorage.getItem('Category_id'))
        if(!this.companyInfo.address){
            this.Two = false
            this.address = JSON.parse(sessionStorage.getItem('standardaddress'))
        }else{
            this.address = this.companyInfo.address;
        }

        if(!this.companyInfo.contact){
            this.Three = false
            this.contact = JSON.parse(sessionStorage.getItem('standardcontact'))
        }else{
            this.contact = this.companyInfo.contact;
        }

        if(!this.companyInfo.tel){
            this.Four = false
            this.tel = JSON.parse(sessionStorage.getItem('standardtel'))
        }else{
             console.log(this.companyInfo.tel)
            this.tel = this.companyInfo.tel;
        }
        this.num = this.companyInfo.num;
        this.company_name = this.companyInfo.company_name;
        if(sessionStorage.getItem('standardImgs')){
            this.MacChangeImagesList = JSON.parse(sessionStorage.getItem('standardImgs'))
        }
        console.log(this.MacChangeImagesList)
    },
    watch:{
        address(n,o){
            sessionStorage.setItem('standardaddress',JSON.stringify(n))
        },
        contact(n,o){
            sessionStorage.setItem('standardcontact',JSON.stringify(n))
        },
        tel(n,o){
            sessionStorage.setItem('standardtel',JSON.stringify(n))
        }
    },
    methods:{
        ...mapMutations({
            setCompanyInfo : 'SET_COMPANYINFO'
        }),
        Remove(index){
            this.MacChangeImagesList.splice(index,1)
        },
        ClosePhotoView(PhotoViewBoxShow){
            console.log(PhotoViewBoxShow)
            if(PhotoViewBoxShow.CemaraPhoto.length!==0 ){
                this.MacChangeImagesList.push(PhotoViewBoxShow.CemaraPhoto)
            }
            sessionStorage.setItem('standardImgs',JSON.stringify(this.MacChangeImagesList))
            this.ShowPhotoView = PhotoViewBoxShow.PhotoViewBoxShow
        },
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.MacChangeImagesList[index].url))
            this.BigImageOpen = true
            console.log(index)
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        takePhoto(){
            this.ShowPhotoView = true
        },
        goBack(){
            this.$router.go(-1)
        },
    }
}
</script>

<style scoped>
.CloseButs{
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: -0.2rem;
    right: -0.2rem
}
.ImagesBox{
    float: left;
    position: relative;
}
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.center{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #727EFF , #A065FA);
    height: 2.8rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem ;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem
}
.inform{
    margin: 0 0.3rem;

}
.centers{
    overflow: hidden;
    border-bottom: #F1F1F1 solid 1px;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem
}
.centerss{
    margin-bottom: 0.9rem
}
.centers-input{
    float: left;
    color: #101012;
    font-size: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 80%
}
.icon1{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin-top: 0.1rem
}
.header1{
    line-height: 0.5rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold
}
.foot1{
    font-size: 12px;
    color: #fff
}
.queren{
    margin: 1.6rem 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    border-radius: 23px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 0.9rem;
    margin-bottom: 1rem
}
.WriterMacQueren{
    text-align: center;
    padding-top: 3rem
}
.WriterMacIcon1{
    width: 0.7rem;
    height: 0.7rem;
    margin-bottom: 1rem
}
.WriterMacButton{
    color: #CCCCCC;
    font-size: 15px
}
.AuditedPass-imgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.AuditedPass-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
.Dingdan-imgNone{
    margin-right: 0
}
.standardFoot{
    margin-top: 0.5rem;
}
.standardFootTitle{
    margin-bottom: 0.3rem;
    color: #999999;
    font-size: 12px
}
</style>
