<template>
    <div style="padding-top:0.2rem">
        <div class="DingdanInfo-Header">
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">填写购买设备信息</span>
            <span class="ChoosePlace-right" @click="WithoutMac">跳过</span>
        </div>
        <div class="center">
            <p class="header1" v-if="this.$route.params.id !== 10000">{{this.MAC.name}}</p>
            <p class="header1" v-if="this.$route.params.id == 10000">未选择设备型号</p>
            <p class="foot1">CM400 High Interlinent Carton Package Machine</p>
        </div>
        <div class="inform">
            <div class="centers">
                <input class="centers-input" id="MacNum" style="width:80%" v-model="MacCompanyName" type="text" placeholder="请输入公司名称">
                <!-- <img src="../assets/icon-equip1.png" class="icon1"> -->
            </div>
            <div class="centers">
                <input class="centers-input" id="MacNum" v-model="MacNum" type="text" placeholder="请输入设备编号">
                <!-- <img src="../assets/icon-equip1.png" class="icon1"> -->
            </div>
            <div class="centers">
                <input class="centers-input" id="MacNum" v-model="MacCompanyNum" type="text" placeholder="请输入企业码">
                <!-- <img src="../assets/icon-equip6.png" class="icon1"> -->
            </div>
        </div>
        <div class="WriterMacQueren" @click="gotoMyMacQueren">
            <div class="WriterMacInfoImg">
                <img src="../assets/icon-search.png" class="WriterMacIcon1">
            </div>
            <p class="WriterMacButton">点击查询设备是否在龙腾购买</p>
        </div>
    </div>
</template>

<script>
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
import {mapMutations} from 'vuex'
export default {
    name:'WriterMac',
    components:{
        API
    },
    data(){
        return {
            id:'1533521853',
            MAC:{},
            MacNum:'',
            category_id:'',
            MacCompanyName:'',
            MacCompanyNum:''
        }
    },
    created(){
        this.category_id = JSON.parse(localStorage.getItem('Category_id'))
        console.log(this.$route.params.id)
        if(this.$route.params.id!==10000){
            sessionStorage.setItem("SID",JSON.stringify(this.$route.params.id))
        }
        this.getAllMac()
    },
    methods:{
        ...mapMutations({
            setCompanyInfo:'SET_COMPANYINFO'
        }),
        goBack(){
            this.$router.go(-1)
        },
        getAllMac(){
            this.$axios.get(API+'/api/v1/common/products',{params:{
                page:1,
                per:200,
                category_id:this.category_id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(this.$route.params.id==10000){
                }else{
                    // console.log(response.data.data)
                    for(var i=0;i<response.data.data.length;i++){
                        if(response.data.data[i].id == this.$route.params.id){
                            this.MAC=response.data.data[i]
                        }
                    }
                }
                console.log(this.MAC)
            })
        },
        gotoMyMacQueren(){
            // console.log(JSON.parse(localStorage.getItem('userInfo')))
            if(this.MacCompanyName == ''){
                // alert("请输入公司名称")
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.warning('请输入公司名称');
                return
            }else if(this.MacNum == ''){
                // alert("请输入设备编号")
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.warning('请输入设备编号');
                return
            }else if(this.MacCompanyNum == ''){
                // alert('请输入企业码')
                Toast.config({
                    position:'top',
                    time: 1000,
                    close:false,
                })
                Toast.warning('请输入企业码');
                return
            }
            const data = {
                "company_name":this.MacCompanyName,
                "num":this.MacNum,
                'access_no':this.MacCompanyNum
            }
            this.$axios.get(API+'/api/v1/i/check_num',{
                params:{
                    "company_name":this.MacCompanyName,
                    "num":this.MacNum,
                    'access_no':this.MacCompanyNum}
                },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo')).token
                }
            }).then((response) => {
                console.log(response)
                if(response.data.code== -1){
                    // alert(response.data.msg)
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(response.data.msg);
                } else {
                    this.setCompanyInfo(response.data.data)
                    console.log(response.data.data)
                    localStorage.setItem('COMPANYINFO',JSON.stringify(response.data.data))
                    // this.$router.push("/MacInfoQueren/"+this.MacNum)
                    this.$router.push("/MacInfoQueren/standard")

                }
            }).catch((error) => {
                console.log(error)
            })
        },
        WithoutMac(){
            this.$axios.get(API+'/api/v1/i/products',{params:{
                "page": 1,
                "per": 10
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo')).token
                }
            }).then((response)=>{
                console.log(response.data.data)
                // if(response.data.data.length == 0){
                //     this.$router.push('/WithoutMac/')
                // } else {
                //     this.$router.push("/MyMac/MacInfo/")
                // }
                this.$router.push("/MyMac/MacInfo/")
            })
        }
    }
}
</script>

<style scoped>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
    font-weight: bold
}
.ChoosePlace-right{
    color: #CCCCCC;
    font-size: 14px;
    float: right;
}
.Header1{
    overflow: hidden;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0
}
.nextone{
    float: right;
    color: #CDCDCD;
    font-size: 14px;
    line-height: 24px
}
.Header1-center{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25%
}
.center{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #727EFF , #A065FA);
    height: 2.8rem;
    padding-left: 0.5rem;
    padding-top: 0.7rem ;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1.4rem
}
.inform{
    margin: 0 0.3rem;

}
.centers{
    overflow: hidden;
    border-bottom: #F1F1F1 solid 1px;
    padding-bottom: 0.3rem;
    margin-top: 0.5rem
}
.centerss{
    margin-bottom: 0.9rem
}
.centers-input{
    float: left;
    color: #101012;
    font-size: 15px;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon1{
    width: 0.3rem;
    height: 0.3rem;
    float: right;
    margin-top: 0.1rem
}
.header1{
    line-height: 0.5rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold
}
.foot1{
    font-size: 12px;
    color: #fff
}
.queren{
    margin: 0 0.3rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    width: 6.9rem;
    height: 0.9rem;
    border-radius: 23px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: 0.9rem;
    margin-bottom: 1rem
}
.WriterMacQueren{
    text-align: center;
    padding-top: 1rem
}
.WriterMacIcon1{
    width: 0.7rem;
    height: 0.7rem;
    margin-top: 0.66rem
}
.WriterMacButton{
    color: #CCCCCC;
    font-size: 15px
}

.WriterMacInfoImg{
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 50%;
    box-shadow:1px 1px 15px rgba(153, 83, 240, 0.1); 
    margin-left: 2.76rem;
    margin-bottom: 0.5rem
}
</style>
