<template>
    <div style="padding-bottom:1rem;height:100%">
        <!-- <div class="All-Box" @click="gotoDingdanInfo(index)" v-for="(item,index) in AllOrderList" :key="index" v-if="item.type !== 'buy' && AllOrderList.length>0">
           <div class="All-Header">
                <img src="../../assets/icon-equip.png" class="All-icon1">
                <span class="All-Header-Name">{{item.product_name}}</span>
                <span class="All-Header-type">{{item.type_name}}</span>
            </div>
            <div class="All-Center">
                <p class="All-Center-product">{{item.remark}}</p>
                <div class="All-Center-Foot">
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-1.png" class="All-icon2">
                        <span class="All-Center-right">{{item.model}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-2.png" class="All-icon2">
                        <span class="All-Center-right">{{item.pic_count}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-3.png" class="All-icon2">
                        <span class="All-Center-right">{{item.vid_count}}</span>
                    </div>
                </div>
            </div>
            <div class="All-Foot">
                <div v-if="item.state!=='pending'" style="float:left">
                    <span class="All-Foot-one">{{item.staff_type_name}}：</span>
                    <span class="All-Foot-two">{{item.staff_name}}</span>
                    <span class="All-Foot-three">{{item.staff_tel}}</span>
                </div>
                <div v-if="item.state=='pending'" style="float:left">
                    <span class="All-Foot-three">暂时没有售后人员服务</span>
                </div>
                <span class="All-Foot-four" :class="StateNameClass(index)">{{item.state_name}}</span>
            </div>
        </div>

        <div class="All-Box" @click="gotoLingpeijianDingdanInfo(index)" v-for="(item,index) in AllOrderList" :key="index" v-if="item.type == 'buy' && AllOrderList.length>0"> 
            <div class="All-Header">
                <img src="../../assets/icon-equip.png" class="All-icon1">
                <span class="All-Header-Name">{{item.product_name}}</span>
                <span class="All-Header-type">{{item.type_name}}</span>
            </div>
            <div class="All-Center">
                <div class="LingpeijianDingdanCenter" v-for="(Item,Index) in AllOrderList[index].items" :key="Index">
                    <span class="LingpeijianDingdanCenterName">{{Item.name}}</span>
                    <span class="LingpeijianDingdanCenterQTY">{{Item.qty}}</span>
                </div>
                <div class="All-Center-Foot">
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-1.png" class="All-icon2">
                        <span class="All-Center-right">{{item.model}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-2.png" class="All-icon2">
                        <span class="All-Center-right">{{item.pic_count}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-3.png" class="All-icon2">
                        <span class="All-Center-right">{{item.vid_count}}</span>
                    </div>
                </div>
            </div>
            <div class="All-Foot">
                <div v-if="item.state!=='pending'" style="float:left">
                    <span class="All-Foot-one">{{item.staff_type_name}}：</span>
                    <span class="All-Foot-two">{{item.staff_name}}</span>
                    <span class="All-Foot-three">{{item.staff_tel}}</span>
                </div>
                <div v-if="item.state=='pending'" style="float:left">
                    <span class="All-Foot-three">暂时没有售后人员服务</span>
                </div>
                <span class="All-Foot-four" :class="StateNameClass(index)">{{item.state_name}}</span>
            </div>
        </div>     
        <div v-if="AllOrderList.length == 0">
            <img src="../../assets/icon-blank-order.png" class="WithoutPhoto">
            <p class="WithoutDingdan">暂无订单发布</p>
        </div> -->

        <mu-container ref="container" v-if="AllOrderList.length > 0">
            <mu-load-more @refresh="refresh" :refreshing="refreshing" :loading="loading" @load="load">
            <div class="All-Box" @click="gotoDingdanInfo(index)" v-for="(item,index) in AllOrderList" :key="index" v-if="item.type !== 'buy' && AllOrderList.length>0">
           <div class="All-Header">
                <img src="../../assets/icon-equip.png" class="All-icon1">
                <span class="All-Header-Name">{{item.product_name}}</span>
                <span class="All-Header-type">{{item.type_name}}</span>
            </div>
            <div class="All-Center">
                <p class="All-Center-product">{{item.remark}}</p>
                <div class="All-Center-Foot">
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-1.png" class="All-icon2">
                        <span class="All-Center-right">{{item.model}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-2.png" class="All-icon2">
                        <span class="All-Center-right">{{item.pic_count}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-3.png" class="All-icon2">
                        <span class="All-Center-right">{{item.vid_count}}</span>
                    </div>
                </div>
            </div>
            <div class="All-Foot">
                <div v-if="item.state!=='pending'" style="float:left">
                    <span class="All-Foot-one">{{item.staff_type_name}}：</span>
                    <span class="All-Foot-two">{{item.staff_name}}</span>
                    <span class="All-Foot-three">{{item.staff_tel}}</span>
                </div>
                <div v-if="item.state=='pending'" style="float:left">
                    <span class="All-Foot-three">暂时没有售后人员服务</span>
                </div>
                <span class="All-Foot-four" :class="StateNameClass(index)">{{item.state_name}}</span>
            </div>
            <div class="All-Foots">
                <div v-if="item.state !== 'finished' && item.state !== 'cancelled'" style="float:left;margin-top: 0.3rem;">
                    <span class="All-Foot-one">发布时间：</span>
                    <span class="All-Foot-three">{{item.created_at}}</span>
                </div>
                <div v-if="item.state == 'finished'" style="float:left;margin-top: 0.3rem;">
                    <span class="All-Foot-one">结束时间：</span>
                    <span class="All-Foot-three">{{item.finished_at}}</span>
                </div>
                <div v-if="item.state == 'cancelled'" style="float:left;margin-top: 0.3rem;">
                    <span class="All-Foot-one">取消时间：</span>
                    <span class="All-Foot-three">{{item.cancelled_at}}</span>
                </div>
                <span class="cancellOrder" v-if="item.state == 'pending'" @click.stop="CancellOrder(item.id)">取消订单</span>
            </div>
        </div>

        <div class="All-Box" @click="gotoLingpeijianDingdanInfo(index)" v-for="(item,index) in AllOrderList" :key="index" v-if="item.type == 'buy' && AllOrderList.length>0"> 
            <div class="All-Header">
                <img src="../../assets/icon-equip.png" class="All-icon1">
                <span class="All-Header-Name">{{item.product_name}}</span>
                <span class="All-Header-type">{{item.type_name}}</span>
            </div>
            <div class="All-Center">
                <div class="LingpeijianDingdanCenter" v-for="(Item,Index) in AllOrderList[index].items" :key="Index">
                    <span class="LingpeijianDingdanCenterName">{{Item.name}}</span>
                    <span class="LingpeijianDingdanCenterQTY">{{Item.qty}}</span>
                </div>
                <div class="All-Center-Foot">
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-1.png" class="All-icon2">
                        <span class="All-Center-right">{{item.model}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-2.png" class="All-icon2">
                        <span class="All-Center-right">{{item.pic_count}}</span>
                    </div>
                    <div class="all-Center-Left">
                        <img src="../../assets/icon-notes-3.png" class="All-icon2">
                        <span class="All-Center-right">{{item.vid_count}}</span>
                    </div>
                </div>
            </div>
            <div class="All-Foot">
                <div v-if="item.state!=='pending'" style="float:left">
                    <span class="All-Foot-one">{{item.staff_type_name}}：</span>
                    <span class="All-Foot-two">{{item.staff_name}}</span>
                    <span class="All-Foot-three">{{item.staff_tel}}</span>
                </div>
                <div v-if="item.state=='pending'" style="float:left">
                    <span class="All-Foot-three">暂时没有售后人员服务</span>
                </div>
                <span class="All-Foot-four" :class="StateNameClass(index)">{{item.state_name}}</span>
            </div>
            <div class="All-Foots">
                <div v-if="item.state !== 'finished' && item.state !== 'cancelled'" style="float:left;margin-top: 0.3rem;">
                    <span class="All-Foot-one">发布时间：</span>
                    <span class="All-Foot-three">{{item.created_at}}</span>
                </div>
                <div v-if="item.state == 'finished'" style="float:left;margin-top: 0.3rem;">
                    <span class="All-Foot-one">结束时间：</span>
                    <span class="All-Foot-three">{{item.finished_at}}</span>
                </div>
                <div v-if="item.state == 'cancelled'" style="float:left;margin-top: 0.3rem;">
                    <span class="All-Foot-one">取消时间：</span>
                    <span class="All-Foot-three">{{item.cancelled_at}}</span>
                </div>
                <span class="cancellOrder" v-if="item.state == 'pending'" @click.stop="CancellOrder(item.id)">取消订单</span>
            </div>
        </div>
            </mu-load-more>
        </mu-container>

        <div v-if="AllOrderList.length == 0">
            <img src="../../assets/icon-blank-order.png" class="WithoutPhoto">
            <p class="WithoutDingdan">暂无订单发布</p>
        </div>
        <CancelOrder v-if="MacDeletOpen" :MacDeletOpen='MacDeletOpen' :MacID='MacID' v-on:changeDeletPopup='changeDeletPopup'></CancelOrder>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import {mapGetters} from 'vuex'
import CancelOrder from '../../common/CancelOrder'
export default {
    name:'All',
    data(){
        return {
            id:'',
            AllOrderList:[],
            type:'',
            refreshing: false,
            loading: false,
            page:1,
            MacDeletOpen:false,
            MacID:''
        }
    },
    computed:{
        ...mapGetters(['DingdanType'])
    },
    watch:{
        DingdanType(n,o){
            this.getAllOrders()
        }
    },
    created(){
        this.getAllOrders()
    },
    components:{
        CancelOrder
    },
    methods:{
        changeDeletPopup(Props){
            console.log(Props)
            this.MacDeletOpen = Props
            this.getAllOrders()
            this.move()
        },
        //页面滑动
        move(){
            var mo=function(e){e.preventDefault();};
            document.body.style.overflow='';//出现滚动条
            document.removeEventListener("touchmove",mo,false);
        },
        //取消订单
        CancellOrder(index){
            this.MacID = index
            this.MacDeletOpen = true
        },
        refresh () {
            this.refreshing = true;
            this.$refs.container.scrollTop = 0;
            setTimeout(() => {
                this.refreshing = false;
                this.$axios.get(API+'/api/v1/i/orders',{params:{
                        "page": 1,
                        "per": 10,
                        "state": JSON.parse(sessionStorage.getItem("DingdanType"))
                    }},{
                        headers:{
                            'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                        }
                    }).then((response)=>{
                        if(response.data.code == 0){
                            this.AllOrderList=response.data.data
                        }
                    })
            }, 1000)
        },
        load () {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.$axios.get(API+'/api/v1/i/orders',{params:{
                        "page": this.page,
                        "per": 10,
                        "state": JSON.parse(sessionStorage.getItem("DingdanType"))
                    }},{
                        headers:{
                            'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                        }
                    }).then((response)=>{
                        console.log(response)
                        if(response.data.count>0){
                            this.page = this.page + 1
                            response.data.data.map(item=>{
                                this.AllOrderList.push(item)
                            })
                        }
                        console.log(this.AllOrderList)
                    })
            }, 2000)
            },


        //前往订单页
        gotoDingdanInfo(value){
            if(this.AllOrderList[value].state !== 'finished'){
                var ID = this.AllOrderList[value].id
                this.$router.push('/DingdanInfo/'+ID)
            } else {
                var ID = this.AllOrderList[value].id
                this.$router.push('/DingdanPingjia/'+ID)
            }
        },
        gotoLingpeijianDingdanInfo(value){
            //  var ID = this.AllOrderList[value].id
            //     this.$router.push('/LingpeijianDingdanInfo/'+ID)
            if(this.AllOrderList[value].state !== 'finished'){
                var ID = this.AllOrderList[value].id
                this.$router.push('/LingpeijianDingdanInfo/'+ID)
            } else {
                var ID = this.AllOrderList[value].id
                this.$router.push('/DingdanPingjia/'+ID)
            }
        },
        //获取所以订单
        getAllOrders(){
            if(JSON.parse(localStorage.getItem('userInfo')) == ''){
                sessionStorage.setItem("DingdanType",JSON.stringify('all'))
            }
            console.log(JSON.parse(sessionStorage.getItem("DingdanType")))
            this.$axios.get(API+'/api/v1/i/orders',{params:{
                "page": 1,
                "per": 10,
                "state": JSON.parse(sessionStorage.getItem("DingdanType"))
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.AllOrderList = response.data.data
                this.page = this.page +1
                console.log(response)
            })
        },
        StateNameClass(value){
            if(this.AllOrderList[value].state == 'pending'){
                return 'ONE'
            }else if(this.AllOrderList[value].state == 'finished'){
                return 'THREE'
            } else{
                return 'TWO'
            }
        },
    }
}
</script>
<style>
.All-Box{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    margin-top: 0.1rem;
}
.All-Header{
    padding: 0.1rem 0.2rem;
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden
}
.All-icon1{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.2rem;
    float: left;
    margin-top: 0.18rem
}
.All-Header-Name{
    color: #101012;
    font-size: 15px;
    line-height: 0.7rem;
    font-weight: bolder
}
.All-Header-type{
    color: #101012;
    line-height: 0.7rem;
    font-size: 12px;
    float: right;
}
.All-Center{
padding: 0.2rem
}
.All-Center-product{
    color: #101012;
    font-size: 12px;
    line-height: 0.4rem
}
.All-Center-Foot{
    overflow: hidden;
    margin-top: 0.3rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 0.1rem
}
.all-Center-Left{
    float: left;
    margin-right: 0.3rem;
    line-height: 0.35rem;
    color: #CCCCCC;
    font-size: 11px;
    overflow: hidden;
}
.All-icon2{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.1rem;
    float: left;
}
.All-Foot{
    overflow: hidden;
    padding: 0rem 0.2rem;
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 0.2rem;
    margin: 0 0.2rem;
    padding-left: 0
}
.All-Foots{
    overflow: hidden;
    padding: 0rem 0.2rem;
    margin: 0 0.2rem;
    padding-left: 0
}
.cancellOrder{
    float: right;
    color: #999999;
    padding: 0.1rem 0.3rem;
    background: #F1F1F1;
    border-radius: 0.26rem;
    margin-top: 0.2rem;
    font-size: 12px;
}
.All-Foot-one{
color: #999;
font-size: 12px
}
.All-Foot-two{
color: #666666;
font-size: 12px
}
.All-Foot-three{
color: #666666;
font-size: 12px
}
.All-Foot-four{
    float: right;
    color: #E95555;
    font-size: 12px
}
.All-icon2{
    width: 0.3rem;
    height: 0.3rem;
}
.ONE{
    color: #E95555
}
.TWO{
    color: #85C93B
}
.THREE{
    color: #CCCCCC
}
.WithoutDingdan{
    text-align: center;
    font-size: 16px;
    color: #BBBBBB;
    /* font-weight: bold; */
    margin-top: 0.6rem;
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.container{
    padding: 0
}
</style>
