<template>
    <div style="padding-top:1.6rem;padding-bottom:1.6rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单详情-{{DingdanInfo.state_name}}</span>
            <!-- <img src="../../assets/icon-notes-2.png" class="MacInfo-icon2"> -->
            <img src="../../assets/icon-notes-2.png" class="MacInfo-icon2" @click="gotoPhotos">
        </div>
        <div class="Dingdan-name">
            <span class="Dingdan-nameleft">{{DingdanInfo.product_name}}</span>
            <span class="Dingdan-nameright">{{DingdanInfo.type_name}}</span>
        </div>
        <div class="Dingdan-type">
            <div class="Dingdan-type-one">
                <img src="../../assets/icon-notes-1.png" class="Dingdan-icon3">
                <span class="Dingdan-type-two">{{DingdanInfo.product_num}}</span>
            </div>
            <div class="Dingdan-type-one">
                <img src="../../assets/icon-notes-6.png" class="Dingdan-icon3">
                <span class="Dingdan-type-two">{{DingdanInfo.created_at}}</span>
            </div>
            <!-- <div class="Dingdan-type-one">
                <img src="../../assets/icon-notes-5.png" class="Dingdan-icon3">
                <span class="Dingdan-type-two">250kg</span>
            </div> -->
        </div>
        <p class="Dingdan-product">{{DingdanInfo.remark}}</p>
        <div class="Dingdan-imgs" >
            <img v-for="(item,index) in DingdanImgs" :key="index" v-bind:src="item.url" class="Dingdan-img" @click="BigImage(index)" :class="(index+1)%3 == 0 ? 'Dingdan-imgNone':''" v-if="item.type == 'image'">
            <video width="320" height="240" controls v-bind:poster="item.thumb_url" class="Dingdan-img" v-if="item.type == 'video'" v-for="(item,Index) in DingdanImgs" :key="Index">
                <source v-bind:src="item.url" type="video/mp4">
            </video>
        </div>
        <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-bottom:0.4rem">联系人</p>
        <div class="Dingdan-people" style="margin-bottom: 0.3rem" v-if="DingdanInfo.state!=='pending'" v-for="(item,index) in DingdanContacts" :key="index">
                <span class="Dingdan-peopelname">{{item.type}}：{{item.staff_name}}</span>
                <span class="Dingdan-peoplephone">{{item.tel}}</span>
            </div>
        <div class="Dingdan-people" v-if="DingdanInfo.state=='pending'">
            <span class="Dingdan-peopelname">暂时没有售后人员服务</span>
        </div>
        <div v-if="DingdanHistories.length>0">
            <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-top:0.8rem;margin-bottom:0.2rem">求助记录</p>
            <div class="Dingdan-baoyang">
                <div class="Dingdan-baoyang-header">
                    <img src="../../assets/icon-notes-time.png" class="Dingdan-icon4">
                    <span class="Dingdan-baoyang-date">{{DingdanHistories[0].date}}</span>
                    <span class="Dingdan-baoyang-type">{{DingdanHistories[0].type_name}}</span>
                </div>
                <div class="Dingdan-baoyang-center">
                    <p class="Dingdan-baoyang-one">{{DingdanHistories[0].user_remark}}</p>
                    <p class="Dingdan-baoyang-people">处理师傅：{{DingdanHistories[0].staff_name}}</p>
                    <p class="Dingdan-baoyang-two">{{DingdanHistories[0].staff_remark}}</p>
                </div>
            </div>
            <div v-if="showMore">
                <div class="Dingdan-baoyang" v-for="(item,index) in DingdanHistoriesMore" :key="index">
                    <div class="Dingdan-baoyang-header">
                        <img src="../../assets/icon-notes-time.png" class="Dingdan-icon4">
                        <span class="Dingdan-baoyang-date">{{item.date}}</span>
                        <span class="Dingdan-baoyang-type">{{item.type_name}}</span>
                    </div>
                    <div class="Dingdan-baoyang-center">
                        <p class="Dingdan-baoyang-one">{{item.user_remark}}</p>
                        <p class="Dingdan-baoyang-people">处理师傅：{{item.staff_name}}</p>
                        <p class="Dingdan-baoyang-two">{{item.staff_remark}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="Dingdan-more" @click="showmore" v-if="!showMore && DingdanHistoriesMore.length!==0">
            <img src="../../assets/icon-more4.png" class="Dingdan-moreicon">
            <span class="Dingdan-zhankai">展开</span>
        </div>
        <div class="Dingdan-Foot" v-if=" DingdanInfo.state !== 'pending'"> 
            <div class="Dingdan-goutong" @click="gotoSpeaker">立即沟通</div>
        </div>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import BigImage from '../../common/BigImage'
export default {
    name:'DingdanInfo',
    components:{
        BigImage
    },
    data(){
        return {
            BigImageOpen:false,
            showMore:false,
            DingdanImgs:[],
            DingdanInfo:{},
            DingdanContacts:[],
            DingdanHistories:[],
            DingdanHistoriesMore:[],
            StartNum:5
        }
    },
    created(){
        this.getLingpeijianDingdan()
    },
    methods:{
        gotoPhotos(){
            sessionStorage.setItem('MinePhoto',JSON.stringify('YES'))
            this.$router.push('/MacPhotos')
        },
        isRating(index){
            ++index
            return index <= this.rating ? 'star-item star-active' : 'star-item'
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.DingdanImgs[index].url))
            this.BigImageOpen = true
            console.log(index)
        },
        goBack(){
            this.$router.push('/MyMac/Dingdan/All')
        },
        showmore(){
            this.showMore = !this.showMore
        },
        gotoSpeaker(){
            this.$axios.post(API+'/api/v1/i/start_chat ',{
                "order_id":this.$route.params.id
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    this.$router.push('/IMChat/'+response.data.chat_id)
                }
            })
            // this.$router.push('/MyMac/Xiaoxi')
        },
        getLingpeijianDingdan(){
            this.$axios.get(API+'/api/v1/i/order_info',{params:{
                "order_id":this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                this.DingdanInfo = response.data.data
                this.DingdanImgs = this.DingdanInfo.pics
                this.DingdanContacts = this.DingdanInfo.contacts
                this.DingdanHistories = this.DingdanInfo.histories
                if(this.DingdanHistories.length>1){
                    this.DingdanHistoriesMore = this.DingdanHistories.splice(1,1)
                }
                console.log(this.DingdanInfo)
            })
        },
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.MacInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.06rem;
}
.Dingdan-name{
    overflow: hidden;
    margin: 0 0.3rem;
    margin-bottom: 0.3rem
}
.Dingdan-nameleft{
    color: #101012;
    font-size: 18px;
    font-weight: bold
}
.Dingdan-nameright{
color: #9953F0;
font-size: 12px;
/* font-weight: bold; */
float: right
}
.Dingdan-type{
    margin: 0 0.3rem;
    overflow: hidden;
    margin-bottom: 0.6rem
}
.Dingdan-type-one{
    float: left;
    margin-right: 0.3rem
}
.Dingdan-icon3{
    width: 0.24rem;
    height: 0.24rem;
    margin-top: 0.04rem;
    float: left;
    margin-right: 0.06rem;
}
.Dingdan-type-two{
    font-size: 11px;
    color: #CCCCCC;
    line-height: 0.2rem
}
.Dingdan-product{
    color: #101012;
    font-size: 14px;
    /* font-weight: bold; */
    line-height: 0.5rem;
    margin:0 0.3rem;
    margin-bottom: 0.3rem
}
.Dingdan-imgs{
    margin: 0 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.Dingdan-img{
    width: 2.1rem;
    height: 2.1rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
.Dingdan-imgNone{
    margin-right: 0
}
.Dingdan-people{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    overflow: hidden;
    padding: 0.2rem 0.2rem;
    margin-bottom: 0.3rem
}
.Dingdan-peopelname{
    color: #666666;
    font-size: 15px;
    line-height: 0.7rem;
    font-weight: bold
}
.Dingdan-peoplephone{
    color: #101012;
    font-size: 15px;
    float: right;
    font-weight: bold;
    line-height: 0.7rem;
    margin-right: 0.2rem
}
.Dingdan-baoyang{
    margin: 0 0.3rem;
    border-top: solid 1px #F1F1F1;
    padding: 0.4rem 0
}
.Dingdan-icon4{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.2rem
}
.Dingdan-baoyang-header{
margin-bottom: 0.2rem
}
.Dingdan-baoyang-date{
    color: #101012;
    font-size: 12px;
    margin-right: 0.3rem;
    font-weight: bold
}
.Dingdan-baoyang-type{
    color: #101012;
    font-size: 12px;
    font-weight: bold
}
.Dingdan-baoyang-center{
    margin-left: 0.44rem
}
.Dingdan-baoyang-one{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.5rem;
    margin-bottom: 0.1rem
}
.Dingdan-baoyang-people{
    color: #999999;
    font-size: 12px;
    line-height: 0.5rem
}
.Dingdan-baoyang-two{
    color: #666666;
    font-size: 12px;
    font-weight: 400
}
.Dingdan-Foot{
    width: 100%;
    padding: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: #fff
}
.Dingdan-goutong{
    height: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 0.9rem;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.5rem;
}
.Dingdan-more{
    /* margin-bottom: 2rem; */
    text-align: center
}
.Dingdan-moreicon{
    width: 0.24rem;
    height: 0.14rem;
    margin-right: 0.1rem;
}
.Dingdan-zhankai{
    color: #CCCCCC;
    font-size: 12px
}
.DingdanInfoCenters{
    margin-bottom: 0.8rem
}
.DingdanInfoTitle{
    color:#999999;
    font-size:12px;
    margin-left:0.3rem;
    margin-bottom:0.2rem
}
.DingdanInfoTitleTime{
    color: #999999;
    font-size: 12px;
    margin-bottom: 0.2rem
}
.DingdanInfoTitleCenter{
    color: #101012;
    font-size: 14px
}
.Starts{
    display: flex;
    align-items: center;
    justify-content: center
}
.star-item{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.12rem;
    background: no-repeat;
    display: inline-block;
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
.star-active{
    background: url('../../assets/icon-star-on.png');
    background-size:100% 100%;
}
</style>
