<template>
    <div style="position:relative;padding-top:1.4rem;height:100%">
        <div class="DingdanInfo-Header">
            <span class="Dingdan-title">订单-{{DingdanTypeName}}</span>
            <img src="../../assets/icon-nav-filter.png" v-if="DingdanPopup" class="DingdanInfo-icon2" @click.stop="dingdanPopup">
            <img src="../../assets/icon-nav-filter-on.png" v-if="!DingdanPopup" class="DingdanInfo-icon2" @click.stop="dingdanPopup">
        </div>
            <!-- <Navbar></Navbar> -->
            <Nav></Nav>
            <swiper></swiper>
        <!-- <div class="Dingdan-Popup" style="z-index:10000" @click.stop v-if="!DingdanPopup">
            <p class="Dingdan-p" @click="DingdanType4">全部</p>
            <p class="Dingdan-p" @click="DingdanType0">待处理</p>
            <p class="Dingdan-p" @click="DingdanType1">沟通中</p>
            <p class="Dingdan-p" @click="DingdanType2">处理中</p>
            <p class="Dingdan-p" @click="DingdanType3">已结束</p>
        </div> -->
        <mu-container class="Dingdan-Popup" style="z-index:10000" data-mu-loading-color="secondary" data-mu-loading-overlay-color="rgba(0, 0, 0, .7)" v-loading="loading2" @click.stop v-if="!DingdanPopup">
            <mu-button color="primary" @click="DingdanType4()">全部</mu-button>
            <mu-button color="primary" @click="DingdanType0()">待处理</mu-button>
            <mu-button color="primary" @click="DingdanType1()">沟通中</mu-button>
            <mu-button color="primary" @click="DingdanType2()">处理中</mu-button>
            <mu-button color="primary" @click="DingdanType3()">已结束</mu-button>
        </mu-container>
        <!-- <transition name="fade">
            <router-view></router-view>
        </transition> -->
        <!-- <router-view></router-view> -->
    </div>
</template>

<script>
import Loading from 'muse-ui-loading'
import 'muse-ui-loading/dist/muse-ui-loading.css';
import Navbar from './../Navbar/Navbar'
import Nav from './../Swiper/Nav'
import swiper from './../Swiper/swiper'
import {mapMutations} from 'vuex'
import { Toast } from 'mint-ui';
export default {
    name:'Dingdan',
    components:{
        Navbar,Nav,swiper
    },
    data(){
        return {
            DingdanPopup:'false',
            DingdanTypeName:'全部',
            loading1: false,
            loading2: false
        }
    },
    created(){
        this.DingdanTypeName = JSON.parse(sessionStorage.getItem('DingdanTypeName'))
    },
    mounted(){
        document.addEventListener('click',(e)=>{
            if(e.target.className != 'Dingdan-Popup' && e.target.className != 'DingdanInfo-icon2'){
                this.DingdanPopup = true
            }
        })
    },
    methods:{
        ...mapMutations({
            setDingdanType:'SET_DINGDANTYPE'
        }),
        loading () {
            Loading.config({
                overlayColor:'hsla(0,0%,100%,.8)',
                color:'#9953F0',
                text:'加载中...'
            })
            var loading = Loading({})
            console.log(loading.instance)
            setTimeout(() => {
                loading.close()
                // loading.instance.text = '加载完成...'
            }, 1000)
        },
        // fullscreen () {
        //     const loading = this.$loading();
        //     setTimeout(() => {
        //         loading.close();
        //     }, 2000)
        // },
        dingdanPopup(){
            this.DingdanPopup = !this.DingdanPopup
        },
        DingdanType0(){
            this.loading()
            this.setDingdanType('pending')
            sessionStorage.setItem("DingdanType",JSON.stringify('pending'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('待处理'))
            this.DingdanTypeName = '待处理'
        },
        DingdanType1(){
            this.loading()
            this.setDingdanType('touching')
            sessionStorage.setItem("DingdanType",JSON.stringify('touching'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('沟通中'))
            this.DingdanTypeName = '沟通中'
            // this.$router.go(0)
        },
        DingdanType2(){
            this.loading()
            this.setDingdanType('handling')
            sessionStorage.setItem("DingdanType",JSON.stringify('handling'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('处理中'))
            this.DingdanTypeName = '处理中'
            // this.$router.go(0)
        },
        DingdanType3(){
            this.loading()
            this.setDingdanType('finished')
            sessionStorage.setItem("DingdanType",JSON.stringify('finished'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('已结束'))
            this.DingdanTypeName = '已结束'
            // this.$router.go(0)
        },
        DingdanType4(){
            // Toast({
            //     message: '获取信息中！',
            //     duration: 1000,
            // });
            this.loading()
            this.setDingdanType('all')
            sessionStorage.setItem("DingdanType",JSON.stringify('all'))
            this.DingdanPopup = true
            sessionStorage.setItem("DingdanTypeName",JSON.stringify('全部'))
            this.DingdanTypeName = '全部'
        },
    }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    color: #101012;
    font-size: 18px;
    font-weight: bold;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.icon3{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.Dingdan-Popup{
    background: #9953F0;
    width: 2.4rem;
    height:5rem;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0.3rem;
    top: 1.1rem
}
.Dingdan-p{
    /* color: #F8F8F8; */
    font-size: 12px;
    line-height: 1rem;
    font-weight: bold;
}
.mu-primary-color {
    background-color: #9953F0;
}
.mu-raised-button{
    height: 1rem;
}
</style>