<template>
    <div style="padding:1.6rem 0;padding-bottom:2rem">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单详情-{{LingpeijianDingdanInfo.state_name}}</span>
            <!-- <img src="../../assets/icon-notes-2.png" class="MacInfo-icon2"> -->
        </div>
        <div class="LingpeijianDingdan-name">
            <span class="LingpeijianDingdan-nameleft">{{LingpeijianDingdanInfo.product_name}}</span>
            <span class="LingpeijianDingdan-nameright">{{LingpeijianDingdanInfo.type_name}}</span>
        </div>
        <div class="LingpeijianDingdan-type" style="border-bottom:1px solid #F1F1F1;padding-bottom:0.3rem;margin-bottom:0.3rem">
            <div class="LingpeijianDingdan-type-one">
                <img src="../../assets/icon-notes-1.png" class="LingpeijianDingdan-icon3">
                <span class="LingpeijianDingdan-type-two">{{LingpeijianDingdanInfo.product_num}}</span>
            </div>
            <div class="LingpeijianDingdan-type-one">
                <img src="../../assets/icon-notes-6.png" class="LingpeijianDingdan-icon3">
                <span class="LingpeijianDingdan-type-two">{{LingpeijianDingdanInfo.created_at}}</span>
            </div>
            <!-- <div class="LingpeijianDingdan-type-one">
                <img src="../../assets/icon-notes-5.png" class="LingpeijianDingdan-icon3">
                <span class="LingpeijianDingdan-type-two">250kg</span>
            </div> -->
        </div>
        <div class="LingpeijianDingdanInfoCenter">
            <p class="LingpeijianDingdanInfoText">购买的零配件及数量</p>
            <div class="LingpeijianDingdanInfoName">
                <span class="LingpeijianDingdanInfoNUM" v-for="(item,index) in LingpeijianList" :key="index">{{item.name}}   {{item.qty}}</span>
            </div>
        </div>
        <p class="LingpeijianDingdan-product" v-if="LingpeijianDingdanInfo.remark">{{LingpeijianDingdanInfo.remark}}</p>
        <div class="LingpeijianDingdan-imgs" v-if="ImgUrlList.length>0">
            <img v-for="(item,index) in ImgUrlList" :key="index" v-bind:src="item.url" class="LingpeijianDingdan-img" @click="BigImage(index)" :class="(index+1)%3 == 0 ? 'LingpeijianDingdan-imgNone':''" v-if="item.type == 'image'">
            <video width="320" height="240" controls v-bind:poster="item.thumb_url" class="LingpeijianDingdan-img" :class="(index+1)%3 == 0 ? 'LingpeijianDingdan-imgNone':''" v-if="item.type == 'video'" v-for="(item,Index) in ImgUrlList" :key="Index">
                <source v-bind:src="item.url" type="video/mp4">
            </video>
        </div>
        <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-bottom:0.3rem;margin-top:0.5rem">联系人</p>
        <div class="LingpeijianDingdan-people" v-if="LingpeijianDingdanInfo.state!=='pending'" v-for="(item,index) in Lingpeijiancontacts" :key="index">
            <span class="LingpeijianDingdan-peopelname">{{item.type}}：{{item.staff_name}}</span>
            <span class="LingpeijianDingdan-peoplephone">{{item.tel}}</span>
        </div>
        <div class="LingpeijianDingdan-people" v-if="LingpeijianDingdanInfo.state=='pending'">
            <span class="LingpeijianDingdan-peopelname">暂时没有售后人员服务</span>
        </div>
        <div v-if="LingpeijianDingdanInfo.state!=='pending'">
            <p style="color:#999999;font-size:12px;margin-left:0.3rem;margin-top:0.8rem;margin-bottom:0.3rem">零配件详细信息</p>
            <div class="LingpeijianDingdanInfoCenterS" >
                <p class="LingpeijianDingdanInfoCenterSText">零配件单价</p>
                <div class="LingpeijianDingdanInfoCenterSHeader">
                    <div class="LingpeijianDingdanInfoCenterSNum" v-for="(item,index) in LingpeijianList" :key="index">
                        <span class="LingpeijianDingdanInfoCenterSNamne">{{item.name}}</span>
                        <span class="LingpeijianDingdanInfoCenterSNUM">¥{{item.price}}</span>
                    </div>
                </div>
                <div v-if="LingpeijianDingdanInfo.logistic_num" style="border-top: 1px solid #F1F1F1">
                    <div class="LingpeijianDingdanInfoCenterFoot">
                        <p class="LingpeijianDingdanInfoCenterFootName">物流单号</p>
                        <span class="LingpeijianDingdanInfoCenterFootNUm">{{LingpeijianDingdanInfo.logistic_num}}</span>
                    </div>
                    <div class="LingpeijianDingdanInfoCenterFoot">
                        <p class="LingpeijianDingdanInfoCenterFootName">物流公司</p>
                        <span class="LingpeijianDingdanInfoCenterFootNUm">{{LingpeijianDingdanInfo.logistic_company}}</span>
                    </div>
                    <div class="LingpeijianDingdanInfoCenterFoot LingpeijianDingdanInfoCenterFootLast">
                        <p class="LingpeijianDingdanInfoCenterFootName">零配件处理时间</p>
                        <span class="LingpeijianDingdanInfoCenterFootNUm">{{LingpeijianDingdanInfo.estimated_days}}</span>
                    </div>
                    <div class="LingpeijianDingdanInfoCenterFoot" style="border-top:1px solid #F1F1F1;margin-top:0.2rem" v-if="LingpeijianDingdanInfo.state == 'shipped'">
                        <div style="float:left">
                            <p class="LingpeijianDingdanInfoCenterFootP">零配件已发货</p>
                            <p class="LingpeijianDingdanInfoCenterFootP">还剩 {{LingpeijianDingdanInfo.remaining_time}} 自动结束订单</p>
                        </div>
                        <span class="LingpeijianDingdanInfoCenterFootSpan" @click="getLingpeijian">确认收货</span>
                    </div>
                    <div class="LingpeijianDingdanInfoCenterFoot" style="border-top:1px solid #F1F1F1;margin-top:0.2rem" v-if="LingpeijianDingdanInfo.state == 'finished'">
                        <div style="float:left">
                            <p class="LingpeijianDingdanInfoCenterFootP">零配件已收货</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- <div class="LingpeijianDingdanInfoCenterS" v-if="LingpeijianDingdanInfo.state=='pending'">
            <p class="NOLingpeijianDingdanInfoCenterSText">还未下单，请耐心等待</p>
        </div> -->

        <div class="LingpeijianDingdan-Foot" v-if="LingpeijianDingdanInfo.state!=='pending'&&LingpeijianDingdanInfo.state!=='finished'">
            <div class="LingpeijianDingdan-goutong" @click="gotoSpeaker">立即沟通</div>
        </div>
        <div class="LingpeijianDingdan-Foot" v-if="LingpeijianDingdanInfo.state=='finished'&&!LingpeijianDingdanInfo.has_comment">
            <div class="LingpeijianDingdan-goutong" @click="gotoPingjia">评价</div>
        </div>
        <div class="LingpeijianDingdan-Foot" v-if="LingpeijianDingdanInfo.state=='finished'&&LingpeijianDingdanInfo.has_comment">
            <div class="LingpeijianDingdanED" >已评价</div>
        </div>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
        <popup v-if="popupopen" :PopupClose='popupopen' v-on:changePopup="changePopup" v-on:starMarkChange="starMarkChange"></popup>
        <getLingpeijian v-if="MacDeletOpen" :MacDeletOpen='MacDeletOpen' :MacID='MacID' v-on:changeDeletPopup='changeDeletPopup'></getLingpeijian>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import BigImage from '../../common/BigImage'
import  popup  from '../../common/Popup'
import getLingpeijian from '../../common/getLingpeijian'
import Toast from 'muse-ui-toast';
export default {
    name:'LingpeijianDingdanInfo',
    components:{
        BigImage,popup,getLingpeijian
    },
    data(){
        return {
            LingpeijianDingdanInfo:{},
            LingpeijianList:[],
            ImgUrlList:[],
            Lingpeijiancontacts:[],
            BigImageOpen:false,
            popupopen:false,
            MacDeletOpen:false,
            MacID:''
        }
    },
    created(){
        this.getLingpeijianDingdan()
    },
    methods:{
        //确认收货
        getLingpeijian(){
            //  this.$axios.post(API+'/api/v1/i/confirm_received_order',{
            //     "order_id":this.$route.params.id
            // },{
            //     headers:{
            //         'Authorization':JSON.parse(localStorage.getItem('userInfo'))
            //     }
            // }).then((res)=>{
            //     console.log(res)
            //     if(res.data.code ==0){
            //         Toast.config({
            //             position:'top',
            //             time: 1000,
            //             close:false,
            //         })
            //         Toast.success('收货成功');
            //         this.$router.push('/DingdanPingjia/'+this.$route.params.id)
            //         // this.getLingpeijianDingdan()
            //     }
            // })
            this.MacID = parseInt(this.$route.params.id)
            
            this.MacDeletOpen = true
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.MacDeletOpen = Props
            // this.getAllMyMac()
        },
        BigImage(index){
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.ImgUrlList[index].url))
            this.BigImageOpen = true
            console.log(index)
        },
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        goBack(){
            this.$router.go(-1)
        },
        showmore(){
            this.showMore = !this.showMore
        },
        getLingpeijianDingdan(){
            this.$axios.get(API+'/api/v1/i/order_info',{params:{
                "order_id":this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    this.LingpeijianDingdanInfo = response.data.data
                    this.ImgUrlList = this.LingpeijianDingdanInfo.pics
                    this.LingpeijianList = this.LingpeijianDingdanInfo.components
                    this.Lingpeijiancontacts = this.LingpeijianDingdanInfo.contacts
                }else{
                    // alert(response.data.msg)
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(response.data.msg);
                    this.$router.go(-1)
                }
                console.log(response)
            })
        },
        gotoSpeaker(){
            this.$axios.post(API+'/api/v1/i/start_chat ',{
                "order_id":this.$route.params.id
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    this.$router.push('/IMChat/'+response.data.chat_id)
                }else{
                    // alert(response.data.msg)
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(response.data.msg);
                }
            })
        },
        gotoPingjia(){
            this.popupopen = true
        },
        changePopup(Popups){
             this.popupopen = Popups
             this.getLingpeijianDingdan()
             console.log(Popups)
         },
         starMarkChange(mark){
             console.log(mark)
         },
    }
}
</script>

<style>
.DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
background: #fff
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.DingdanInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
}
.MacInfo-icon2{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.06rem;
}
.LingpeijianDingdan-name{
    overflow: hidden;
    margin: 0 0.3rem;
    margin-bottom: 0.1rem
}
.LingpeijianDingdan-nameleft{
    color: #101012;
    font-size: 18px;
    font-weight: bold
}
.LingpeijianDingdan-nameright{
color: #999999;
font-size: 12px;
font-weight: bold;
float: right
}
.LingpeijianDingdan-type{
    margin: 0 0.3rem;
    overflow: hidden;
    margin-bottom: 0.6rem
}
.LingpeijianDingdan-type-one{
    float: left;
    margin-right: 0.3rem
}
.LingpeijianDingdan-icon3{
    width: 0.24rem;
    height: 0.24rem;
    margin-top: 0.04rem;
    float: left;
    margin-right: 0.06rem;
}
.LingpeijianDingdan-type-two{
    font-size: 11px;
    color: #CCCCCC;
    line-height: 0.2rem
}
.LingpeijianDingdan-product{
    color: #101012;
    font-size: 14px;
    /* font-weight: bold; */
    line-height: 0.5rem;
    margin:0.3rem 0.3rem;
}
.LingpeijianDingdan-imgs{
    margin: 0 0.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.2rem
}
.LingpeijianDingdan-img{
    width: 2.1rem;
    height: 2.1rem;
    margin-bottom: 0.3rem;
    margin-right: 0.3rem
}
.LingpeijianDingdan-imgNone{
    margin-right: 0
}
.LingpeijianDingdan-people{
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    overflow: hidden;
    padding: 0.2rem 0.2rem;
    margin-bottom: 0.3rem
}
.LingpeijianDingdan-peopelname{
    color: #666666;
    font-size: 15px;
    line-height: 0.7rem;
    font-weight: bold
}
.LingpeijianDingdan-peoplephone{
    color: #101012;
    font-size: 15px;
    float: right;
    font-weight: bold;
    line-height: 0.7rem;
    margin-right: 0.2rem
}
.LingpeijianDingdan-baoyang{
    margin: 0 0.3rem;
    border-top: solid 1px #F1F1F1;
    padding: 0.4rem 0
}
.LingpeijianDingdan-icon4{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.2rem
}
.LingpeijianDingdan-baoyang-header{
margin-bottom: 0.2rem
}
.LingpeijianDingdan-baoyang-date{
    color: #101012;
    font-size: 12px;
    margin-right: 0.3rem;
    font-weight: bold
}
.LingpeijianDingdan-baoyang-type{
    color: #101012;
    font-size: 12px;
    font-weight: bold
}
.LingpeijianDingdan-baoyang-center{
    margin-left: 0.44rem
}
.LingpeijianDingdan-baoyang-one{
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.5rem;
    margin-bottom: 0.1rem
}
.LingpeijianDingdan-baoyang-people{
    color: #999999;
    font-size: 12px;
    line-height: 0.5rem
}
.LingpeijianDingdan-baoyang-two{
    color: #666666;
    font-size: 12px;
    font-weight: 400
}
.LingpeijianDingdan-Foot{
    width: 100%;
    padding: 0.3rem 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: #fff
}
.LingpeijianDingdan-goutong{
    height: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 0.9rem;
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.5rem;
}
.LingpeijianDingdanED{
    height: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 0.9rem;
    font-size: 15px;
    font-weight: bold;
    background: #ccc;
    border-radius: 0.5rem;
}
.LingpeijianDingdan-more{
    margin-bottom: 2rem;
    text-align: center
}
.LingpeijianDingdan-moreicon{
    width: 0.24rem;
    height: 0.14rem;
    margin-right: 0.1rem;
}
.LingpeijianDingdan-zhankai{
    color: #CCCCCC;
    font-size: 12px
}
.LingpeijianDingdanInfoCenter{
    border-bottom: 1px solid #F1F1F1;
    margin: 0 0.3rem;
    padding-bottom: 0.2rem
}
.LingpeijianDingdanInfoText{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.3rem
}
.LingpeijianDingdanInfoName{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.LingpeijianDingdanInfoNUM{
    padding: 0.1rem 0.32rem;
    background: #F1F1F1;
    display: inline-block;
    text-align: center;
    border-radius: 0.26rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem ;
    color: #101012;
    font-size: 12px
}
.LingpeijianDingdanInfoCenterS{
    padding: 0.2rem 0.2rem;
    margin: 0 0.3rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08); 
}
.LingpeijianDingdanInfoCenterSText{
    color: #CCCCCC;
    font-size: 12px;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 0.2rem
}
.LingpeijianDingdanInfoCenterSHeader{
    /* padding-bottom: 0.2rem; */
    /* border-bottom: 1px solid #F1F1F1 */
}
.LingpeijianDingdanInfoCenterFoot{
    overflow: hidden;
    padding: 0.2rem 0;
    /* border-bottom: 1px solid #F1F1F1; */
}
.LingpeijianDingdanInfoCenterFootName{
    color: #CCCCCC;
    font-size: 12px;
    font-weight: bold;
    float: left;
}
.LingpeijianDingdanInfoCenterFootNUm{
    float: right;
    color: #666666;
    font-weight: bold
}
.LingpeijianDingdanInfoCenterFootLast{
    border: none;
    padding: 0;
    margin: 0;
    margin-top: 0.2rem
}
.LingpeijianDingdanInfoCenterSNum{
    overflow: hidden;
    margin-bottom: 0.15rem
}
.LingpeijianDingdanInfoCenterSNamne{
    color: #666666;
    font-weight: bold;
    font-size: 12px;
    float: left;
}
.LingpeijianDingdanInfoCenterSNUM{
    color: #F0895E;
    font-size: 12px;
    font-weight: bold;
    float: right;
    width: 15%
}

.NOLingpeijianDingdanInfoCenterSText{
    color: #CCCCCC;
    font-size: 12px;
    margin: 0.2rem 0
}
.LingpeijianDingdanInfoCenterFootP{
    color: #101012;
    line-height: 0.4rem
}
.LingpeijianDingdanInfoCenterFootSpan{
    float: right;
    padding: 0.1rem 0.26rem;
    border-radius: 0.3rem;
    border: 1px solid #9953F0;
    color: #9953F0;
    font-weight: bolder;
    margin-top: 0.1rem
}
</style>
