<template>
    <div class="loading">
        <img src="./loading.gif" class="loadingGIF">
        <p class="desc">{{title}}</p>
    </div>
</template>
<script>
export default {
    props:{
        title:{
            type: String,
            default: '正在上传...'
        }
    }
}
</script>
<style>
    .loading{
        background: RGBA(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        text-align: center;
    }
    .loadingGIF{
        margin-top: 70%
    }
    .desc{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        margin-top: 0.5rem
    }
</style>
