<template>
    <div style="padding-top:1.6rem;height:100%">
        <div class="DingdanInfo-Header">
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">订单通知</span>
        </div>
        <div v-if="XiTongNews.length>0">
            <div class="XiTongNewsCenter" v-for="(item,index) in XiTongNews" :key="index">
                <p class="XiTongNewsTime">{{item.msg_at}}</p>
                <div class="XiTongNewsCenters">
                    <p class="XiTongNewsCenterHeader">订单反馈</p>
                    <p class="XiTongNewsCenterFooot">{{item.body}}</p>
                </div>
            </div>
        </div>
        <div v-if="XiTongNews.length == 0">
            <img src="../../assets/icon-blank-.png" class="WithoutPhoto">
            <p class="WithOutTongzhi">暂无订单反馈</p>
        </div>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
export default {
    name:'XiTongNews',
    data(){
        return {
            XiTongNews:[]
        } 
    },
    created(){
        this.getXiTongNews()
    },
    methods:{
        goBack(){
            this.$router.go(-1)
        },
        getXiTongNews(){
            this.$axios.get(API+'/api/v1/i/chat_info',{params:{
                "chat_id":this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response.data.data)
                this.XiTongNews = response.data.data.messages
            })
        },
    }
}
</script>
 <style>
 .DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.XiTongNewsCenter{
    margin: 0 0.3rem;
    margin-bottom: 0.4rem
}
.XiTongNewsTime{
    text-align: center;
    color: #CCCCCC;
    font-size: 11px;
    margin-bottom: 0.2rem
}
.XiTongNewsCenters{
    padding: 0.2rem;
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
}
.XiTongNewsCenterHeader{
    color: #101012;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.2rem
}
.XiTongNewsCenterFooot{
    color: #666666;
    font-size: 12px;
    line-height: 0.36rem;
    font-weight: bold
}
.WithOutTongzhi{
    text-align:center;
    font-size: 16px;
    color: #BBB;
    /* font-weight:bold; */
    margin-top:0.6rem
}
.WithoutPhoto{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
 </style>
 