<template>
    <div style="padding-top:1.6rem;overflow:hiddenl;height:100%" :class="Height ? '' : 'MoreHeight'">
        <div class="DingdanInfo-Header" >
            <!-- <img @click="goBack" src="../../assets/icon-back.png" class="DingdanInfo-icon1"> -->
            <div style="width:0.5rem;height:0.5rem;float:left" @click="goBack">
                <img  src="../../assets/icon-back.png" class="DingdanInfo-icon1">
            </div>
            <span class="Dingdan-title">{{OrdersInfos.name}}</span>
            <span class="MoreIMChat" @click="gotoHistory">聊天记录</span>
        </div>
        <div class="IMPeople" @click="gotoInfo">
            <div class="IMPeopleHeader">
                <span class="IMPeopleName">{{OrdersInfosPro.product_name}}</span>
                <span class="IMPeopleType">{{OrdersInfosPro.order_type_name}}</span>
            </div>
            <p class="IMPeopleCenter">{{OrdersInfosPro.order_remark}}</p>
            <div class="All-Center-Foot" style="border-bottom:none">
                <div class="all-Center-Left">
                    <img src="../../assets/icon-notes-1.png" class="All-icon2">
                    <span class="All-Center-right">{{OrdersInfosPro.product_model}}</span>
                </div>
                <div class="all-Center-Left">
                    <img src="../../assets/icon-notes-2.png" class="All-icon2">
                    <span class="All-Center-right">3</span>
                </div>
                <div class="all-Center-Left">
                    <img src="../../assets/icon-notes-3.png" class="All-icon2">
                    <span class="All-Center-right">1</span>
                </div>
            </div>
        </div>
        <div class="IMCenter" id="IMCenter" >
            <div v-for="(item,index) in MSGSS" :key="index" style="overflow:hidden;padding:0 0.3rem;margin-bottom:0.4rem" >
                <p style="text-align:center">{{item.times}}</p>
                <img src="../../assets/221543839474_.pic.jpg" :class="item.from !== MyName ? 'MSGSSLeft':'MSGSSRight'" v-if="!MineTouxiang && item.from == MyName" class="IMChatImg">
                <img v-bind:src="MineTouxiang" :class="item.from !== MyName ? 'MSGSSLeft':'MSGSSRight'" v-if="MineTouxiang && item.from == MyName" class="IMChatImg">
                <img src="../../assets/221543839474_.pic.jpg" :class="item.from !== MyName ? 'MSGSSLeft':'MSGSSRight'" v-if="!OrdersInfos.avatar_url && item.from !== MyName" class="IMChatImg">
                <img v-bind:src="OrdersInfos.avatar_url" :class="item.from !== MyName ? 'MSGSSLeft':'MSGSSRight'" v-if="OrdersInfos.avatar_url && item.from !== MyName" class="IMChatImg">
                <p :class="item.from !== MyName ? 'MSGSSLeft':'MSGSSRight'" class="MSGSS" v-if="item.type == 'text'">{{item.text}}</p>
                <img v-bind:src="item.file.url" @click="BigImage(index)" :class="item.from !== MyName ? 'MSGSSLeft':'MSGSSRight'" class="MSGSS MSGSSImage" v-if="item.type == 'image'" />
                <video width="320" height="240" controls :class="item.from !== MyName ? 'MSGSSLeft':'MSGSSRight'" class="MSGSS MSGSSImage" v-if="item.type == 'video'" >
                    <source v-bind:src="item.file.url" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="IMFoot">
            <div class="IMFootInputBox">
                <div class="IMFootInput" id="IMFootInput"  contenteditable="true" @change="IMFootInputChange" ref="IMFootInput" @click="IMDiv" ></div>
            </div>
            <span class="IMFootSend" @click="IMFootSend" >发送</span>
            <img src="../../assets/icon-emo-add.png" class="IMFootSendImg" @click="PICTURE">
        </div>
        <PhotoView1 style="z-index:20000" v-if="ShowPhotoView" :chat_id='chat_id' v-on:ClosePhotoView="ClosePhotoView" ></PhotoView1>
        <BigImage v-if="BigImageOpen" :BigImageOpen='BigImageOpen' v-on:changeDeletPopup='changeDeletPopup'></BigImage>
    </div>
</template>

<script>
import {API} from '../../api/config.js'
import Toast from 'muse-ui-toast';
import BigImage from '../../common/BigImage'
import PhotoView1 from '../../common/PhotoView1'
import PhotoView from '../../common/PhotoView'
const NIM = require('../../sdk/NIM_Web_SDK_v5.8.0.js')
export default {
    name:'IMChat',
    components:{
        PhotoView1,PhotoView,BigImage
    },
    data(){
        return {
            BigImageOpen:false,
            OrdersInfos:{},
            OrdersInfosPro:{},
            Im_accid:'',
            Msgs:'',
            MSGSS:[],
            nowMessageList:'',
            ImgRoText: true,
            SendCenter:'',
            ShowPhotoView: false,
            MyName:'',
            ImgUrl:'',
            MineTouxiang:'',
            chat_id:'',
            Height:false,
            IMCenterHeight:'',
        }
    },
    created(){
        
        this.MyName = JSON.parse(localStorage.getItem('IM_Account'))
        if(localStorage.getItem('MineTouxiang')){
            this.MineTouxiang = JSON.parse(localStorage.getItem('MineTouxiang'))
        }
        this.chat_id = this.$route.params.id
        this.getOrdersInfos()
        console.log(this.Height)
    },
    watch:{
        nowMessageList: function(){
            this.$nextTick(() => {
                document.getElementById('IMCenter').scrollIntoView(false)
            })
        },
        SendCenter:function(){
            this.ImgRoText = false
        },
        IMCenterHeight:function(n,o){
            if(n>document.body.clientHeight){
                this.Height = true
            }
        }
        
    },
    methods:{
        changeDeletPopup(Props){
            console.log(Props)
            this.BigImageOpen = Props
        },
        BigImage(index){
            console.log(this.MSGSS[index])
            sessionStorage.setItem('ImageUrl',JSON.stringify(this.MSGSS[index].file.url))
            this.BigImageOpen = true
            console.log(index)
        },
        gotoInfo(){
            if(this.OrdersInfosPro.order_type == 'buy'){
                this.$router.push('/LingpeijianDingdanInfo/'+this.OrdersInfosPro.order_id)
            }else{
                this.$router.push('/DingdanInfo/'+this.OrdersInfosPro.order_id)
            }
        },
        gotoHistory(){
            this.$router.push('/ChatHistory/'+this.$route.params.id)
        },
        //获取客户信息
        getOrdersInfos(){
            this.$axios.get(API+'/api/v1/i/chat_info',{params:{
                "chat_id":this.$route.params.id
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                console.log(response)
                if(response.data.code == 0){
                    this.OrdersInfos = response.data.data
                    this.OrdersInfosPro = response.data.data.order_info
                    this.Im_accid = response.data.data.im_accid
                    console.log(this.OrdersInfos)
                    this.CheckYunxin()
                    
                }else{
                    // alert(response.data.msg)
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error(response.data.msg);
                }
            })
        },
        ClosePhotoView(PhotoViewBoxShow){
            if(PhotoViewBoxShow.CemaraPhoto == 0){
                this.created()
            }
            this.ShowPhotoView = PhotoViewBoxShow.PhotoViewBoxShow
        },
        uploaddone: function(error, file) {
            console.log(error);
            console.log(file);
            console.log('上传' + (!error?'成功':'失败'));
        },
        beforesend: function(msg) {
            console.log('正在发送p2p image消息, id=' + msg.idClient);
            pushMsg(msg);
        },
        //发送消息
        // sedMsgDone(error, msg){
        //     console.log(msg);
        //     console.log('发送' + msg.scene + ' ' + msg.type + '消息' + (!error?'成功':'失败') + ', id=' + msg.idClient);
        // },
        PICTURE(){
            this.ShowPhotoView = true
        },
        IMFootInputChange(){
            // console.log(document.getElementById('IMFootInput').innerHTML)
            // console.log(111111111)
        },
        goBack(){
            this.$router.go(-1)
        },
        //连接云信
        CheckYunxin(){
            var nim = SDK.NIM.getInstance({
                // appKey:'6cc39d38df67682dc853d197884ba8e5',
                // account:'zhangsan',
                // token:'18b20c57ff8c7d5f86ab1007fc3f8d6a',
                appKey:JSON.parse(localStorage.getItem('IM_Appkey')),
                account:JSON.parse(localStorage.getItem('IM_Account')),
                token:JSON.parse(localStorage.getItem('IM_Token')),
                onmsg:this.onMsg,
                ondisconnect:this.ondisconnect,
                onconnect:this.onconnect,
                onerror:this.onerror
            })
            //云端信息
            nim.getHistoryMsgs({
                scene:'p2p',
                to:this.Im_accid,
                done:this.getHistoryMsgsDone,
                limit:30,
                // beginTime:1542353308000,
                beginTime:Date.parse(new Date())-((3 * 3600 * 24 * 1000)),
                endTime:Date.parse(new Date()),
                // asc:true
            })
            //file消息
            nim.sendFile({
                scene: 'p2p',
                to: this.Im_accid,
                type: 'image',
                // fileInput: fileInput,
                fastPass: '{"w":200,"h":110,url:"xxxxxxxxx"}',
                done:this.sendMsgDone
            })
        },
        onerror(error){
            console.log('error'+error)
        },
        onconnect(){
            console.log('连接成功')
        },
        ondisconnect(error){
            console.log('丢失链接')
            console.log(error)
        },
        IMFootSend(Msgs){
            console.log(this.Im_accid)
            this.ImgRoText = true
            var nim = SDK.NIM.getInstance({
                appKey:JSON.parse(localStorage.getItem('IM_Appkey')),
                account:JSON.parse(localStorage.getItem('IM_Account')),
                token:JSON.parse(localStorage.getItem('IM_Token')),
            })
            //发送文本消息
            var msg = nim.sendText({
                scene: 'p2p',
                to:this.Im_accid,
                // text:this.Msgs,
                text:document.getElementById('IMFootInput').innerHTML,
                done:this.sedMsgDone,
                custom:'{"type":"chat","id":'+this.$route.params.id+'}'
                // ext:{"type":"chat","id":this.$route.params.id}
            })
        },
        sedMsgDone(error, msg){
            console.log(msg);
            console.log('发送' + msg.scene + ' ' + msg.type + '消息' + (!error?'成功':'失败') + ', id=' + msg.idClient);
            // this.Msgs = '';
            document.getElementById('IMFootInput').innerHTML = '' ;
            this.nowMessageList = document.getElementById('IMCenter').scrollHeight
            var Time = new Date(msg.time)
            msg.times = Time.toLocaleDateString().replace(/\//g, "-") + " " + Time.toTimeString().substr(0, 8)
            this.MSGSS.push(msg)
            this.IMCenterHeight = document.getElementById('IMCenter').scrollHeight
            console.log(this.MSGSS)
            // this.ImgRoText = false
        },
        //收到消息
        onMsg(msg){
            console.log('收到消息', msg.scene, msg.type, msg.text);
            this.MSGSS.push(msg)
            this.IMCenterHeight = document.getElementById('IMCenter').scrollHeight
            this.nowMessageList = document.getElementById('IMCenter').scrollHeight
        },
        IMDiv(){
            this.ImgRoText = !this.ImgRoText
            document.activeElement.scrollIntoViewIfNeeded();
        },
        //云端历史消息
        getHistoryMsgsDone(error, obj){
            console.log('获取云端历史消息'+(!error?'成功':'失败'));
            console.log(obj);
            if (!error) {
                this.MSGSS = obj.msgs.reverse()
                this.MSGSS.map(item=>{
                    var Time = new Date(item.time)
                    item.times = Time.toLocaleDateString().replace(/\//g, "-") + " " + Time.toTimeString().substr(0, 8)
                })
                console.log(this.MSGSS)
                this.nowMessageList = document.getElementById('IMCenter').scrollHeight
                this.IMCenterHeight = document.getElementById('IMCenter').scrollHeight
                console.log(document.getElementById('IMCenter').scrollHeight)
                console.log(document.body.clientHeight)
                if(this.nowMessageList>document.body.clientHeight){
                    console.log('信心高度'+document.getElementById('IMCenter').scrollHeight)
                    this.Height = true
                }
            }
        },
    }
}
</script>

<style>
 .DingdanInfo-Header{
text-align: center;
overflow: hidden;
width: 100%;
padding: 0.3rem 0.3rem;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: #fff;
box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.DingdanInfo-icon1{
    width: 0.2rem;
    height: 0.4rem;
    float: left;
}
.Dingdan-title{
    font-size: 18px;
    color: #101012;
}
.All-Center-Foot{
    overflow: hidden;
    margin-top: 0.2rem;
    /* margin-bottom: 0.3rem; */
}

.all-Center-Left{
    float: left;
    margin-right: 0.3rem;
    line-height: 0.3rem;
    color: #CCCCCC;
    font-size: 11px;
    overflow: hidden;
}
.All-icon2{
    width: 0.24rem;
    height: 0.24rem;
    margin-right: 0.1rem;
    float: left;
}
.IMPeople{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    position: fixed; 
    top: 1.64rem;
    left: 0.3rem;
    width: 6.9rem;
    padding: 0.3rem;
    /* padding-bottom: 0; */
    background: #fff;
    z-index: 100;
}
.IMPeopleHeader{
    overflow: hidden;
    margin-bottom: 0.2rem
}
.IMPeopleName{
    float: left;
    color: #101012;
    font-size: 12px;
    font-weight: bold;
}
.IMPeopleType{
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    float: right;
}
.IMPeopleCenter{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666666;
    font-size: 12px;
    font-weight: bold
}
.IMFoot{
    box-shadow:1px 1px 15px rgba(34,24,21,0.08);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.3rem;
    width: 100%;
    background: #fff;
    z-index: 2001
}
.IMFootInputBox{
    float: left;
    width: 75%;
    /* background: red */
}
.IMFootInput{
    outline:none;
    border: none;
    user-select: text;
    -webkit-user-select: text;
    font-size: 14px;
    -webkit-user-modify: read-write-plaintext-only
    /* background: red */
}
.IMFootSend{
    position: fixed;
    bottom: 0.2rem;
    right: 0.8rem;
    /* float: right; */
    width: 1rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    background: linear-gradient(to right, #9953F0 , #7465E9);
    border-radius: 0.26rem;
    color: #fff;
    font-size: 12px;
    font-weight: bold
}
.IMFootSendImg{
    width: 0.52rem;
    height: 0.5rem;
    position: fixed;
    bottom: 0.2rem;
    right: 0.1rem;
}
.MSGSS{
    padding:0.1rem 0.3rem;
    color: #fff;
    background: #9953F0;
    border-radius: 0.1rem;
    font-weight: bold;
    font-size: 14px;
    max-width: 80%;
    margin-top: 0.1rem
}
.MSGSSLeft{
    float: left;
    margin-right: 0.2rem;
    background:#7465E9
}
.MSGSSRight{
    float: right;
    margin-left: 0.2rem
}
.IMCenter{
    margin-top: 2.4rem;
    padding-bottom: 1.1rem;
    overflow: hidden;
}
.IMChatImg{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%
}
.MoreIMChat{
    float: right;
    color: #cccccc;
    font-size: 14px
}
.MoreHeight{
    height: 100%;
}
.MSGSSImage{
    background:#fff
}
</style>
