<template>
  <!-- <div id="app" class="fix-scroll"> -->
  <div id="app" >
    <div class="NewMsgsChange" v-if="ChangeNewsMsg"></div>
    <!-- <router-view /> -->
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
// window.onload = function () {
//   var wrapper = null;
//   function delay(){
//     if (!document.getElementsByClassName('fix-scroll')[0]){
//       setTimeout(function(){
//         delay();
//       },100);
//       return;
//     }
//     wrapper = document.getElementsByClassName('fix-scroll')[0];
//     if(wrapper) {
//       var touchstartY;
//       wrapper.addEventListener('touchstart',function(ev){
//         var events = ev.touches[0] || ev;
//         touchstartY = events.clientY;
//       },false);
//       wrapper.addEventListener('touchmove',function(ev){
//         var events = ev.touches[0] || ev;
//         if(events.clientY > touchstartY && (wrapper.scrollTop === 0)){
//           // ev.preventDefault()
//         }
//       },false);
//     }
//   }
//   delay();
// }

import {mapMutations,mapGetters} from 'vuex'
const NIM = require('./sdk/NIM_Web_SDK_v5.8.0.js')
export default {
  name: 'App',
  data(){
    return {
      ChangeNewsMsg:false
    }
  },
  computed:{
        ...mapGetters([
            "NewsMsgs"
        ])
    },

  updated() {
        window.scroll(0, 0);
  },
    watch:{
      NewsMsgs(n,o){
        console.log(n)
        this.ChangeNewsMsg = false
        this.setNewsMsgs(true)
      }
    },
  created(){
    if(localStorage.getItem('IM_Token')){
      this.CheckIM()
    }
  },
  // mounted() {
  //     // 去除橡皮筋
  //     document.body.addEventListener('touchmove', function (e) {
  //             e.preventDefault()
  //         }, {passive: false}
  //     )
  //     // var el = document.getElementById('app');
  //     // el.addEventListener('touchmove',function(e){
  //     //   e.isSCROLL = true;
  //     // })
  //     // document.body.addEventListener('touchmove',function(e){
  //     //   if(!e.isSCROLL){
  //     //     e.preventDefault();
  //     //   }else{
  //     //     var top = el.scrollTop; //对象最顶端和窗口最顶端之间的距离 
  //     //     var scrollH = el.scrollHeight; //含滚动内容的元素大小
  //     //     var offsetH = el.offsetHeight; //网页可见区域高
  //     //     var cScroll = top + offsetH; //当前滚动的距离

  //     //     //被滑动到最上方和最下方的时候
  //     //     if (top == 0) {
  //     //       top = 1; //0～1之间的小数会被当成0
  //     //     } else if (cScroll === scrollH) {
  //     //       el.scrollTop = top - 0.1;
  //     //     }
  //     //   }
  //     // },{passive:false})
  // },
  methods:{
    ...mapMutations({
      setUserinfo: 'SET_USERINFO',
      setNewsMsgs: 'SET_NEWSMSGS',
    }),
    CheckIM(){
      var nim = SDK.NIM.getInstance({
        appKey:JSON.parse(localStorage.getItem('IM_Appkey')),
        account:JSON.parse(localStorage.getItem('IM_Account')),
        token:JSON.parse(localStorage.getItem('IM_Token')),
        //  appKey:'6cc39d38df67682dc853d197884ba8e5',
        //  account:'zhangsan',
        //  token:'18b20c57ff8c7d5f86ab1007fc3f8d6a',
        onconnect:this.onConnect,
        onmsg:this.onMsg,
        onupdatesession: this.onUpdateSession,
      })
    },
    onMsg(msg){
      console.log('收到消息', msg.scene, msg.type, msg.text);
      this.ChangeNewsMsg = true
    },
    onConnect(){
      console.log('链接成功')
    },
    onUpdateSession(session){
      console.log('会话更新了', session);
      this.ChangeNewsMsg = true
      // data.sessions = nim.mergeSessions(data.sessions, session);
    }
  }
}
</script>

<style>
.fix-scroll{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /*页面可以滚动*/
  overflow-y: scroll;
  /*页面滚动流畅*/
  -webkit-overflow-scrolling: touch; 
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.NewMsgsChange{
		background: red;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		position: fixed;
		left: 72%;
		bottom: 6%;
    z-index: 2000
	}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  /* text-align: center; */
  /* color: #2c3e50; */
  font-size: 10px;
  width: 100xw;
  height: 100vh;
  background-color: #fff;
  /* padding-top: 1.4rem */
  
}
body{
  background: #fff;
  /* overflow: hidden; */
}
input{
  outline: none;
  border:none
}
a{text-decoration:none}
* {
  padding: 0;
  margin: 0;
}
</style>
