<template>
    <div class="PopupBoxs" id="PopupBox" v-if="Popups">
       <div class="MacDelet">
            <p class="MacDeletHeader">确认取消订单吗？</p>
            <div class="MacDeletFoot">
                <span class="MacDeletLeft" @click="MacDeletY">确定</span>
                <span class="MacDeletRight" @click="MacDeletN">取消</span>
            </div>
       </div>
    </div>
</template>

<script>
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
export default {
    name:'CancelOrder',
    props:{
        MacDeletOpen:{
            type:Boolean,
            required:true
        },
        MacID:{
            type:Number,
            required:true
        }
    },
    data(){
        return {
            Popups:false
        }
    },
    created(){
        this.Popups = this.MacDeletOpen
        this.stop()
    },
    methods:{
        MacDeletY(){
            this.$axios.post(API+'/api/v1/i/cancel_order',{
                "order_id": this.MacID
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('订单取消成功');
                    this.Popups = false,
                    this.$emit("changeDeletPopup",this.Popups)
                }else{
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('订单取消失败');
                    this.Popups = false,
                    this.$emit("changeDeletPopup",this.Popups)
                }
            })
            
        },
        MacDeletN(){
            this.Popups = false,
            this.$emit("changeDeletPopup",this.Popups)
        },
        //禁止滑动
        stop(){
        var mo=function(e){e.preventDefault();};
        document.body.style.overflow='hidden';
        document.addEventListener("touchmove",mo,false);//禁止页面滑动
      },
    }
}
</script>

<style>
.PopupBoxs{
    /* background: RGBA(0, 0, 0, 0.3); */
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
}
.MacDelet{
    background: #fff;
    position: absolute;
    top: 50%;
    margin-top: -3rem;
    left: 1rem;
    width: 5.5rem;
    height: 3rem;
    border-radius: 0.1rem;
    box-shadow: 1px 1px 15px rgba(34,24,21,0.08);
}
.MacDeletHeader{
    color: #101012;
    font-size: 15px;
    text-align: center;
    line-height: 0.74rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem
}
.MacDeletFoot{
    display: flex;
    justify-content:space-around ;
    border-top: #F1F1F1 1px solid
}
.MacDeletLeft{
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
.MacDeletRight{
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
/* .mu-snackbar{
    background-color: #9953F0
} */
</style>
