<template>
    <div class="PopupBoxs" v-if="Popups">
       <div class="MacDelet">
            <p class="MacDeletHeader">确认收货吗？</p>
            <div class="MacDeletFoot">
                <span class="MacDeletLeft" @click="MacDeletY">确定</span>
                <span class="MacDeletRight" @click="MacDeletN">取消</span>
            </div>
       </div>
    </div>
</template>

<script>
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
export default {
    name:'getLingpeijian',
    props:{
        MacDeletOpen:{
            type:Boolean,
            required:true
        },
        MacID:{
            type:Number,
            required:true
        }
    },
    data(){
        return {
            Popups:false
        }
    },
    created(){
        console.log(this.MacID)
        this.Popups = this.MacDeletOpen
    },
    methods:{
        MacDeletY(){
            this.$axios.post(API+'/api/v1/i/confirm_received_order',{
                "order_id": this.MacID
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('收货成功');
                    this.Popups = false,
                    this.$emit("changeDeletPopup",this.Popups)
                    this.$router.push('/DingdanPingjia/'+this.$route.params.id)
                }else{
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('收货失败');
                }
            })
            
        },
        MacDeletN(){
            this.Popups = false,
            this.$emit("changeDeletPopup",this.Popups)
        },
    }
}
</script>

<style>
.PopupBoxs{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.MacDelet{
    background: #fff;
    position: absolute;
    top: 5.24rem;
    left: 1rem;
    width: 5.5rem;
    height: 3rem;
    border-radius: 0.1rem
}
.MacDeletHeader{
    color: #101012;
    font-size: 15px;
    text-align: center;
    line-height: 0.74rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem
}
.MacDeletFoot{
    display: flex;
    justify-content:space-around ;
    border-top: #F1F1F1 1px solid
}
.MacDeletLeft{
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
.MacDeletRight{
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
/* .mu-snackbar{
    background-color: #9953F0
} */
</style>
