<template>
    <div class="PopupBox" v-if="Popups">
       <div class="MacDelet">
            <p class="MacDeletHeader">确认解除关联吗？</p>
            <p class="MacDeletHeaders">{{MacName}}</p>
            <div class="MacDeletFoot">
                <span class="MacDeletLeft" @click="MacDeletY">确定</span>
                <span class="MacDeletRight" @click="MacDeletN">取消</span>
            </div>
       </div>
    </div>
</template>

<script>
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
export default {
    name:'MacDelet',
    props:{
        MacDeletOpen:{
            type:Boolean,
            required:true
        },
        MacID:{
            type:Number,
            required:true
        },
        MacName:{
            type:String,
            required:true
        }
    },
    data(){
        return {
            Popups:false
        }
    },
    created(){
        console.log(this.MacID)
        this.Popups = this.MacDeletOpen
    },
    methods:{
        MacDeletY(){
            this.$axios.post(API+'/api/v1/i/unassociate',{
                "product_id": this.MacID
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('解除设备关联成功')
                    // Toast.success('解除设备关联成功');
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('解除设备关联成功');
                    this.WithoutMac()
                    localStorage.removeItem('product_id');
                    this.Popups = false,
                    this.$emit("changeDeletPopup",this.Popups)
                }else{
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('解除设备关联失败');
                }
            })
            
        },
        MacDeletN(){
            this.Popups = false,
            this.$emit("changeDeletPopup",this.Popups)
        },
        WithoutMac(){
            this.$axios.get(API+'/api/v1/i/products',{params:{
                "page": 1,
                "per": 10
            }},{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo')).token
                }
            }).then((response)=>{
                // if(response.data.data.length == 0){
                //     this.$router.push('/WithoutMac/')
                // } 
                this.$router.push("/MyMac/MacInfo/")
            })
        }
    }
}
</script>

<style>
.PopupBox{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.MacDelet{
    background: #fff;
    position: absolute;
    top: 5.24rem;
    left: 1rem;
    width: 5.5rem;
    height: 3rem;
    border-radius: 0.1rem
}
.MacDeletHeader{
    color: #101012;
    font-size: 15px;
    text-align: center;
    line-height: 0.74rem;
    margin-top: 0.3rem;
    /* margin-bottom: 0.3rem */
}
.MacDeletHeaders{
    color: #666;
    font-size: 15px;
    text-align: center;
    line-height: 0.74rem;
    /* margin-top: 0.6rem; */
    margin-bottom: 0.3rem
}
.MacDeletFoot{
    display: flex;
    justify-content:space-around ;
    border-top: #F1F1F1 1px solid
}
.MacDeletLeft{
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
.MacDeletRight{
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
/* .mu-snackbar{
    background-color: #9953F0
} */
</style>
