<template>
    <div class="MacPhotoViewTwoBox" v-if="MacPhotoViewTwoBoxShow">
        <!-- <div class="MacPhotoViewTwoCenter">
            <p class="MacPhotoViewTwoOne" @click="getPictures">从相册选择照片</p>
            <p class="MacPhotoViewTwoOne" @click="gotoCamera">拍照</p>
            <p class="MacPhotoViewTwoClose" @click="CLOSE">取消</p>
        </div> -->
        <mu-container class="MacPhotoViewTwoCenter" style="z-index:10000" data-mu-loading-color="secondary" data-mu-loading-overlay-color="rgba(0, 0, 0, .7)" v-loading="loading2" @click.stop >
            <mu-button class="MacPhotoViewTwoOne" color="primary" @click="getPictures()">从相册选择照片</mu-button>
            <mu-button class="MacPhotoViewTwoOne" color="primary" @click="gotoCamera()">拍照</mu-button>
            <mu-button class="MacPhotoViewTwoOne" color="primary" @click="CLOSE()">取消</mu-button>
        </mu-container>
    </div>
</template>

<script>
import Loading from 'muse-ui-loading'
import 'muse-ui-loading/dist/muse-ui-loading.css'
import Toast from 'muse-ui-toast';
import {mapMutations} from 'vuex'
import {API} from '../api/config.js'
import LoadingG from './loading/loading'
export default {
    name:'MacPhotoViewTwo',
    data(){
        return {
            MacPhotoViewTwoBoxShow : true,
            ImageUrlList:[],
            LoadingGIF:false,
            loading1: false,
            loading2: false,
        }
    },
    props:{
        
    },
    components:{
        LoadingG
    },
    methods:{
        ...mapMutations({
            setCemaraPhoto:'SET_CERAMPHOTO'
        }),
        CLOSE(){
            var Photoview = {}
            Photoview.CemaraPhoto = ''
            // if(this.ImageUrlList.length)
            Photoview.MacPhotoViewTwoBoxShow = false 
            this.$emit("CloseMacPhotoViewTwo",Photoview)

            // this.MacPhotoViewTwoBoxShow = false
            // this.$emit("CloseMacPhotoViewTwo",this.MacPhotoViewTwoBoxShow)
        },
        //调用相册
        getPictures(){
            var that =this
            navigator.camera.getPicture(onLoadImageSuccess, onLoadImageFail, {
                // quality: 50,
                // destinationType: Camera.DestinationType.FILE_URI,//返回值的格式
                // sourceType:Camera.PictureSourceType.PHOTOLIBRARY,

                quality: 50,
                sourceType : Camera.PictureSourceType.PHOTOLIBRARY,
                mediaType: Camera.MediaType.PICTURE,
                destinationType: Camera.DestinationType.DATA_URL

                // codingType: Camera.EncodingType.JPEG,//返回的图像文件的编码
                // destinationType: Camera.DestinationType.DATA_URI,//返回值的格式
                // sourceType:Camera.PictureSourceType.PHOTOLIBRARY,
                // mediaType:Camera.MediaType.ALLMEDIA,//媒体类型
            });
            function onLoadImageSuccess(imageData) {
                var file = that.dataURLtoFile('data:image/jpeg;base64,' + imageData, 'img');
                var formData = new FormData()
                formData.append("file", file)
                // that.LoadingGIF = true
                Loading.config({
                    overlayColor:'hsla(0,0%,100%,.5)',
                    color:'#9953F0',
                    text:'上传中...'
                })
                const loading = Loading({})
                // alert(formData)
                that.$axios.post(API+'/api/v1/common/upload_file',formData,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((response)=>{
                    // alert(response.data)
                    // alert(response.data.url)
                    // sessionStorage.setItem('IngUrl',JSON.stringify(response.data.url))
                    // that.LoadingGIF = false
                    loading.close()
                    that.setCemaraPhoto(response.data.url)
                    that.MacPhotoViewTwoBoxShow = false
                    that.ImageUrlList.push(response.data.url)
                    var Photoview = {}
                    Photoview.CemaraPhoto = response.data
                    Photoview.MacPhotoViewTwoBoxShow = false 
                    that.$emit("CloseMacPhotoViewTwo",Photoview)
                }).catch((error)=>{
                    loading.close()
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('上传失败,请检查网络设置');
                })
            };
            function onLoadImageFail(error){
                console.log("调用相册失败")
            }
        },
        gotoCamera(){
            var that = this
            navigator.camera.getPicture(onSuccess, onFail, {
                quality: 50,
                codingType: Camera.EncodingType.JPEG,
                mediaType: Camera.MediaType.PICTURE,
                correctOrientation: true,
                destinationType: Camera.DestinationType.DATA_URL
                });
            function onSuccess(imageData){
                // alert(imageData)
                var file = that.dataURLtoFile('data:image/jpeg;base64,' + imageData, 'img');
                var formData = new FormData()
                formData.append("file", file)
                // that.LoadingGIF = true
                Loading.config({
                    overlayColor:'hsla(0,0%,100%,.5)',
                    color:'#9953F0',
                    text:'上传中...'
                })
                const loading = Loading({})
                // alert(formData)
                that.$axios.post(API+'/api/v1/common/upload_file',formData,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then((response)=>{
                    loading.close()
                    that.setCemaraPhoto(response.data.url)
                    that.MacPhotoViewTwoBoxShow = false
                    that.ImageUrlList.push(response.data.url)
                    var Photoview = {}
                    Photoview.CemaraPhoto = response.data
                    Photoview.MacPhotoViewTwoBoxShow = false 
                    that.$emit("CloseMacPhotoViewTwo",Photoview)
                }).catch((error)=>{
                    loading.close()
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('上传失败,请检查网络设置');
                })
            }
            function onFail(message){}
            return false
        },
        dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(',')
            var mime = arr[0].match(/:(.*?);/)[1]
            var bstr = window.atob(arr[1])
            var n = bstr.length
            var u8arr = new Uint8Array(n)
            while (n--) {
            u8arr[n] = bstr.charCodeAt(n)
            }
            var blob = new Blob([u8arr], {
            type: mime
            })
            blob.lastModifiedDate = new Date()
            blob.name = filename
            return blob
        },
    }
}
</script>

<style>
.MacPhotoViewTwoBox{
    height: 100%;
    width: 100%;
    position: fixed;
    background: RGBA(0, 0, 0, 0.3);
    z-index: 400;
    top: 0
}
.MacPhotoViewTwoCenter{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* left: 5%; */
    background: #fff;
    text-align: center
}
.MacPhotoViewTwoOne{
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem 0;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #F1F1F1
}
.MacPhotoViewTwoClose{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem 0
}
</style>
