<template>
    <div class="PhotoViewBox" v-if="PhotoViewBoxShow">
        <!-- <div class="PhotoViewCenter">
            <p class="PhotoViewOne" @click="getPictures">从相册选择照片</p>
            <p class="PhotoViewOne" @click="gotoCamera">拍照</p>
            <p class="PhotoViewOne" @click="gotoViews">视频</p>
            <p class="PhotoViewClose" @click="CLOSE">取消</p>
        </div> -->
         <mu-container class="PhotoViewCenter" style="z-index:10000" data-mu-loading-color="secondary" data-mu-loading-overlay-color="rgba(0, 0, 0, .7)" v-loading="loading2" @click.stop >
            <mu-button class="PhotoViewOne" color="primary" @click="getPictures()">从相册选择照片</mu-button>
            <mu-button class="PhotoViewOne" color="primary" @click="gotoCamera()">拍照</mu-button>
            <mu-button class="PhotoViewOne" color="primary" @click="gotoViews()">视频</mu-button>
            <mu-button class="PhotoViewOne" color="primary" @click="CLOSE()">取消</mu-button>
        </mu-container>
        <LoadingG v-if="LoadingGIF" title=""></LoadingG>
    </div>
</template>

<script>
import Loading from 'muse-ui-loading'
import 'muse-ui-loading/dist/muse-ui-loading.css'
import Toast from 'muse-ui-toast';
var qiniu = require('./../JS/js-sdk/dist/qiniu.min.js')
import {mapMutations} from 'vuex'
import {API,QiNiu} from '../api/config.js'
import LoadingG from './loading/loading'
export default {
    name:'PhotoView1',
    data(){
        return {
            PhotoViewBoxShow : true,
            ImageUrlList:[],
            LoadingGIF:false,
            token:'',
            VideoName:'',
            loading1: false,
            loading2: false,
        }
    },
    props:{
        chat_id:{
            type:String,
            required:true
        }
    },
    created(){
        this.$axios.get(API+'/api/v1/common/uptoken').then((res)=>{
                console.log(res)
                this.token = res.data.uptoken
            })
    },
    components:{
        LoadingG
    },
    methods:{
        ...mapMutations({
            setCemaraPhoto:'SET_CERAMPHOTO'
        }),
        CLOSE(){
            var Photoview = {}
            // Photoview.CemaraPhoto = ''
            Photoview.PhotoViewBoxShow = false 
            this.$emit("ClosePhotoView",Photoview)
        },
        //调用相册
        getPictures(){
            var that =this
            navigator.camera.getPicture(onLoadImageSuccess, onLoadImageFail, {
                quality: 50,
                sourceType : Camera.PictureSourceType.PHOTOLIBRARY,
                mediaType: Camera.MediaType.PICTURE,
                destinationType: Camera.DestinationType.DATA_URL
            });
            function onLoadImageSuccess(imageData) {
                var file = that.dataURLtoFile('data:image/jpeg;base64,' + imageData, 'img');
                var formData = new FormData()
                formData.append("file", file)
                // that.LoadingGIF = true
                Loading.config({
                    overlayColor:'hsla(0,0%,100%,.5)',
                    color:'#9953F0',
                    text:'上传中...'
                })
                const loading = Loading({})
                //七牛上传
                var config = {
                    useCdnDomain: true,
                };
                var key = null
                var putExtra = {
                    fname: "",
                    params: {},
                    mimeType:null
                };
                var observer = {
                    next(res){
                        console.log('上传进度')
                        console.log(res)
                    },
                    error(err){
                        console.log('上传失败')
                        // that.LoadingGIF = false
                        loading.close()
                        console.log(err)
                    }, 
                    complete(res){
                        console.log('上传成功')
                        console.log(res)
                        // that.LoadingGIF = false
                        // loading.close()
                        that.$axios.post(API+'/api/v1/i/send_msg',{
                            'chat_id':that.chat_id,
                            'msg_type':'image',
                            'body':{
                                'key':res.key
                            }
                        },{
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(response => {
                            console.log(response)
                            if(response.data.code == 0){
                                // that.LoadingGIF = false
                                loading.close()
                                that.PhotoViewBoxShow = false
                                var Photoview = {}
                                Photoview.CemaraPhoto = 0
                                Photoview.PhotoViewBoxShow = false 
                                that.$emit("ClosePhotoView",Photoview)
                            }else{
                                loading.close()
                                // alert(response.data.msg)
                                Toast.config({
                                    position:'top',
                                    time: 1000,
                                    close:false,
                                })
                                Toast.error(response.data.msg);
                                // that.LoadingGIF = false
                            }
                        }).catch((error)=>{
                            console.log(error)
                            // that.LoadingGIF = false
                            loading.close()
                            alert('上传失败，请检查网络')
                        })
                    }
                }
                var observable = qiniu.upload(file, key, that.token, putExtra, config)
                var subscription = observable.subscribe(observer)
            };
            function onLoadImageFail(error){
                console.log("调用相册失败")
            }
        },
        gotoCamera(){
            var that = this
            navigator.camera.getPicture(onSuccess, onFail, {
                quality: 50,
                codingType: Camera.EncodingType.JPEG,
                mediaType: Camera.MediaType.PICTURE,
                correctOrientation: true,
                destinationType: Camera.DestinationType.DATA_URL
                });
            function onSuccess(imageData){
                var file = that.dataURLtoFile('data:image/jpeg;base64,' + imageData, 'img');
                var formData = new FormData()
                formData.append("file", file)
                // that.LoadingGIF = true
                Loading.config({
                    overlayColor:'hsla(0,0%,100%,.5)',
                    color:'#9953F0',
                    text:'上传中...'
                })
                const loading = Loading({})
                // that.$axios.post(API+'/api/v1/common/upload_file',formData,{
                //     headers: {
                //         'Content-Type': 'multipart/form-data'
                //     }
                // }).then((response)=>{
                //     that.$axios.post(API+'/api/v1/i/send_msg',{
                //         'chat_id':that.chat_id,
                //         'msg_type':'image',
                //         'body':{
                //             'key':response.data.key
                //         }
                //     },{
                //         headers: {
                //             'Content-Type': 'multipart/form-data'
                //         }
                //     }).then(res => {
                //         console.log(res)
                //         if(res.data.code == 0){
                //             that.LoadingGIF = false
                //             var Photoview = {}
                //             Photoview.CemaraPhoto = 0
                //             Photoview.PhotoViewBoxShow = false 
                //             that.$emit("ClosePhotoView",Photoview)
                //         }else{
                //             alert(res.data.msg)
                //             that.LoadingGIF = false
                //         }
                //     }).catch((error)=>{
                //         console.log(error)
                //         that.LoadingGIF = false
                //         alert('上传失败，请检查网络')
                //     })
                // }).catch((error)=>{
                //     that.LoadingGIF = false
                //     alert('上传失败，请检查网络')
                // })
                //七牛上传
                var config = {
                    useCdnDomain: true,
                    // region: qiniu.region.z2
                };
                var key = null
                var putExtra = {
                    fname: "",
                    params: {},
                    mimeType:null
                };
                var observer = {
                    next(res){
                        console.log('上传进度')
                        console.log(res)
                    },
                    error(err){
                        console.log('上传失败')
                        // that.LoadingGIF = false
                        loading.close()
                        console.log(err)
                    }, 
                    complete(res){
                        console.log('上传成功')
                        console.log(res)
                        // that.LoadingGIF = false
                        // loading.close()
                            that.$axios.post(API+'/api/v1/i/send_msg',{
                                'chat_id':that.chat_id,
                                'msg_type':'image',
                                'body':{
                                    'key':res.key
                                }
                            },{
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }).then(response => {
                                console.log(response)
                                if(response.data.code == 0){
                                    // that.LoadingGIF = false
                                    that.PhotoViewBoxShow = false
                                    loading.close()
                                    var Photoview = {}
                                    Photoview.CemaraPhoto = 0
                                    Photoview.PhotoViewBoxShow = false 
                                    that.$emit("ClosePhotoView",Photoview)
                                }else{
                                    loading.close()
                                    // alert(response.data.msg)
                                    Toast.config({
                                        position:'top',
                                        time: 1000,
                                        close:false,
                                    })
                                    Toast.error(response.data.msg);
                                    // that.LoadingGIF = false
                                }
                            }).catch((error)=>{
                                console.log(error)
                                // that.LoadingGIF = false
                                loading.close()
                                // alert('上传失败，请检查网络')
                                Toast.config({
                                    position:'top',
                                    time: 1000,
                                    close:false,
                                })
                                Toast.error('上传失败,请检查网络设置');
                            })
                    }
                }
                var observable = qiniu.upload(file, key, that.token, putExtra, config)
                var subscription = observable.subscribe(observer)
            }
            function onFail(message){}
            return false
        },
        //拍摄视频上传
        gotoViews(){
            var that = this
            navigator.device.capture.captureVideo(onSuccess,onError,{
                duration: 15
            });
            function onSuccess(mediaFiles) {
                var i, path, len;
                for (i = 0, len = mediaFiles.length; i < len; i += 1) {
                    console.log(mediaFiles);
                    // resolveLocalFileSystemURL(mediaFiles[i].localURL,function(entry){
                    //     path = entry.toURL()
                    //     console.log(entry)
                    //     console.log(path)
                    //     that.LoadingGIF = true
                    //     that.uploadFile(path)
                    // }) 
                    var path = mediaFiles[i].fullPath;
                    that.VideoName = mediaFiles[i].name
                    console.log(device.platform)
                    if(device.platform == "Android"){

                    }else{
                        path = 'file://'+path
                    }
                    that.getFileContentAsBase64(path)
                }
            }
            function onError(error){}
        },
        dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(',')
            var mime = arr[0].match(/:(.*?);/)[1]
            var bstr = window.atob(arr[1])
            var n = bstr.length
            var u8arr = new Uint8Array(n)
            while (n--) {
            u8arr[n] = bstr.charCodeAt(n)
            }
            var blob = new Blob([u8arr], {
            type: mime
            })
            blob.lastModifiedDate = new Date()
            blob.name = filename
            return blob
        },
        //转base64的代码
        getFileContentAsBase64(path,callback){
            var that = this
            console.log(path)
            that.$axios.get(API+'/api/v1/common/uptoken?resource_key='+that.VideoName).then((res)=>{
                that.token = res.data.uptoken
                window.resolveLocalFileSystemURL(path, gotFile, fail);
            })
            function fail(e) {
                console.log(e)
            }
            function gotFile(fileEntry) {
                fileEntry.file((file) => {
                    var reader = new FileReader();
                    Loading.config({
                        overlayColor:'hsla(0,0%,100%,.5)',
                        color:'#9953F0',
                        text:'解析文件中...'
                    })
                    const Videoloading = Loading({})
                    reader.onloadend = function(e) {
                        console.log(e)
                         if(e.target.result){
                            if(device.platform == "Android"){
                                var VideoFile = new Blob([new Uint8Array(e.target.result)], { type: 'video/mp4' });
                            }else{
                                var VideoFile = new Blob([new Uint8Array(e.target.result)], { type: 'video/mov' });
                            }
                            console.log(VideoFile)
                            Videoloading.instance.text = '上传文件中...'
                             //上传e.target.result
                            var config = {
                                useCdnDomain: true
                            };
                            var key = that.VideoName
                            var putExtra = {
                                fname: "",
                                params: {},
                                mimeType:null
                            };
                            var observer = {
                                next(res){
                                    console.log('上传进度')
                                    console.log(res)
                                },
                                error(err){
                                    Videoloading.close()
                                    // alert('上传失败')
                                    Toast.config({
                                        position:'top',
                                        time: 1000,
                                        close:false,
                                    })
                                    Toast.error('上传失败,请检查网络设置');
                                    console.log(err)
                                }, 
                                complete(res){
                                    // Videoloading.close()
                                    // alert('上传成功')
                                    console.log(res)
                                    that.$axios.post(API+'/api/v1/i/send_msg',{
                                        'chat_id':that.chat_id,
                                        'msg_type':'video',
                                        'body':{
                                            'key':res.key
                                        }
                                    },{
                                        headers: {
                                            'Content-Type': 'multipart/form-data'
                                        }
                                    }).then(response => {
                                        console.log(response)
                                        if(response.data.code == 0){
                                            // that.LoadingGIF = false
                                            Videoloading.close()
                                            that.PhotoViewBoxShow = false
                                            var Photoview = {}
                                            Photoview.CemaraPhoto = 0
                                            Photoview.PhotoViewBoxShow = false 
                                            that.$emit("ClosePhotoView",Photoview)
                                        }else{
                                            Videoloading.close()
                                            // alert(response.data.msg)
                                            Toast.config({
                                                position:'top',
                                                time: 1000,
                                                close:false,
                                            })
                                            Toast.error(response.data.msg);
                                            // that.LoadingGIF = false
                                        }
                                    }).catch((error)=>{
                                        console.log(error)
                                        // that.LoadingGIF = false
                                        Videoloading.close()
                                        // alert('上传失败，请检查网络')
                                        Toast.config({
                                            position:'top',
                                            time: 1000,
                                            close:false,
                                        })
                                        Toast.error('上传失败,请检查网络设置');
                                    })
                                }
                            }
                            var observable = qiniu.upload(VideoFile, key, that.token, putExtra, config)
                            var subscription = observable.subscribe(observer)
                         }
                    };
                    reader.readAsArrayBuffer(file);
                });
            }
        },
    }
}
</script>

<style>
.PhotoViewBox{
    height: 100%;
    width: 100%;
    position: fixed;
    background: RGBA(0, 0, 0, 0.3);
    z-index: 400;
    top: 0
}
.PhotoViewCenter{
    width: 100%;
    position: fixed;
    bottom: 0;
    /* left: 5%; */
    background: #fff;
    text-align: center
}
.PhotoViewOne{
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem 0;
    width: 100%;
    /* color: #fff; */
    background: #fff;
    color: black;
    border-bottom: 1px solid #F1F1F1
}
.PhotoViewClose{
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    padding: 0.2rem 0
}
</style>
