<template>
    <div class="PopupBox" v-if="Popups">
       <div class="PlaceDelet">
            <p class="PlaceDeletHeader">确认删除地址吗？</p>
            <div class="PlaceDeletFoot">
                <span class="PlaceDeletLeft" @click="PlaceDeletY">确定</span>
                <span class="PlaceDeletRight" @click="PlaceDeletN">取消</span>
            </div>
       </div>
    </div>
</template>

<script>
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
export default {
    name:'PlaceDelet',
    props:{
        PlaceDeletOpen:{
            type:Boolean,
            required:true
        },
        PlaceID:{
            type:Number,
            required:true
        }
    },
    data(){
        return {
            Popups:false
        }
    },
    created(){
        console.log(this.PlaceID)
        this.Popups = this.PlaceDeletOpen
    },
    methods:{
        PlaceDeletY(){
            this.$axios.post(API+'/api/v1/i/remove_address',{
                "address_id": this.PlaceID
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert('删除地址成功')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('删除地址成功');
                    this.Popups = false,
                    this.$emit("changeDeletPopup",this.Popups)
                    this.$router.push('/MyPlace/')
                }else{
                    // alert('删除地址失败')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.error('删除地址失败');
                }
            })
            
        },
        PlaceDeletN(){
            this.Popups = false,
            this.$emit("changeDeletPopup",this.Popups)
        }
    }
}
</script>

<style>
.PopupBox{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.PlaceDelet{
    background: #fff;
    position: absolute;
    top: 5.24rem;
    left: 1rem;
    width: 5.5rem;
    height: 3rem;
    border-radius: 0.1rem
}
.PlaceDeletHeader{
    color: #101012;
    font-size: 15px;
    text-align: center;
    line-height: 0.74rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem
}
.PlaceDeletFoot{
    display: flex;
    justify-content:space-around ;
    border-top: #F1F1F1 1px solid
}
.PlaceDeletLeft{
    color: #CCCCCC;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
.PlaceDeletRight{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
}
</style>
