<template>
    <div class="PopupGotoBuyBox" v-if="Popups">
        <p class="PopupGoto-title">是否前往诊断手册？</p>
        <div class="PopupGotoCenter">
            <div class="PopupGoto" @click="gotoZhenduan">前往</div>
            <div class="PopupGotobuy" @click="PopupBuyOpen">发布求助</div>
        </div>
        <img src="../assets/icon-wclose.png" class="PopupGotoBuyClose" @click="PopupGotoBuyClose">
        <mu-scale-transition>
        <PopupBuy v-if="popupBuy" :PopupBuy='popupBuy' v-on:changePopupBuy='changePopupBuy'></PopupBuy>
        </mu-scale-transition>
    </div>
</template>

<script>
import {API} from '../api/config.js'
import {mapGetters,mapMutations} from 'vuex'
import PopupBuy from '../common/PopupBuy'
export default {
    components:{
        PopupBuy
    },
    name:'PopupGotoBuy',
    data(){
        return {
            Popups:false,
            popupBuy:false,
            product_id:''
        }
    },
    props:{
        PopupGotoBuyopen:{
            type:Boolean,
            require:true
        }
    },
    created(){
        this.Popups = this.PopupGotoBuyopen
        this.product_id=JSON.parse(localStorage.getItem('product_id'))
    },
    methods:{
        ...mapMutations({
            setIssue_id:'SET_ISSUE_ID'
        }),
        gotoZhenduan(){
            // this.$router.push('/MacZhenduan')
            console.log(this.product_id)
            this.$axios.get(API+'/api/v1/common/issues',{
                params:{"product_id": this.product_id}
            }).then((response) => {
                console.log(response)
                console.log(response.data.data)
                this.issusesList = response.data.data
                if(response.data.data.length > 0){
                    var ID = response.data.data[0].id
                    this.setIssue_id(ID)
                    this.$router.push('/Proplem/'+ID)
                }else{
                    var ID = 10000
                    this.setIssue_id(ID)
                    this.$router.push('/Proplem/'+ID)
                }
            })
        },
        PopupGotoBuyClose(){
            this.Popups = false;
            this.$emit("changePopupGotoBuy",this.Popups)
        },
        changePopupBuy(Popups){
            this.popupBuy = Popups
        },
        PopupBuyOpen(){
            this.popupBuy = true
        }
    }
}
</script>

<style>
.PopupGotoBuyBox{
    background: linear-gradient(RGBA(116, 101, 233, 0.9), RGBA(153, 83, 240, 0.9) ); 
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300
}
.PopupGotoBuyClose{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    bottom: 0.8rem;
    left: 3.5rem;
}
.PopupGoto-title{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5rem;
    /* margin-bottom: 4rem */
}
.PopupGoto{
    /* margin: 0 0.3rem; */
    margin-bottom: 0.3rem;
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 15px;
    color: #9953F0;
    background: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
    text-align: center
}
.PopupGotoCenter{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding: 0 0.3rem;
}
.PopupGotobuy{
    /* margin: 0 0.3rem; */
    margin-bottom: 0.3rem;
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 15px;
    color: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 1px solid #ffffff;
    /* background: linear-gradient( #9953F0 , #7465E9);  */
    background: RGBA(153, 83, 240, 0.5);
    text-align: center
}
</style>
