<template>
    <div class="PopupBuyBox" v-if="Popups">
        <p class="PopupBuyTitle">发布求助订单</p>
        <p class="PopupBuyCenter">您也可以直接联系龙腾售后部门 联系电话：13548748886</p>
        <div class="PopupBUYFoot">
            <div class="PopupBuyFoot">
                <div class="PopupBuyFoots" @click="gotoLingpeijian">
                    <div class="PopupBuyFootsone">
                        <img src="../assets/icon-publish1.png" class="PopupBuyicon">
                    </div>
                    <span class="PopupBuyFootsoneTitle">零配件</span>
                </div>
                <div class="PopupBuyFoots" @click="gotoMacChange(Tiaosi)">
                    <div class="PopupBuyFootsone">
                        <img src="../assets/icon-publish2.png" class="PopupBuyicon PopupBuyicon1">
                    </div>
                    <span class="PopupBuyFootsoneTitle">设备调试</span>
                </div>
                <div class="PopupBuyFoots PopupBuyFoots1" @click="gotoMacChange(Weixiu)">
                    <div class="PopupBuyFootsone">
                        <img src="../assets/icon-publish3.png" class="PopupBuyicon PopupBuyicon2">
                    </div>
                    <span class="PopupBuyFootsoneTitle">设备维修</span>
                </div>
                <div class="PopupBuyFoots" @click="gotoMacChange(Gaizao)">
                    <div class="PopupBuyFootsone">
                        <img src="../assets/icon-publish4.png" class="PopupBuyicon PopupBuyicon3">
                    </div>
                    <span class="PopupBuyFootsoneTitle">设备改造</span>
                </div>
                <div class="PopupBuyFoots" @click="gotoMacChange(Qita)">
                    <div class="PopupBuyFootsone">
                        <img src="../assets/icon-publish5.png" class="PopupBuyicon PopupBuyicon4">
                    </div>
                    <span class="PopupBuyFootsoneTitle">其它</span>
                </div>
            </div>
            <img src="../assets/icon-wclose.png" class="PopupBuyClose" @click="PopupBuyClose">
        </div>
    </div>    
</template>

<script>
export default {
    name:'PopupBuy',
    data(){
        return {
            Popups:false,
            Tiaosi:'调试',
            Weixiu:'维修',
            Gaizao:'改造',
            Qita:'其它'
        }
    },
    props:{
        PopupBuy:{
            type:Boolean,
            required:true
        }
    },
    created(){
        this.Popups = this.PopupBuy
    },
    methods:{
        PopupBuyClose(){
            this.Popups = false;
            this.$emit("changePopupBuy",this.Popups)
        },
        gotoLingpeijian(){
            this.$router.push('/Lingpeijian/')
        },
        gotoMacChange(value){
            sessionStorage.setItem("TYPE",JSON.stringify(value))
            this.$router.push('/MacChange/')
        }
    }
}
</script>

<style>
.PopupBuyBox{
    background: linear-gradient(RGBA(116, 101, 233, 1), RGBA(153, 83, 240, 1) ); 
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300
}
.PopupBuyTitle{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1.4rem;
    margin-left: 0.52rem;
    margin-bottom: 0.2rem
}
.PopupBuyCenter{
    color:#fff;
    font-size: 12px;
    font-weight: bold;
    margin-left: 0.52rem;
}
.PopupBuyFoot{
    overflow: hidden;
    margin-left: 0.6rem
}
.PopupBuyFoots{
    text-align: center;
    margin-bottom: 0.5rem;
    float: left;
    margin-right: 1.1rem
}
.PopupBuyFoots1{
    margin-right: 0
}
.PopupBuyFootsone{
    width: 1.4rem;
    height: 1.4rem;
    background: #fff;
    border-radius: 50%;
    margin-bottom: 0.2rem
}
.PopupBuyicon{
    width: 0.54rem;
    height: 0.8rem;
    margin-top: 0.3rem
}
.PopupBuyFootsoneTitle{
    color: #fff;
    font-weight: bold;
    font-size: 15px
}
.PopupBuyicon1{
    width: 0.62rem;
    height: 0.64rem;
    margin-top: 0.4rem
}
.PopupBuyicon2{
    width: 0.7rem;
    height: 0.8rem;
}
.PopupBuyicon3{
    width: 0.72rem;
    height: 0.7rem;
    margin-top: 0.36rem
}
.PopupBuyicon4{
    width: 0.7rem;
    height: 0.7rem;
    margin-top: 0.34rem
}
.PopupBuyClose{
    width: 0.4rem;
    height: 0.4rem;
    margin-left: 47%;
    margin-top: 0.1rem
}
.PopupBUYFoot{
    position: fixed;
    bottom: 0.8rem
}
</style>
