<template>
    <div class="PopupBox" v-if="Popups">
        <div class="PopupCenter">
            <p class="PopupCenter-title">发表评论</p>
            <div style="overflow:hidden">
                <span class="PopupCenter-pingfen">评分：</span>
                <div style="float:left;margin-top:0.1rem" class="Starts" @click.stop="clickRating">
                    <span v-for="(item,index) in starNum" :key='index' :class="isRating(index)" :data-index="index"></span>
                </div>
            </div>
            <p class="PopupBiaoqian">常用标语（选择标签快速评论）</p>
            <div class="PopupBiaoqian-center" >
                <span class="Biaoqian" v-for="(item,index) in Biaoqian" :class="item.check?'':'PopupActive'" :key="index" @click="tianjibiaoyu(index)">{{item.center}}</span>
            </div>
            <textarea class="Popuptextarea" v-model="PopupTextarea" maxlength="300" name="" id="" cols="30" rows="3" placeholder="发表评论，是对我们服务的一种肯定（300字以内）"></textarea>
            <div class="PopupUpload" @click="PopupUploadSend">提交评论</div>   
        </div>
        <img src="../assets/icon-wclose.png" class="PopupClose" @click="PopupUpload">
    </div>
</template>

<script>
import {API} from '../api/config.js'
import Toast from 'muse-ui-toast';
import { Popup } from 'mint-ui'
export default {
    name:"popup",
    props:{
        starNum:{
            //星星个数
            type:Number,
            default:5,
        },
        defaultRating:{
            // 默认点亮个数
            type:Number,
            default:5,
        },
        outIndex:{
            //外界传进的标示
            type:Number,
            default:0,
        },
        readOnly:{
            //是否只读，拥有点击功能
            type:Boolean,
            default:false,
        },
        PopupClose:{
            type:Boolean,
            required:true
        }
        // PopupClose:Boolean
    },
    data(){
        return {
            // temp:3.3
            rating:this.defaultRating,//控制星星个数
            Biaoqian:[
                {
                    center:'服务真的很棒',
                    check:true
                },
                {
                    center:'完美解决',
                    check:true
                },
                {
                    center:'很满意',
                    check:true
                }
            ],
             Popups:false,
             Mark:5,
             PopupTextarea:'',
             ChooseBiaoyu:[],
             order_id:''
        }
    },
    created(){
        if(this.$route.params.id){
            this.order_id = this.$route.params.id
        } else {
            this.order_id = JSON.parse(sessionStorage.getItem("OrderId"))
        }
        this.Popups = this.PopupClose
    },
    computed:{
        starScore(){
            let stars = []
            let score = Math.floor(this.temp * 2)/2;
            let integerScore = Math.floor(score);
            for(let i=0;i<integerScore;i++){
                stars.push('on')
            }
            if(stars.length<5){
                stars.push('off')
            }
            return stars
        }
    },
    methods:{
        isRating(index){
            ++index
            return index <= this.rating ? 'star-items star-active' : 'star-items'
        },
        clickRating(ev){
            if(this.readOnly){
                return
            }
            this.Mark = parseInt(ev.target.dataset.index) + 1
            this.rating = this.Mark
            // this.$emit('starMarkChange',this.Mark,this.outIndex)
            this.$emit('starMarkChange',this.Mark)
        },
        PopupUpload(){
            this.Popups = false;
            this.$emit("changePopup",this.Popups)
        },
        tianjibiaoyu(value){
            this.PopupTextarea = ''
            this.Biaoqian[value].check = !this.Biaoqian[value].check
            if(this.Biaoqian[value].check == false){
                this.ChooseBiaoyu.push(this.Biaoqian[value].center)
            }else{
                for(var i=0;i<this.ChooseBiaoyu.length;i++){
                    if(this.ChooseBiaoyu[i] == this.Biaoqian[value].center){
                        this.ChooseBiaoyu.splice(i,1)
                    }
                }
            }
            if(this.ChooseBiaoyu.length>1){
                this.ChooseBiaoyu.map((item,index)=>{
                    if(index !== this.ChooseBiaoyu.length-1){
                        item = item+','
                        this.PopupTextarea += item
                    }else{
                        this.PopupTextarea += item
                    }
                })
            }else{
                this.ChooseBiaoyu.map(item=>{
                    this.PopupTextarea += item
                })
            }
            this.PopupTextarea
            console.log(this.ChooseBiaoyu)
        },
        //发送评价
        PopupUploadSend(){
            this.$axios.post(API+'/api/v1/i/comment',{
                'order_id':this.order_id,
                'rate':this.Mark,
                'body':this.PopupTextarea
            },{
                headers:{
                    'Authorization':JSON.parse(localStorage.getItem('userInfo'))
                }
            }).then((response)=>{
                if(response.data.code == 0){
                    // alert("评价成功")
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.success('评价成功');
                    this.Popups = false;
                    this.$emit("changePopup",this.Popups)
                }else{
                    // alert('已评价过改订单')
                    Toast.config({
                        position:'top',
                        time: 1000,
                        close:false,
                    })
                    Toast.message('已评价过改订单');
                }
            })
            
        }
    }
}
</script>

<style>
.Starts{
    display: flex;
    align-items: center;
    justify-content: center
}
.Popup-icon{
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.3rem
}
.star-items{
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5rem;
    background: no-repeat;
    display: inline-block;
    background: url('../assets/icon-star.png');
    background-size:100% 100%;
}
.star-active{
    background: url('../assets/icon-star-on.png');
    background-size:100% 100%;
}
.PopupBox{
    background: RGBA(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.PopupCenter{
    background: #fff;
    position: absolute;
    top: 2.9rem;
    left: 0.3rem;
    width: 6.9rem;
    height: 7.6rem;
    border-radius: 0.2rem;
    padding: 0 0.3rem;
}
.PopupCenter-title{
    text-align: center;
    color: #101012;
    font-size: 14px;
    margin-top:0.4rem;
    margin-bottom: 0.4rem 
}
.PopupCenter-pingfen{
    color: #666666;
    font-size: 14px;
    line-height: 0.74rem;
    font-weight: bold;
    line-height: 0.74rem;
    float: left
}
.PopupBiaoqian{
    color: #666666;
    font-size: 14px;
    line-height: 0.74rem;
    font-weight: bold;
    margin-top: 0.2rem
}
.PopupBiaoqian-center{
    overflow: hidden;
    margin-bottom: 0.6rem
}
.Biaoqian{
    padding: 0.1rem 0.3rem;
    border: #CCCCCC 1px solid;
    border-radius: 0.3rem;
    display: inline-block;
    margin-right: 0.3rem;
    color: #101012;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0.2rem
}
.PopupUpload{
    /* border: 1px solid #9953F0; */
    text-align: center;
    margin-right: 0.3rem;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    padding: 0.2rem 0;
    border-radius: 0.5rem;
    position: absolute;
    width: 6.3rem;
    bottom: 0.8rem;
    background: linear-gradient(to right, #9953F0 , #7465E9);
}
.PopupUploadChange{
    background: linear-gradient(to right, #9953F0 , #7465E9);
    color: #FFFFFF;
}
.BiaoqianActive{
    border: #9953F0 1px solid;
    color: #9953F0
}
.Popuptextarea{
    color: #101012;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    width:100%;
    border: none
}
.PopupClose{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    bottom: 10%;
    left: 46%
}
.PopupActive{
    color: #9953F0;
    border: 1px solid #9953F0
}
</style>
